<!-- account.css.scss -->
<div class="account">
  <div class="container">
    <div class="dashbaord">
      <div class="img">
        <img src="/assets/my_account/dashboard.png">
      </div>
      <h1 class="right-title"><img src="/assets/my_account/right-billing.png">Billing</h1>
    </div>
    <%=render "/home/left"%>
    <div class="right-billing right-height">
      <h3 class="title">Current Jungggle Credit : <span class="credit"><%=number_to_currency(current_user.credit, :unit => "$")%></span></h3>
        <div class="checkout-filter">
          <div class="add-credit">
            <h3>Add Credit</h3>
            <div class="input-area">
              <h5 class="dollar">$</h5>
              <input type="text" class="autonumeric">
            </div>
          </div>
          <div class="billing-country">
            <h3>Billing Country</h3>
            <div class="country-area">
              <div class="country-btn">
                Select <span class="glyphicon glyphicon-chevron-down"></span>
              </div>
              <div class="country-drop">
                <ul>
                  <%Country.all.each do |country|%>
                    <li><%=country.name%></li>
                  <%end%>
                </ul>
              </div>
            </div>
          </div>
          <a href="#none"><div class="checkout-btn" data-toggle="modal" data-target="#add-credit">Checkout Now<img src="/assets/my_account/checkout.png"></div></a>
        </div>

        <p class="history">Billing History</p>
        <table class="history-table">
          <tr class="table-header">
            <td class="date">Date</td>
            <td>Details</td>
            <td>Payment Method</td>
            <td class="amount">Amount</td>
            <td><p class="view">View</p></td>
          </tr>
          <tr class="table-body">
            <td class="date">2014. 7. 17</td>
            <td>Jungggle Credit (Add)</td>
            <td>Wire Transfer</td>
            <td class="amount">Pending</td>
            <td><a href="/home/account_billing_invoice"><p class="view invoice">Invoice</p></a></td>
          </tr>
          <tr class="table-body">
            <td class="date">2014. 7. 17</td>
            <td>Gameberry Inc.</td>
            <td>Jungggle Credit</td>
            <td class="amount">10,000<img src="/assets/my_account/jungggle_credit.png"></td>
            <td><a href="/home/account_billing_receipt"><p class="view receipt">Receipt</p></a></td>
          </tr>
          <tr class="table-body">
            <td class="date">2014. 7. 17</td>
            <td>Gameberry Inc.</td>
            <td>Wire Transfer</td>
            <td class="amount">10,000<img src="/assets/my_account/jungggle_credit.png"></td>
            <td><p class="view cashout" data-toggle="modal" data-target="#Cash-out">Cash Out</p></td>
          </tr>
          <tr class="table-body">
            <td class="date">2014. 7. 17</td>
            <td>Jungggle Credit (Cash Out)</td>
            <td>Wire Transfer</td>
            <td class="amount minus">-10,000 USD</td>
            <td><a href="/home/account_billing_receipt"><p class="view receipt">Receipt</p></a></td>
          </tr>
          <tr class="table-body">
            <td class="date">2014. 7. 17</td>
            <td>Gameberry Inc. (Refund)</td>
            <td>Jungggle Credit</td>
            <td class="amount minus">-10,000<img src="/assets/my_account/jungggle_credit.png"></td>
            <td><a href="/home/account_billing_invoice"><p class="view invoice">Invoice</p></a></td>
          </tr>
          <tr class="table-body">
            <td class="date">2014. 7. 17</td>
            <td>Gameberry Inc.</td>
            <td>Wire Transfer</td>
            <td class="amount">10,000<img src="/assets/my_account/jungggle_credit.png"></td>
            <td><p class="view cashout" data-toggle="modal" data-target="#Cash-out">Cash Out</p></td>
          </tr>
          <tr class="table-body">
            <td class="date">2014. 7. 17</td>
            <td>Jungggle Credit (Add)</td>
            <td>Jungggle Credit</td>
            <td class="amount">10,000 USD</td>
            <td><a href="/home/account_billing_invoice"><p class="view invoice">Invoice</p></a></td>
          </tr>
          <tr class="table-body">
            <td class="date">2014. 7. 17</td>
            <td>Gameberry Inc. (Rejected)</td>
            <td>Jungggle Credit</td>
            <td class="amount minus">-10,000<img src="/assets/my_account/jungggle_credit.png"></td>
            <td><a href="/home/account_billing_receipt"><p class="view receipt">Receipt</p></a></td>
          </tr>
        </table>

    </div>
  </div>
</div>




<!-- add-credit-Modal -->
<div class="modal fade" id="add-credit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-add-credit">
    <div class="modal-content modal-add-credit">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1>Add Credit</h1>
        <div class="modal-contents">
          <h3 class="check-amount">CheckOut Amount : <span>10,000USD</span></h3>
          <p>
            Add credit allows only Wire Transfer.<br>You can find the invoice on Billing History after the CHECKOUT.
            <br><br>If the name of sender is different from the name on "Company Profile", <br>please let us know support@jungggle.com 
          </p>
          <img src="/assets/my_account/checkbox-01.png" style="vertical-align: middle;">
          <img src="/assets/my_account/checkbox-02.png" style="vertical-align: middle;">
          <h5>I have read and agree with the <span>terms</span> and the <span>privacy policy</span></h5>

          <P class="info">1. Remittance charge (Bank transfer fee : about $18) must be paid from the Sender, not from the Beneficiary.</p>
          <p class="info">2. Dfsdfsdfsdfs</p>
          <p class="info">3. asdfasdfasdf</p>
        </div>      
      </div>
      <button type="button" class="checkout-btn" data-toggle="modal" data-dismiss="modal" data-target="#Modal-add-credit-complete"><img src="/assets/my_account/checkout.png">CHECKOUT NOW</button>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- add-credit-complete-Modal -->
<div class="modal fade" id="Modal-add-credit-complete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-add-credit-complete">
    <div class="modal-content modal-add-credit-complete">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1>Thanks for using Jungggle!</h1>
        <p class="info">
          Your order for buying Jungggle Credit has successfully received and the invoice for your order has issued.<br> 
          It usually takes 1 business day to receving the fee after you transfer the fee through your local bank.
        </p>
        <h3 class="check-amount">CheckOut Amount : <span>10,000USD</span></h3>
        <div class="know">
          <h3><img src="/assets/my_account/warning_icon.png">You Must Know!</h3>
          You must make sure that you send the fee with charging the commision to <span style="font-size: 16px; font-weight: 500;">"Sender"</span>  when you proceed the wire transfer in your local bank.
        </div>
        <a href="/advertisers/invoice" target="_blank"><div class="btn-complete">Invoice</div></a>
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Cash-out Modal -->
<div class="modal fade" id="Cash-out" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-Cash-out">
    <div class="modal-content modal-Cash-out">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1>Cash Out Information</h1>
        <h3 class="sub-title">Please insert the accurate bank information.</h3>
        <div class="insert-area" style="padding: 0 25px;">
          <p>Account Number<input type="text" placeholder="40907653304010"></p>
          <p>SWIFT Code<input type="text" placeholder="IBKOKRSEXXX"></p>
          <p>Beneficiary Name<input type="text" placeholder="Jungggle Inc."></p>
          <p>Baneficiary Address<input type="text" placeholder="401 Seodo-building 1712-8 Seocho-dong Seocho-gu Seoul, Korea"></p>
          <p>Bank Name<input type="text" placeholder="INDUSTRIAL BANK OF KOREA"></p>
          <p>Bank Address<input type="text" placeholder="50 ULCHIRO 2-GA, CHUNG-GU Seoul, Korea"></p>
          <div class="btn-area">
            <h5>Your Cash Out fee is : $0<br>for more terms, please check it in <a href="#none">here.</a></h5>
            <button type="button" class="btn" data-toggle="modal" data-dismiss="modal" data-target="#Modal-add-credit">Cash Out</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <h5>1. We cash out via wire transfer every <span>Friday.</span></h5>
        <h5>2. All wire transfers are in <span>US Dollars.</span></h5>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

