<!-- account.css.scss -->

<div class="account">
  <div class="container">
    <div class="dashbaord">
      <div class="img">
        <img src="/assets/my_account/dashboard.png">
      </div>
      <h1 class="right-title"><img src="/assets/my_account/right-billing.png">Billing</h1>
    </div>
    <%=render "/home/left"%>


    <div class="right-billing right-height">
      <h3 class="title">Current Jungggle Credit : <span class="credit">$2,500</span></h3>
      <div class="checkout-filter">
        <div class="add-credit">
          <h3>Add Credit</h3>
          <div class="input-area">
            <h5 class="dollar">$</h5>
            <input type="text">
          </div>
        </div>
        <div class="billing-country">
          <h3>Billing Country</h3>
          <div class="country-area">
            <div class="country-btn">
              South Korea <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="country-drop">
            </div>
          </div>
        </div>
        <a href="#none"><div class="checkout-btn">Checkout Now<img src="/assets/my_account/checkout.png"></div></a>
      </div>

      <p>Billing Country가 <span>South Korea</span> 일 경우, 아래와 같은 절차로 Add Credit 이 완료됩니다.</p>


      <p class="history">Billing History</p>
      <table class="history-table">
        <tr class="table-header">
          <td class="date">Date</td>
          <td>Details</td>
          <td>Payment Method</td>
          <td class="amount">Amount</td>
          <td><p class="view">View</p></td>
        </tr>
        <tr class="table-body">
          <td class="date">2014. 7. 17</td>
          <td>Jungggle Credit (Add)</td>
          <td>Wire Transfer</td>
          <td class="amount">Pending</td>
          <td><a href="/home/account_billing_invoice"><p class="view invoice">Invoice</p></a></td>
        </tr>
        <tr class="table-body">
          <td class="date">2014. 7. 17</td>
          <td>Gameberry Inc.</td>
          <td>Jungggle Credit</td>
          <td class="amount">10,000<img src="/assets/my_account/jungggle_credit.png"></td>
          <td><a href="/home/account_billing_receipt"><p class="view receipt">Receipt</p></a></td>
        </tr>
        <tr class="table-body">
          <td class="date">2014. 7. 17</td>
          <td>Gameberry Inc.</td>
          <td>Wire Transfer</td>
          <td class="amount">10,000<img src="/assets/my_account/jungggle_credit.png"></td>
          <td><p class="view cashout" data-toggle="modal" data-target="#Checkout-Now-kr">Cash Out</p></td>
        </tr>
        <tr class="table-body">
          <td class="date">2014. 7. 17</td>
          <td>Jungggle Credit (Cash Out)</td>
          <td>Wire Transfer</td>
          <td class="amount minus">-10,000 USD</td>
          <td><a href="/home/account_billing_receipt"><p class="view receipt">Receipt</p></a></td>
        </tr>
        <tr class="table-body">
          <td class="date">2014. 7. 17</td>
          <td>Gameberry Inc. (Refund)</td>
          <td>Jungggle Credit</td>
          <td class="amount minus">-10,000<img src="/assets/my_account/jungggle_credit.png"></td>
          <td><a href="/home/account_billing_invoice"><p class="view invoice">Invoice</p></a></td>
        </tr>
        <tr class="table-body">
          <td class="date">2014. 7. 17</td>
          <td>Gameberry Inc.</td>
          <td>Wire Transfer</td>
          <td class="amount">10,000<img src="/assets/my_account/jungggle_credit.png"></td>
          <td><p class="view cashout" data-toggle="modal" data-target="#Checkout-Now-kr">Cash Out</p></td>
        </tr>
        <tr class="table-body">
          <td class="date">2014. 7. 17</td>
          <td>Jungggle Credit (Add)</td>
          <td>Jungggle Credit</td>
          <td class="amount">10,000 USD</td>
          <td><a href="/home/account_billing_invoice"><p class="view invoice">Invoice</p></a></td>
        </tr>
        <tr class="table-body">
          <td class="date">2014. 7. 17</td>
          <td>Gameberry Inc. (Rejected)</td>
          <td>Jungggle Credit</td>
          <td class="amount minus">-10,000<img src="/assets/my_account/jungggle_credit.png"></td>
          <td><a href="/home/account_billing_receipt"><p class="view receipt">Receipt</p></a></td>
        </tr>
      </table>

    </div>
  </div>
</div>






<!-- Checkout-Now-kr Modal -->
<div class="modal fade" id="Checkout-Now-kr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-Checkout-Now-kr">
    <div class="modal-content modal-Checkout-Now-kr">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1>Cash Out Information</h1>
        <h3 class="sub-title">환불 받으실 계좌 정보를 입력하신 후 CASH OUT 버튼을 눌러 환불 절차를 완료해주세요.</h3>
        <div class="insert-area" style="padding: 0 25px;">
          <p>예금주명
            <input type="text">
          </p>
          <p>은행명
            <input type="text">
          </p>
          <p>계좌번호
            <input type="text">        
          </p>
          <div class="btn-area">
            <h5>Your Cash Out fee is : $0<br>for more terms, please check it in <a href="#none">here.</a></h5>
            <button type="button" class="btn" data-toggle="modal" data-dismiss="modal" data-target="#Modal-add-credit">Cash Out</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <p>1. 모든 비용은 <span>$</span> 로 송금됩니다.</p>
        <p>2. 취소 세금계산서는 CASH OUT 버튼 클릭 후 <span>1주일</span> 이내로 발행됩니다.</p>
        <p>3. 취소 세금계산서 발행 후 평균 <span>영업일 1일</span> 이내로 계좌 송금이 완료됩니다.</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





