<div class="product-card-view">
  <div class="container">
    <h1>product_cards_view</h1>
    <div class="product-card">
      <img src="/assets/product_card_view/01.jpg">
      <h3>CPI</h3>
      <h5>Medium Rate</h5>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium et quasi architecto beatae vitae.</p>
      <div class="product-card-footer">
        <div>
          <h5>Cost : <br><span>$0.8 - 1.0</span></h5>
        </div>
        <div class="right">
          <h5>Rating : <br><span>8,7</span></h5>
        </div>
      </div>
    </div>
    <div class="product-card">
      <img src="/assets/product_card_view/02.jpg">
      <h3>CPI</h3>
      <h5>Medium Rate</h5>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium et quasi architecto beatae vitae.</p>
      <div class="product-card-footer">
        <div>
          <h5>Cost : <br><span>$0.8 - 1.0</span></h5>
        </div>
        <div class="right">
          <h5>Rating : <br><span>8,7</span></h5>
        </div>
      </div>
    </div>
    <div class="product-card">
      <img src="/assets/product_card_view/03.jpg">
      <h3>CPI</h3>
      <h5>Medium Rate</h5>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium et quasi architecto beatae vitae.</p>
      <div class="product-card-footer">
        <div>
          <h5>Cost : <br><span>$0.8 - 1.0</span></h5>
        </div>
        <div class="right">
          <h5>Rating : <br><span>8,7</span></h5>
        </div>
      </div>
    </div>
    <div class="product-card">
      <img src="/assets/product_card_view/04.jpg">
      <h3>CPI</h3>
      <h5>Medium Rate</h5>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium et quasi architecto beatae vitae.</p>
      <div class="product-card-footer">
        <div>
          <h5>Cost : <br><span>$0.8 - 1.0</span></h5>
        </div>
        <div class="right">
          <h5>Rating : <br><span>8,7</span></h5>
        </div>
      </div>
    </div>
    <div class="product-card">
      <img src="/assets/product_card_view/04.jpg">
      <h3>CPI</h3>
      <h5>Medium Rate</h5>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium et quasi architecto beatae vitae.</p>
      <div class="product-card-footer">
        <div>
          <h5>Cost : <br><span>$0.8 - 1.0</span></h5>
        </div>
        <div class="right">
          <h5>Rating : <br><span>8,7</span></h5>
        </div>
      </div>
    </div>
    <div class="product-card">
      <img src="/assets/product_card_view/03.jpg">
      <h3>CPI</h3>
      <h5>Medium Rate</h5>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium et quasi architecto beatae vitae.</p>
      <div class="product-card-footer">
        <div>
          <h5>Cost : <br><span>$0.8 - 1.0</span></h5>
        </div>
        <div class="right">
          <h5>Rating : <br><span>8,7</span></h5>
        </div>
      </div>
    </div>
    <div class="product-card">
      <img src="/assets/product_card_view/02.jpg">
      <h3>CPI</h3>
      <h5>Medium Rate</h5>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium et quasi architecto beatae vitae.</p>
      <div class="product-card-footer">
        <div>
          <h5>Cost : <br><span>$0.8 - 1.0</span></h5>
        </div>
        <div class="right">
          <h5>Rating : <br><span>8,7</span></h5>
        </div>
      </div>
    </div>
    <div class="product-card">
      <img src="/assets/product_card_view/01.jpg">
      <h3>CPI</h3>
      <h5>Medium Rate</h5>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium et quasi architecto beatae vitae.</p>
      <div class="product-card-footer">
        <div>
          <h5>Cost : <br><span>$0.8 - 1.0</span></h5>
        </div>
        <div class="right">
          <h5>Rating : <br><span>8,7</span></h5>
        </div>
      </div>
    </div>

    <ul class="pagination">
      <li class="disabled"><a href="#">«</a></li>
      <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">8</a></li>
      <li class="disabled"><a href="#">«</a></li>
    </ul>
    
  </div>
</div>






