<div class="product-table-view">
  <div class="container">
    <h1>/advertisers/product_cards_view</h1>
    
  
    <table>
      <tr class="table-header">
        <td class="company-img">Company name</td>
        <td></td>
        <td>Service details</td>
        <td>Marketing type</td>
        <td>Cost</td>
        <td>Rating</td>
        <td></td>
      </tr>
      <tr class="table-body">
        <td class="company-img"><img src="/assets/product_card_view/01.jpg"></td>
        <td class="name">Medium Rate</td>
        <td class="service">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium et quasi architecto beatae vitae.</td>
        <td class="marketing-type">CPI</td>
        <td class="cost">$0.8 - 1.0</td>
        <td class="rating">8.7<span>120 reviews</span></td>
        <td><button type="button" class="btn btn-default  ">Detail</button></td>
      </tr>
      <tr class="table-body">
        <td class="company-img"><img src="/assets/product_card_view/02.jpg"></td>
        <td class="name">Medium Rate</td>
        <td class="service">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium et quasi architecto beatae vitae.</td>
        <td class="marketing-type">CPI</td>
        <td class="cost">$0.8 - 1.0</td>
        <td class="rating">8.7<span>120 reviews</span></td>
        <td><button type="button" class="btn btn-default  ">Detail</button></td>
      </tr>
      <tr class="table-body">
        <td class="company-img"><img src="/assets/product_card_view/03.jpg"></td>
        <td class="name">Medium Rate</td>
        <td class="service">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium et quasi architecto beatae vitae.</td>
        <td class="marketing-type">CPI</td>
        <td class="cost">$0.8 - 1.0</td>
        <td class="rating">8.7<span>120 reviews</span></td>
        <td><button type="button" class="btn btn-default  ">Detail</button></td>
      </tr>
      <tr class="table-body">
        <td class="company-img"><img src="/assets/product_card_view/04.jpg"></td>
        <td class="name">Medium Rate</td>
        <td class="service">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium et quasi architecto beatae vitae.</td>
        <td class="marketing-type">CPI</td>
        <td class="cost">$0.8 - 1.0</td>
        <td class="rating">8.7 <span>120 reviews</span></td>
        <td><button type="button" class="btn btn-default  ">Detail</button></td>
      </tr>
    </table>

    <ul class="pagination">
      <li class="disabled"><a href="#">«</a></li>
      <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">8</a></li>
      <li class="disabled"><a href="#">«</a></li>
    </ul>

  </div>
</div>
