<div class="project-results">
  <div class="container">
    <h1>Project Results</h1>
    <div>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Country <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Marketin type <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>

      <p class="or">or</p>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </div>

    <p class="small-title">Most Satisfied Projects</p>
  </div>
</div>


<div class="project-results-detail">
  <div class="container">
    <div class="content-left">
      <img src="/assets/product_result/img_01.png" class="main-results-img">
    </div>
    <div class="content-right">
      <div class="company">company</div>
      <h1>Tapjoy Inc.</h1>
      <p>Japan / CPI(iOS)</p>

      <h3>Project Overview</h3>
      <table class="table">
        <tr class="header">
          <td>Complete Date</td>
          <td>Marketing Type</td>
          <td>Unit Cost</td>
          <td>Qty.</td>
          <td>Budget</td>
        </tr>
        <tr class="contents">
          <td>2014.7.17</td>
          <td>CPI(iOS)</td>
          <td>$0,5</td>
          <td>1,000</td>
          <td>$500</td>
        </tr>
      </table>

    </div>

    <!-- 
    <img src="/assets/product_result/img_02.png">
    <img src="/assets/product_result/img_03.png">
    <img src="/assets/product_result/img_04.png">
  -->
    <div class="comment">
      <h3>Publisher Comment</h3>
      <textarea rows="5" name="contents"></textarea>
    </div>

    <div class="advertiser-feedback">
      <h4>Advertiser Feedback</h4>
      <div class="feedback-paragraph">
        <p class="theme-a">Satisfied with...</p>
        <p class="date">on Jul 21, 2013</p>
        <p class="content">The journey can't be quick. Real discoveries like this take years. We expect our entertainment to do the impossible, but this is one hell of a ride.</p>
      </div>
      <div class="feedback-paragraph">
        <p class="theme-b">Unsatisfied with...</p>
        <p class="date">on Jul 21, 2013</p>
        <p class="content">Very unsatisifed customer. I moved last year. For me, they gave a very low estimate, and then on the day of the move they doubled it. The online estimate was not honored, and I had to sign a new contract. Over the phone details and the online estimate are worthless. Very bad experience. I do not recommend them if you want a stress-free and controlled move.</p>
      </div>
    </div>
  </div>

</div>



