<!-- log.css.scss -->

<div class="email-confirm container">
  <%if @already%>
    <h2> "Your email has been confirmed already."
  <%else%>
    <h2> "Confirmation Mail was resent.<br>(<%=@user.email%>)<br>Please confirm in 30 minutes."</h2>
    <a href="/users/reconfirm" class="let-btn">Resend</a>
  <%end%>
</div>
