<!-- new_create-service.css.scss -->
<div class="tab-details right-height" id="right">
  <div class="share-pack">
    <div class="share-area">
      <table>
        <tr>
          <td><h2>Traffic</h2></td>
          <td>
            <!-- Flat rate일 경우 (.flat-rate-group단위로 반복) -->
            <div class="rate-group flat-rate-group">
              <input type="text" name="numbers" placeholder="Numbers Only">
              <div class="form-area">
                <div class="form impressions-form">
                  <h3>Impressions<span class="glyphicon glyphicon-chevron-down"></span></h3>
                  <div class="dropdown impressions-dropdown">
                    <ul>
                      <li>User Views</li>
                      <li>DAU</li>
                      <li>MAU</li>
                      <li>Installs</li>
                      <li>Users</li>
                      <li>Followers</li>
                      <li>Views</li>
                      <li>* Write your own</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="form-area">
                <div class="form">
                  <h3>Monthly<span class="glyphicon glyphicon-chevron-down"></span></h3>
                  <div class="dropdown">
                    <ul>
                      <li>Weekly</li>
                      <li>Daily</li>
                      <li>Total</li>
                    </ul>
                  </div>
                </div>
              </div>
              <img src="/assets/my_account/delete.png" class="group-delete">
            </div>
            <div class="rate-group flat-rate-group">
              <input type="text" name="numbers" placeholder="Numbers Only">
              <div class="form-area">
                <div class="form impressions-form">
                  <h3>Impressions<span class="glyphicon glyphicon-chevron-down"></span></h3>
                  <div class="dropdown impressions-dropdown">
                    <ul>
                      <li>User Views</li>
                      <li>DAU</li>
                      <li>MAU</li>
                      <li>Installs</li>
                      <li>Users</li>
                      <li>Followers</li>
                      <li>Views</li>
                      <li>* Write your own</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="form-area">
                <div class="form">
                  <h3>Monthly<span class="glyphicon glyphicon-chevron-down"></span></h3>
                  <div class="dropdown">
                    <ul>
                      <li>Weekly</li>
                      <li>Daily</li>
                      <li>Total</li>
                    </ul>
                  </div>
                </div>
              </div>
              <img src="/assets/my_account/delete.png" class="group-delete">
            </div>
          </td>
        </tr>
        <!-- multiple rate 일 경우 <tr>단위로 반복 -->
        <tr>
          <td></td>
          <td>
            <!-- multiple rate일 경우 group형태 -->
            <div class="rate-group multiple-rate-group">
              <table>
                <tr>
                  <td>
                    <div class="multiple-cost">
                      <h3>$10,000</h3>
                      <input type="text" name="numbers" placeholder="Numbers Only">
                    </div>         
                  </td>
                  <td rowspan="4" style="vertical-align: middle;">
                    <div class="form-area">
                      <div class="form impressions-form">
                        <h3>Impressions<span class="glyphicon glyphicon-chevron-down"></span></h3>
                        <div class="dropdown impressions-dropdown">
                          <ul>
                            <li>User Views</li>
                            <li>DAU</li>
                            <li>MAU</li>
                            <li>Installs</li>
                            <li>Users</li>
                            <li>Followers</li>
                            <li>Views</li>
                            <li>* Write your own</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="form-area">
                      <div class="form monthly-form">
                        <h3>Monthly<span class="glyphicon glyphicon-chevron-down"></span></h3>
                        <div class="dropdown">
                          <ul>
                            <li>Weekly</li>
                            <li>Daily</li>
                            <li>Total</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="multiple-cost">
                      <h3>$10,000</h3>
                      <input type="text" class="form" placeholder="Numbers Only">
                    </div>         
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="multiple-cost">
                      <h3>$10,000</h3>
                      <input type="text" class="form" placeholder="Numbers Only">
                    </div>         
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="multiple-cost">
                      <h3>$10,000</h3>
                      <input type="text" class="form" placeholder="Numbers Only">
                    </div>         
                  </td>
                </tr>
              </table>
            </div>
          </td>
          <td style="vertical-align: middle;">
            <img src="/assets/my_account/delete.png" class="group-delete">
          </td>
        </tr>
        <!-- multiple rate 일 경우 <tr>단위로 반복 -->
        <tr>
          <td></td>
          <td>
            <!-- multiple rate일 경우 group형태 -->
            <div class="rate-group multiple-rate-group">
              <table>
                <tr>
                  <td>
                    <div class="multiple-cost">
                      <h3>$10,000</h3>
                      <input type="text" name="numbers" placeholder="Numbers Only">
                    </div>         
                  </td>
                  <td rowspan="4" style="vertical-align: middle;">
                    <div class="form-area">
                      <div class="form impressions-form">
                        <h3>Impressions<span class="glyphicon glyphicon-chevron-down"></span></h3>
                        <div class="dropdown impressions-dropdown">
                          <ul>
                            <li>User Views</li>
                            <li>DAU</li>
                            <li>MAU</li>
                            <li>Installs</li>
                            <li>Users</li>
                            <li>Followers</li>
                            <li>Views</li>
                            <li>* Write your own</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="form-area">
                      <div class="form monthly-form">
                        <h3>Monthly<span class="glyphicon glyphicon-chevron-down"></span></h3>
                        <div class="dropdown">
                          <ul>
                            <li>Weekly</li>
                            <li>Daily</li>
                            <li>Total</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="multiple-cost">
                      <h3>$10,000</h3>
                      <input type="text" class="form" placeholder="Numbers Only">
                    </div>         
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="multiple-cost">
                      <h3>$10,000</h3>
                      <input type="text" class="form" placeholder="Numbers Only">
                    </div>         
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="multiple-cost">
                      <h3>$10,000</h3>
                      <input type="text" class="form" placeholder="Numbers Only">
                    </div>         
                  </td>
                </tr>
              </table>
            </div>
          </td>
          <td style="vertical-align: middle;">
            <img src="/assets/my_account/delete.png" class="group-delete">
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Provide the traffic information about your network, media, webiste, app, etc.</p></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <img src="/assets/my_account/circle_plus.png" class="plus">
          </td>
        </tr>
      </table>
    </div>
  </div>







  <div class="share-pack">
    <div class="share-area">
      <table>
        <tr>
          <td><h2>Company Type</h2></td>
          <td>
            <div class="share-form-area company-type-form-area">
              <div class="share-form company-type-form">
                <h3>Ad network<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown company-type-dropdown">
                  <ul>
                    <li>Agency</li>
                    <li>Ad network</li>
                    <li>DSP</li>
                    <li>SSP</li>
                    <li>Ad exchange</li>
                    <li>Publisher (App / Webiste)</li>
                    <li>Media</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="share-area">
      <table>
        <tr>
          <td><h2>AD Type</h2></td>
          <td>
            <!-- Flat rate일 경우 (.flat-rate-group단위로 반복) -->
            <div class="rate-group flat-rate-group">
              <div class="form-area">
                <div class="form">
                  <h3>Banner<span class="glyphicon glyphicon-chevron-down"></span></h3>
                  <div class="dropdown">
                    <ul>
                      <li>Interstitial</li>
                      <li>Rich media</li>
                      <li>Video</li>
                      <li>Screen</li>
                      <li>Display</li>
                      <li>Offerwall</li>
                      <li>Voice</li>
                      <li>Text</li>
                      <li>* Other...</li>
                    </ul>
                  </div>
                </div>
              </div>


              <div class="form-area">
                <div class="form">
                  <h3>px<span class="glyphicon glyphicon-chevron-down"></span></h3>
                  <div class="dropdown">
                    <ul>
                      <li></li>
                    </ul>
                  </div>
                </div>
              </div>



              <img src="/assets/my_account/delete.png" class="group-delete">
            </div>
          </td>
        </tr>
      </table>
      
    </div>
    <div class="area share-area">
      <table>
        <tr>
          <td><h2>Integration Support</h2></td>
          <td class="integration">
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">SDK</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">API</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">S2S</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">URL Scheme</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Package Name</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Not Needed</h3>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">
    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Est. Result</h2></td>
          <td>
            <div class="share-area share-form-area est-form-area">
              <input type="text" class="form" placeholder="Numbers Only">
              <div class="share-form est-form impressions-form">
                <h3>Conversions<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown est-dropdown">
                  <ul>
                    <li>Impressions</li>
                    <li>Conversions</li>
                    <li>Conversion Rate</li>
                    <li>CTR</li>
                    <li>Views</li>
                    <li>Sign Ups</li>
                    <li>Rank</li>
                    <li>Installs</li>
                    <li>N/A</li>
                    <li>* Other...</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Delivery Speed</h2></td>
          
          <!-- flat rate일 경우 -->
          <td>


          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <div class="share-form-area est-form-area">
              <input type="text" class="form" placeholder="Numbers Only">
              <div class="share-form est-form impressions-form">
                <h3>Impressions<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown est-dropdown">
                  <ul>
                    <li>Impressions</li>
                    <li>Clicks</li>
                    <li>Installs</li>
                    <li>Views</li>
                    <li>N/A</li>
                    <li>* Other...</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="share-form-area est-form-area">
              <div class="share-form est-form impressions-form">
                <h3>Day<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown est-dropdown">
                  <ul>
                    <li>Impressions</li>
                    <li>Clicks</li>
                    <li>Installs</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Specifying the delivery speed can help Advertisers to determine the amount of Ads to buy.</p></td>
        </tr>
        <tr>
          <td></td>
          <td><img src="/assets/my_account/circle_plus.png" class="plus"></td>
        </tr>
      </table>
    </div>
  </div>


  <!-- marketing-type 1 -->
  <br><br>
  <hr><p>AD_CPP</p><br>

  <div class="share-pack">
    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Period</h2></td>
          <td>
            <div class="share-form-area est-form-area">
              <input type="text" class="form" placeholder="Numbers Only">
              <div class="share-form est-form impressions-form">
                <h3>Day<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown est-dropdown">
                  <ul>
                    <li>Impressions</li>
                    <li>Conversions</li>
                    <li>Conversion Rate</li>
                    <li>CTR</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Indicate how long the AD will be exposed.</p></td>
        </tr>
      </table>
    </div>
  </div>


  <!-- marketing-type 2 -->
  <br><br>
  <hr><p>Promotion_Blog, Community/Forum, SponsoredPost</p><br>

  <div class="share-pack">
    <div class="area post-area">
      <table>
        <tr>
          <td><h2># of Posts</h2></td>
          <td class="post-right">
            <input type="text" class="form" placeholder="Numbers Only">
            <h3 class="select"><img src="/assets/my_account/radio-01.png">Guaranteed</h3>
            <h3 class="select"><img src="/assets/my_account/radio-02.png">Estimate</h3>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Indicate the number of posts you will provide.</p></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">
    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Est. Result</h2></td>
          <td>
            <div class="share-form-area est-form-area">
              <input type="text" class="form" placeholder="Numbers Only">
              <div class="share-form est-form impressions-form">
                <h3>View<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown est-dropdown">
                  <ul>
                    <li>Impressions</li>
                    <li>Conversions</li>
                    <li>Conversion Rate</li>
                    <li>CTR</li>
                    <li>Views</li>
                    <li>Sign Ups</li>
                    <li>Rank</li>
                    <li>Installs</li>
                    <li>N/A</li>
                    <li>* Other...</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>It's very important to show Est.Result in as many ways as you can.<Br>It's the most important information for Advertisers to decide about the purchase.</p></td>
        </tr>
        <tr>
          <td></td>
          <td><img src="/assets/my_account/circle_plus.png" class="plus"></td>
        </tr>
      </table>
    </div>
  </div>

  <!-- marketing-type 3 -->
  <br><br>
  <hr><p>Promotion_PR</p><br>

  <div class="share-pack">
    <div class="area post-area">
      <table>
        <tr>
          <td><h2># of Posts</h2></td>
          <td class="post-right">
            <input type="text" class="form" placeholder="Numbers Only">
            <h3 class="select"><img src="/assets/my_account/radio-01.png">Guaranteed</h3>
            <h3 class="select"><img src="/assets/my_account/radio-02.png">Estimate</h3>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Indicate the number of posts you will provide.</p></td>
        </tr>
      </table>
    </div>
    <div class="area writing-area">
      <table>
        <tr>
          <td><h2>Writing Service<br>included</h2></td>
          <td class="writing-right">
            <h3 class="select"><img src="/assets/my_account/radio-01.png">Yes</h3>
            <h3 class="select"><img src="/assets/my_account/radio-02.png">No</h3>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">
    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Est. Result</h2></td>
          <td>
            <div class="share-form-area est-form-area">
              <input type="text" class="form" placeholder="Numbers Only">
              <div class="share-form est-form impressions-form">
                <h3>View<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown est-dropdown">
                  <ul>
                    <li>Impressions</li>
                    <li>Conversions</li>
                    <li>Conversion Rate</li>
                    <li>CTR</li>
                    <li>Views</li>
                    <li>Sign Ups</li>
                    <li>Rank</li>
                    <li>Installs</li>
                    <li>N/A</li>
                    <li>* Other...</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>It's very important to show Est.Result in as many ways as you can.<Br>It's the most important information for Advertisers to decide about the purchase.</p></td>
        </tr>
        <tr>
          <td></td>
          <td><img src="/assets/my_account/circle_plus.png" class="plus"></td>
        </tr>
      </table>
    </div>
  </div>


  <!-- marketing-type 4 -->
  <br><br>
  <hr><p>Promotion_Event</p><br>

  <div class="share-pack">
    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Est. Result</h2></td>
          <td>
            <div class="share-form-area est-form-area">
              <input type="text" class="form" placeholder="Numbers Only">
              <div class="share-form est-form impressions-form">
                <h3>View<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown est-dropdown">
                  <ul>
                    <li>Impressions</li>
                    <li>Conversions</li>
                    <li>Conversion Rate</li>
                    <li>CTR</li>
                    <li>Views</li>
                    <li>Sign Ups</li>
                    <li>Rank</li>
                    <li>Installs</li>
                    <li>N/A</li>
                    <li>* Other...</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>It's very important to show Est.Result in as many ways as you can.<Br>It's the most important information for Advertisers to decide about the purchase.</p></td>
        </tr>
        <tr>
          <td></td>
          <td><img src="/assets/my_account/circle_plus.png" class="plus"></td>
        </tr>
      </table>
    </div>
  </div>


  <!-- marketing-type 5 -->
  <br><br>
  <hr><p>Promotion_SEO</p><br>

  <div class="share-pack">
    <div class="area share-area company-type-area">
      <table>
        <tr>
          <td><h2>Target Search Engine</h2></td>
          <td>
            <div class="share-form-area company-type-form-area">
              <div class="share-form company-type-form">
                <h3>Google<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown company-type-dropdown">
                  <ul>
                    <li>Agency</li>
                    <li>Ad network</li>
                    <li>DSP</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>  
    </div>
    <div class="area post-area">
      <table>
        <tr>
          <td><h2># of Keywords</h2></td>
          <td class="post-right">
            <input type="text" class="form" placeholder="Numbers Only">
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Insert the maximum number of keywords or keyphrases you can provide.</p></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">
    <div class="area writing-area">
      <table>
        <tr>
          <td><h2>Competitor Analysis<br>included</h2></td>
          <td class="writing-right">
            <h3 class="select"><img src="/assets/my_account/radio-01.png">Yes</h3>
            <h3 class="select"><img src="/assets/my_account/radio-02.png">No</h3>
          </td>
        </tr>
      </table>
    </div>
    <div class="area">
      <table>
        <tr>
          <td><h2>On Page Optimization</h2></td>
          <td class="integration">
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Meta Tag</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Content</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">URL</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Hyperlinks</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Header</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Image</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">HTML Sitemap</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">XML Sitemap</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Robots.txt</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">SEO Implementation Support</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">N/A</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">* Other...</h3>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">
    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Est. Result</h2></td>
          <td>
            <div class="share-form-area est-form-area">
              <input type="text" class="form" placeholder="Numbers Only">
              <div class="share-form est-form impressions-form">
                <h3>View<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown est-dropdown">
                  <ul>
                    <li>Impressions</li>
                    <li>Conversions</li>
                    <li>Conversion Rate</li>
                    <li>CTR</li>
                    <li>Views</li>
                    <li>Sign Ups</li>
                    <li>Rank</li>
                    <li>Installs</li>
                    <li>N/A</li>
                    <li>* Other...</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>It's very important to show Est.Result in as many ways as you can.<Br>It's the most important information for Advertisers to decide about the purchase.</p></td>
        </tr>
        <tr>
          <td></td>
          <td><img src="/assets/my_account/circle_plus.png" class="plus"></td>
        </tr>
      </table>
    </div>
    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Project Duration</h2></td>
          <td>
            <div class="share-form-area est-form-area">
              <input type="text" class="form" placeholder="Numbers Only">
              <div class="share-form est-form impressions-form">
                <h3>Day<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown est-dropdown">
                  <ul>
                    <li>Impressions</li>
                    <li>Conversions</li>
                    <li>Conversion Rate</li>
                    <li>CTR</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Indicate the time period of the project.</p></td>
        </tr>
        <tr>
          <td></td>
          <td><img src="/assets/my_account/circle_plus.png" class="plus"></td>
        </tr>
      </table>
    </div>
  </div>


  <!-- marketing-type 6 -->
  <br><br>
  <hr><p>Promotion_ASO</p><br>

  <div class="share-pack">

    <div class="area writing-area">
      <table>
        <tr>
          <td><h2>Platform</h2></td>
          <td class="writing-right">
            <h3 class="select"><img src="/assets/my_account/radio-01.png">iOS</h3>
            <h3 class="select"><img src="/assets/my_account/radio-02.png">Android</h3>
            <h3 class="select"><img src="/assets/my_account/radio-02.png">* Other...</h3>
          </td>
        </tr>
      </table>
    </div>
    <div class="area post-area">
      <table>
        <tr>
          <td><h2># of Keywords</h2></td>
          <td class="post-right">
            <input type="text" class="form" placeholder="Numbers Only">
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Insert the maximum number of keywords you can provide.</p></td>
        </tr>
        <tr>
          <td></td>
          <td><img src="/assets/my_account/circle_plus.png" class="plus"></td>
        </tr>
      </table>
    </div>
    <div class="area writing-area">
      <table>
        <tr>
          <td><h2>Competitor Analysis<br>included</h2></td>
          <td class="writing-right">
            <h3 class="select"><img src="/assets/my_account/radio-01.png">Yes</h3>
            <h3 class="select"><img src="/assets/my_account/radio-02.png">No</h3>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">
    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Est. Result</h2></td>
          <td>
            <div class="share-form-area est-form-area">
              <input type="text" class="form" placeholder="Numbers Only">
              <div class="share-form est-form impressions-form">
                <h3>Day<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown est-dropdown">
                  <ul>
                    <li>Impressions</li>
                    <li>Conversions</li>
                    <li>Conversion Rate</li>
                    <li>CTR</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><img src="/assets/my_account/circle_plus.png" class="plus"></td>
        </tr>
        <tr>
          <td></td>
          <td><p>Indicate how long the AD will be exposed.</p></td>
        </tr>
      </table>
    </div>
    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Project Duration</h2></td>
          <td>
            <div class="share-form-area est-form-area">
              <input type="text" class="form" placeholder="Numbers Only">
              <div class="share-form est-form impressions-form">
                <h3>Day<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown est-dropdown">
                  <ul>
                    <li>Impressions</li>
                    <li>Conversions</li>
                    <li>Conversion Rate</li>
                    <li>CTR</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>체크박스 삽입하기 N/A</p></td>
        </tr>
      </table>
    </div>
  </div>


  <!-- marketing-type 7 -->
  <br><br>
  <hr><p>Management_SNS</p><br>

  <div class="share-pack">
    <div class="area share-area company-type-area">
      <table>
        <tr>
          <td><h2>Channel</h2></td>
          <td>
            <div class="share-form-area company-type-form-area">
              <div class="share-form company-type-form">
                <h3>Facebook<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown company-type-dropdown">
                  <ul>
                    <li>Agency</li>
                    <li>Ad network</li>
                    <li>DSP</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="area post-area">
      <table>
        <tr>
          <td><h2># of Posts</h2></td>
          <td class="post-right">
            <input type="text" class="form" placeholder="Numbers Only">
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Indicate the number of posts you provide per month.</p></td>
        </tr>
      </table>
    </div>
    <div class="area">
      <table>
        <tr>
          <td><h2>Contents Type</h2></td>
          <td class="integration">
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Text</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Image</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Video</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">* Other...</h3>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">

    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Est. Result</h2></td>
          <td>
            <div class="share-form-area est-form-area">
              <input type="text" class="form" placeholder="Numbers Only">
              <div class="share-form est-form impressions-form">
                <h3>Likes<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown est-dropdown">
                  <ul>
                    <li>Impressions</li>
                    <li>Conversions</li>
                    <li>Conversion Rate</li>
                    <li>CTR</li>
                    <li>Views</li>
                    <li>Sign Ups</li>
                    <li>Rank</li>
                    <li>Installs</li>
                    <li>N/A</li>
                    <li>* Other...</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>It's very important to show Est.Result in as many ways as you can.<br>It's the most important information for Advertisers to decide about the purchase.</p></td>
        </tr>
        <tr>
          <td></td>
          <td><img src="/assets/my_account/circle_plus.png" class="plus"></td>
        </tr>
      </table>
    </div>
  </div>


  <!-- marketing-type 8 -->
  <br><br>
  <hr><p>Management_Community/Forum</p><br>

  <div class="share-pack">
    <div class="area share-area company-type-area">
      <table>
        <tr>
          <td><h2>Channel</h2></td>
          <td>
            <div class="share-form-area company-type-form-area">
              <div class="share-form company-type-form">
                <h3>Facebook<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown company-type-dropdown">
                  <ul>
                    <li>Agency</li>
                    <li>Ad network</li>
                    <li>DSP</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="area post-area">
      <table>
        <tr>
          <td><h2># of Posts</h2></td>
          <td class="post-right">
            <input type="text" class="form" placeholder="Numbers Only">
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Indicate the number of posts you provide per month.</p></td>
        </tr>
      </table>
    </div>
     <div class="area writing-area">
      <table>
        <tr>
          <td><h2>Writing Service<br>included</h2></td>
          <td class="writing-right">
            <h3 class="select"><img src="/assets/my_account/radio-01.png">Yes</h3>
            <h3 class="select"><img src="/assets/my_account/radio-02.png">No</h3>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>Will you develop the forum website?</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">
    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Est. Result</h2></td>
          <td>
            <div class="share-form-area est-form-area">
              <input type="text" class="form" placeholder="Numbers Only">
              <div class="share-form est-form impressions-form">
                <h3>Sign Ups<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown est-dropdown">
                  <ul>
                    <li>Impressions</li>
                    <li>Conversions</li>
                    <li>Conversion Rate</li>
                    <li>CTR</li>
                    <li>Views</li>
                    <li>Sign Ups</li>
                    <li>Rank</li>
                    <li>Installs</li>
                    <li>N/A</li>
                    <li>* Other...</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>It's very important to show Est.Result in as many ways as you can.<br>It's the most important information for Advertisers to decide about the purchase.</p></td>
        </tr>
        <tr>
          <td></td>
          <td><img src="/assets/my_account/circle_plus.png" class="plus"></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">
    <div class="area share-area company-type-area">
      <table>
        <tr>
          <td><h2>Monitoring Hours</h2></td>
          <td>
            <div class="left">
              <input>:<input>
            </div>
            <h3>to</h3>
            <div class="right">
              <input>:<input>
            </div>
            <div class="am-pm">
              <p>AM</p>
              <p>PM</p>
            </div>
            <div class="share-form-area company-type-form-area">
              <div class="share-form company-type-form">
                <h3>Timezone<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown company-type-dropdown">
                  <ul>
                    <li>Agency</li>
                    <li>Ad network</li>
                    <li>DSP</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="area">
      <table>
        <tr>
          <td><h2>Contents Type</h2></td>
          <td class="integration">
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Mon - Fri</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Saturday</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Sunday</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Holiday</h3>
          </td>
        </tr>
      </table>
    </div>
  </div>


  <!-- marketing-type 9 -->
  <br><br>
  <hr><p>Management_Customer Service (C/S)</p><br>

  <div class="share-pack">
    <div class="area post-area">
      <table>
        <tr>
          <td><h2># of Keywords</h2></td>
          <td class="post-right">
            <input type="text" class="form" placeholder="Numbers Only">
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>How many people per month will take on/adopt/undertake the Customer Service duties?<br>(ex. 2 people that each work 50%  of the time --> 1 man month)</p></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">
    <div class="area">
      <table>
        <tr>
          <td><h2>Available Methods</h2></td>
          <td class="integration">
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Email</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Call</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Live Chat</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">* Other...</h3>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>Select which methods of customer contact you (can/will) provide.</td>
        </tr>
      </table>
    </div>
    <div class="area share-area company-type-area">
      <table>
        <tr>
          <td><h2>Business Hours</h2></td>
          <td>
            <div class="left">
              <input>:<input>
            </div>
            <h3>to</h3>
            <div class="right">
              <input>:<input>
            </div>
            <div class="am-pm">
              <p>AM</p>
              <p>PM</p>
            </div>
            <div class="share-form-area company-type-form-area">
              <div class="share-form company-type-form">
                <h3>Timezone<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown company-type-dropdown">
                  <ul>
                    <li>Agency</li>
                    <li>Ad network</li>
                    <li>DSP</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="area">
      <table>
        <tr>
          <td><h2>Weekly Availability</h2></td>
          <td class="integration">
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Mon - Fri</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Saturday</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Sunday</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Holiday</h3>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">
    <div class="area post-area">
      <table>
        <tr>
          <td><h2>Max # of Inquiries</h2></td>
          <td class="post-right">
            <input type="text" class="form" placeholder="Numbers Only">
          </td>
        </tr>
        <tr>
          <td></td>
          <td>체크박스 삽입 Unlimited</td>
        </tr>
        <tr>
          <td></td>
          <td><p>Indicate the maximum number of inquiries that you can handle. Check Unlimited~~</p></td>
        </tr>
      </table>
    </div>
  </div>


  <!-- marketing-type 10 -->
  <br><br>
  <hr><p>Test_CBT (Closed Beta Test)</p><br>

  <div class="share-pack">
    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Total # of testers<br>available</h2></td>
          <td>
            <div class="share-form-area est-form-area">
              <input type="text" class="form" placeholder="Numbers Only">
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>This is the total number of Testers that you have available. From this group you will select a small number of Testers that will perform/do the actual testing.</p></td>
        </tr>
      </table>
    </div>
    <div class="area">
      <table>
        <tr>
          <td><h2>Target</h2></td>
          <td class="integration">
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Sex</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Age</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Region</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Device</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">OS</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Interest</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Job</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">* Other...</h3>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Select all the indicators that apply. Note: you should only select the ones that are included in the cost for this service. </p></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">
    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Questionnaire Design</h2></td>
          <td>
            <div class="share-form-area est-form-area">
              <div class="share-form est-form impressions-form">
                <h3>  Complete Construction<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown est-dropdown">
                  <ul>
                    <li>Impressions</li>
                    <li>Conversions</li>
                    <li>Conversion Rate</li>
                    <li>CTR</li>
                    <li>Views</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Indicate how much help you provide with creating the questionnaire.</p></td>
        </tr>
      </table>
    </div>

    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Max # of Questions</h2></td>
          <td>
            <div class="share-form-area est-form-area">
              <input type="text" class="form" placeholder="Numbers Only">
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>체크박스 삽입 Unlimited</td>
        </tr>
        <tr>
          <td></td>
          <td><p>Give the maximum number of questions that can be asked to the Testers.</p></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">

    <div class="area writing-area">
      <table>
        <tr>
          <td><h2>Test Video included</h2></td>
          <td class="writing-right">
            <h3 class="select"><img src="/assets/my_account/radio-02.png">Yes</h3>
            <h3 class="select"><img src="/assets/my_account/radio-01.png">No</h3>
          </td>
        </tr>
      </table>
    </div>
    <div class="area writing-area">
      <table>
        <tr>
          <td><h2>Report included</h2></td>
          <td class="writing-right">
            <h3 class="select"><img src="/assets/my_account/radio-02.png">Yes</h3>
            <h3 class="select"><img src="/assets/my_account/radio-01.png">No</h3>
          </td>
        </tr>
      </table>
    </div>
    <div class="area writing-area">
      <table>
        <tr>
          <td><h2>Result Translation</h2></td>
          <td class="writing-right">
            <h3 class="select"><img src="/assets/my_account/radio-02.png">Yes</h3>
            <h3 class="select"><img src="/assets/my_account/radio-01.png">No</h3>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">
    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Project Duration</h2></td>
          <td>
            <div class="share-form-area est-form-area">
              <input type="text" class="form" placeholder="Numbers Only">
              <div class="share-form est-form impressions-form">
                <h3>day<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown est-dropdown">
                  <ul>
                    <li>Impressions</li>
                    <li>Conversions</li>
                    <li>Conversion Rate</li>
                    <li>CTR</li>
                    <li>Views</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>체크박스 삽입 n/a</td>
        </tr>
        <tr>
          <td></td>
          <td><p>Indicate the time period of the project.</p></td>
        </tr>
      </table>
    </div>
  </div>


  <!-- marketing-type 11 -->
  <br><br>
  <hr><p>Test_FGT (Focus Group Test)</p><br>

  <div class="share-pack">
    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Total # of testers<br>available</h2></td>
          <td>
            <div class="share-form-area est-form-area">
              <input type="text" class="form" placeholder="Numbers Only">
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>This is the total number of testers that you have available. From this group you will select a small number that will perform/do the actual testing.</p></td>
        </tr>
      </table>
    </div>

    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Testing Time</h2></td>
          <td>
            <div class="share-form-area est-form-area">
              <input type="text" class="form" placeholder="Numbers Only">
              <div class="share-form est-form impressions-form">
                <h3>minutes<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown est-dropdown">
                  <ul>
                    <li>Impressions</li>
                    <li>Conversions</li>
                    <li>Conversion Rate</li>
                    <li>CTR</li>
                    <li>Views</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>The time it takes to do the actual testing. </p></td>
        </tr>
      </table>
    </div>

    <div class="area">
      <table>
        <tr>
          <td><h2>Target</h2></td>
          <td class="integration">
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Sex</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Age</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Region</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Device</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">OS</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Interest</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Job</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">* Other...</h3>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Select all the indicators that apply. Note: you should only select the ones that are included in the cost for this service. </p></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">
    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Questionnaire Design</h2></td>
          <td>
            <div class="share-form-area est-form-area">
              <div class="share-form est-form impressions-form">
                <h3>  Complete Construction<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown est-dropdown">
                  <ul>
                    <li>Impressions</li>
                    <li>Conversions</li>
                    <li>Conversion Rate</li>
                    <li>CTR</li>
                    <li>Views</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Indicate how much help you provide with creating the questionnaire.</p></td>
        </tr>
      </table>
    </div>

    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Max # of Questions</h2></td>
          <td>
            <div class="share-form-area est-form-area">
              <input type="text" class="form" placeholder="Numbers Only">
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>체크박스 삽입 Unlimited</td>
        </tr>
        <tr>
          <td></td>
          <td><p>Give the maximum number of questions that can be asked to the Testers.</p></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">
    <div class="area writing-area">
      <table>
        <tr>
          <td><h2>Test Video included</h2></td>
          <td class="writing-right">
            <h3 class="select"><img src="/assets/my_account/radio-02.png">Yes</h3>
            <h3 class="select"><img src="/assets/my_account/radio-01.png">No</h3>
          </td>
        </tr>
      </table>
    </div>
    <div class="area writing-area">
      <table>
        <tr>
          <td><h2>Report included</h2></td>
          <td class="writing-right">
            <h3 class="select"><img src="/assets/my_account/radio-02.png">Yes</h3>
            <h3 class="select"><img src="/assets/my_account/radio-01.png">No</h3>
          </td>
        </tr>
      </table>
    </div>

    <div class="area">
      <table>
        <tr>
          <td><h2>Language Support</h2></td>
          <td class="integration">
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Script translation</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Subtitles</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Simultaneous interpretation</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Not Provided</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">* Other...</h3>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Select all the indicators that apply. Note: you should only select the ones that are included in the cost for this service. </p></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">
    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Project Duration</h2></td>
          <td>
            <div class="share-form-area est-form-area">
              <input type="text" class="form" placeholder="Numbers Only">
              <div class="share-form est-form impressions-form">
                <h3>day<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown est-dropdown">
                  <ul>
                    <li>Impressions</li>
                    <li>Conversions</li>
                    <li>Conversion Rate</li>
                    <li>CTR</li>
                    <li>Views</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>체크박스 삽입 n/a</td>
        </tr>
        <tr>
          <td></td>
          <td><p>Indicate the time period of the project.</p></td>
        </tr>
      </table>
    </div>
  </div>


  <!-- marketing-type 12 -->
  <br><br>
  <hr><p>Test_QA</p><br>

  <div class="share-pack">
    <div class="area">
      <table>
        <tr>
          <td><h2>Type of Test</h2></td>
          <td class="integration">
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Functionality Test</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Compatibility Test</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Compliance Test</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Localization Test</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">* Other...</h3>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Only select the test types that are included in the cost for this service. </p></td>
        </tr>
      </table>
    </div>
    <div class="area">
      <table>
        <tr>
          <td><h2>Platform</h2></td>
          <td class="integration">
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">iOS</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Android</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Window</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Mac</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Consoles</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Portables</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">* Other...</h3>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Only select the platforms that are included in the cost for this service. </p></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">
    <div class="area writing-area">
      <table>
        <tr>
          <td><h2>Report included</h2></td>
          <td class="writing-right">
            <h3 class="select"><img src="/assets/my_account/radio-02.png">Yes</h3>
            <h3 class="select"><img src="/assets/my_account/radio-01.png">No</h3>
          </td>
        </tr>
      </table>
    </div>
    <div class="area writing-area">
      <table>
        <tr>
          <td><h2>Contact Required</h2></td>
          <td class="writing-right">
            <h3 class="select"><img src="/assets/my_account/radio-02.png">Yes</h3>
            <h3 class="select"><img src="/assets/my_account/radio-01.png">No</h3>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Click 'Yes' if you need to discuss the project in advance. <p></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">

    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Project Duration</h2></td>
          <td>
            <div class="share-form-area est-form-area">
              <input type="text" class="form" placeholder="Numbers Only">
              <div class="share-form est-form impressions-form">
                <h3>day<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown est-dropdown">
                  <ul>
                    <li>Impressions</li>
                    <li>Conversions</li>
                    <li>Conversion Rate</li>
                    <li>CTR</li>
                    <li>Views</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>체크박스 삽입 n/a</td>
        </tr>
        <tr>
          <td></td>
          <td><p>Indicate the time period of the project.</p></td>
        </tr>
      </table>
    </div>
  </div>


  <!-- marketing type 13 -->
  <br><br>
  <hr><p>Production_Localization</p><br>

  <div class="share-pack">
    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Type of Translation</h2></td>
          <td>
            <div class="share-form-area est-form-area">
              <div class="share-form est-form impressions-form">
                <h3>Full Translation<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown est-dropdown">
                  <ul>
                    <li>Impressions</li>
                    <li>Conversions</li>
                    <li>Conversion Rate</li>
                    <li>CTR</li>
                    <li>Views</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>The time it takes to do the actual testing.</p></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">
    <div class="area">
      <table>
        <tr>
          <td><h2>Source Format</h2></td>
          <td class="integration">
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Document</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Software</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Website</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">App</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Video</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Audio</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">* Other...</h3>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Need HELP!!!  (If the cost vaires depending on the each Source Format, you should create additional new service instead of checking the box.</p></td>
        </tr>
      </table>
    </div>
    <div class="area">
      <table>
        <tr>
          <td><h2>Field</h2></td>
          <td class="integration">
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">iOS</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Android</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Window</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Mac</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Consoles</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Portables</h3>
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">* Other...</h3>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Need HELP!!!  (If the cost vaires depending on the each Source Format, you should create additional new service instead of checking the box.</p></td>
        </tr>
      </table>
    </div>
    <div class="area writing-area">
      <table>
        <tr>
          <td><h2>Native Translator</h2></td>
          <td class="writing-right">
            <h3 class="select"><img src="/assets/my_account/radio-02.png">Yes</h3>
            <h3 class="select"><img src="/assets/my_account/radio-01.png">No</h3>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Need HELP!!!</p></td>
        </tr>
      </table>
    </div>
  </div>

  <!-- marketing type 14 -->
  <br><br>
  <hr><p>Production_Trailer</p><br>

  <div class="share-pack">
    <div class"area">
      <table>
        <tr>
          <td><h2>Portfolios</h2></td>
          <td>
            <div class="share-form-area">

              <input class="form" placeholder="Insert Name of Project">
              <input class="form" placeholder="http:// Insert URL">
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><img src="/assets/my_account/circle_plus.png" class="plus"></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">
    <div class"area">
      <table>
        <tr>
          <td><h2>Maximum Video<br>Length</h2></td>
          <td>
            <div class="share-form-area">
              <input class="form" placeholder="Insert Name of Project">
              <input class="form" placeholder="http:// Insert URL">
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="area">
      <table>
        <tr>
          <td><h2>Field</h2></td>
          <td class="integration">
            <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">iOS</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Android</h3>
            <h3><img src="/assets/my_account/new_create/check-box-02.png">Window</h3>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Need HELP!!<br>Please select all that apply. Note: you o should only select the test types that are included in the cost for this service.</p></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">
    <div class="area writing-area">
      <table>
        <tr>
          <td><h2>BGM included</h2></td>
          <td class="writing-right">
            <h3 class="select"><img src="/assets/my_account/radio-02.png">Yes</h3>
            <h3 class="select"><img src="/assets/my_account/radio-01.png">No</h3>
          </td>
        </tr>
      </table>
    </div>
    <div class="area writing-area">
      <table>
        <tr>
          <td><h2>Sound Effect included</h2></td>
          <td class="writing-right">
            <h3 class="select"><img src="/assets/my_account/radio-02.png">Yes</h3>
            <h3 class="select"><img src="/assets/my_account/radio-01.png">No</h3>
          </td>
        </tr>
      </table>
    </div>
    <div class="area writing-area">
      <table>
        <tr>
          <td><h2>Narration included</h2></td>
          <td class="writing-right">
            <h3 class="select"><img src="/assets/my_account/radio-02.png">Yes</h3>
            <h3 class="select"><img src="/assets/my_account/radio-01.png">No</h3>
          </td>
        </tr>
      </table>
    </div>
    <div class="area writing-area">
      <table>
        <tr>
          <td><h2>Casting included</h2></td>
          <td class="writing-right">
            <h3 class="select"><img src="/assets/my_account/radio-02.png">Yes</h3>
            <h3 class="select"><img src="/assets/my_account/radio-01.png">No</h3>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">
    <div class="area writing-area">
      <table>
        <tr>
          <td><h2>Contact Required</h2></td>
          <td class="writing-right">
            <h3 class="select"><img src="/assets/my_account/radio-02.png">Yes</h3>
            <h3 class="select"><img src="/assets/my_account/radio-01.png">No</h3>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Click 'Yes' if you need to discuss the project in advance.</p></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="share-pack">
    <div class="area share-area est-area">
      <table>
        <tr>
          <td><h2>Project Duration</h2></td>
          <td>
            <div class="share-form-area est-form-area">
              <input type="text" class="form" placeholder="Numbers Only">
              <div class="share-form est-form impressions-form">
                <h3>Day<span class="glyphicon glyphicon-chevron-down"></span></h3>
                <div class="share-dropdown est-dropdown">
                  <ul>
                    <li>Impressions</li>
                    <li>Conversions</li>
                    <li>Conversion Rate</li>
                    <li>CTR</li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><p>Indicate the time period of the project.</p></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="delete-service-btn">
    <h3><img src="/assets/my_account/new_create/delete-btn.png">Delete Service</h3>
  </div>
</div>

