<!-- new_create-service.css.scss -->

<div class="share-pack pack1">
  <div class="area">
    <table>
      <tr>
        <td><h2>Language</h2></td>
        <td>
          <div class="check">
            <h3><img src="/assets/my_account/radio-01.png">Flat Rate</h3>
            <h3 class="select"><img src="/assets/my_account/radio-02.png">Multiple Rate</h3>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><img src="/assets/my_account/circle_plus.png" class="plus"></td>
      </tr>
    </table>
    
  </div>
</div>
<div class="share-pack pack2">
  <div class="area">
    <table>
      <tr>
        <td><h2>Company Name</h2></td>
        <td>
          <input type="text" placeholder="Company Name in Korean" class="input-area">
        </td>
      </tr>
    </table>
  </div>
  <div class="area">
    <table>
      <tr>
        <td><h2>Country</h2></td>
        <td>select form</td>
      </tr>
    </table>
  </div>
  <div class="area">
    <table>
      <tr>
        <td><h2>Number of Employee</h2></td>
        <td>select form</td>
      </tr>
    </table>
  </div>
</div>
<div class="share-pack pack3">
  <div class="area">
    <table>
      <tr>
        <td><h2>Website</h2></td>
        <td><input type="text" class="input-area"></td>
      </tr>
    </table>
  </div>
  <div class="area">
    <table>
      <tr>
        <td>Company<br>Introduction</td>
        <td><textarea placeholder="Company Introduction in Korean" class="text-area"></textarea></td>
      </tr>
    </table>
  </div>
</div>
<div class="share-pack pack4">
  <div class="area">
    <img src="/assets/my_account/circle_plus.png" class="plus">
    <h3>Upload Clients Logo (Service Provider Only)</h3>
  </div>
  <div class="area">
    <img src="/assets/my_account/circle_plus.png" class="plus">
    <h3>Upload Company Introduction (Service Provider Only)</h3>
  </div>
</div>
<div class="share-pack pack5">
  <div class="area">
    <h3><input type="checkbox"> Receive general news (Featured projects, events) from us</h3>
  </div>
</div>
<div class="delete-service-btn">
  <h3><img src="/assets/my_account/new_create/delete-btn.png">Delete Service</h3>
</div>

