<div class="new-create-introduction account create-share">
  <div class="container">
    <div class="dashbaord">
      <div class="img">
        <img src="/assets/my_account/dashboard.png">
      </div>
      <div class="right-title-tab">
        <a href="/publishers/new_create_introduction">
          <div class="tab tab-select">
            <img src="/assets/my_account/new_create/tab_complete.png">
            Introduction
          </div>
        </a>
        <img src="/assets/my_account/new_create/tab_bar.png" style="margin: 0">
        <a href="/publishers/new_create_cost">
          <div class="tab">
            <img src="/assets/my_account/new_create/tab_incomplete.png">Cost  
          </div>
        </a>
        <img src="/assets/my_account/new_create/tab_bar.png" style="margin: 0">
        <a href="/publishers/new_create_details">
          <div class="tab">
            <img src="/assets/my_account/new_create/tab_complete.png">Details    
          </div>
        </a>
        <img src="/assets/my_account/new_create/tab_bar.png" style="margin: 0">
        <a href="/publishers/new_create_company">
          <div class="tab">
            <img src="/assets/my_account/new_create/tab_incomplete.png">Company Profile
          </div>
        </a>
      </div>
    </div> 
    <%= render "/home/left"%>

    <div class="tab-introduction right-height" id="right">
      <div class="share-pack pack1">

        <div class="area marketing-area">
          <h2>Marketing Type</h2>
          <div class="select-form">
            <h3 class="marketing-form">Select<span class="glyphicon glyphicon-chevron-down"></span></h3>
            <div class="marketing-dropdown">
              <ul>
                <li>All</li>
                <li>AD</li>
                <li>Promotion</li>
                <li>Management</li>
                <li>Test</li>
                <li>Production</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="area platform-area">
          <h2>Platform</h2>
          <div class="platform-select">
            <img src="/assets/my_account/radio-02.png">All
          </div>
          <div class="platform-select">
            <img src="/assets/my_account/radio-01.png">iOS
          </div>
          <div class="platform-select">
            <img src="/assets/my_account/radio-02.png">Android
          </div>
          <p style="margin-top: 12px;">If a service has diffferent Details depending on the platform, you should make a separate service instead of choosing All.</p>
        </div>

        <div class="area country-area">
          <h2>Country</h2>
          <div class="select-form">
            <h3 class="country-form">Select<span class="glyphicon glyphicon-chevron-down"></span></h3>
            <div class="country-dropdown">
              <ul>
                <li>korea</li>
                <li>korea</li>
                <li>korea</li>
                <li>korea</li>
              </ul>
            </div>
          </div>
          <p style="margin-top: 12px;">This is the country where your service will be provided, NOT the country where you're located in.</p>
        </div>
        
        <div class="area translation-area">
          <h2>Translation</h2>
          <div class="localization drop">
            <h3><span id="from_language">Source Language</span> <span class="glyphicon glyphicon-chevron-down"></span></h3>
            <div class="localization-down">
              <ul>
                <li>korea</li>
                <li>korea</li>
                <li>korea</li>
                <li>korea</li>
              </ul>
            </div>
          </div>
          <img src="/assets/my_account/localization.png" style="margin: 0 10px; vertical-align: middle;">
          <div class="localization drop" style="margin-left: 0;">
            <h3><span id="to_language">Target Language</span> <span class="glyphicon glyphicon-chevron-down"></span></h3>
            <div class="localization-down">
              <ul>
                <li>korea</li>
                <li>korea</li>
                <li>korea</li>
                <li>korea</li>
              </ul>
            </div>
          </div>
          <p style="margin-top: 12px;">Indicate the language to translate and into which language you can translate it.</p>
        </div>
      </div>
      <div class="share-pack pack2">
        <div class="area">
          <h2>Service Name</h2>
          <input type="text" class="input-area">
        </div>
        <div class="area">
          <h2 style="vertical-align: top; position: relative; top: 12px;">Service Summary</h2>
          <textarea rows="5" class="text-area"></textarea>
        </div>
      </div>
      <div class="share-pack pack3">
        <div class="area">
          <h2 style="line-height: 22px;">Attach Service Introduction (Optional)</h2>
          <div class="upload-btn">
            <img src="/assets/my_account/new_create/attach_upload.png">
            Choose a document from your computer
          </div>
          <p>Attach Service Introduction, Media Kit or other documents that can explain more details about your service.<br>* 25MB file size limit</p>
        </div>
      </div>
      <div class="share-pack pack4">
        <div class="area">
          <table>
            <tr>
              <td><h2>Service Contents</h2></td>
              <td class="input-box">
                <input type="text" class="input-area"><img src="/assets/my_account/delete.png" class="delete">
                <input type="text" class="input-area"><img src="/assets/my_account/delete.png" class="delete">
                <input type="text" class="input-area"><img src="/assets/my_account/delete.png" class="delete">
                <br>
                <img src="/assets/my_account/circle_plus.png" class="plus">
              </td>
            </tr>
            <tr>
              <td></td>
              <td class="info">
                <p style="margin-top: 10px;">Please explain everything that you will offer through your service. <br>This information will be important for Advertisers to decide about the purchase.</p>
                <p>Note : You must completely provide the offers mentioned above in order to receive full payment <br>after finishing the project.</p>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="delete-service-btn">
        <h3><img src="/assets/my_account/new_create/delete-btn.png">Delete Service</h3>
      </div>
    </div>
  </div>
  <div class="save-bar">
    <div class="container">
      <div class="left preview-btn">Preview</div>
      <div class="right">
        <h3>Discard changes</h3>
        <div class="save-btn">Save</div>
      </div>
    </div>
  </div>
</div>
