<div class="new-create-details account create-share">
  <div class="container">
    <div class="dashbaord">
      <div class="img">
        <img src="/assets/my_account/dashboard.png">
      </div>
      <div class="right-title-tab">
        <a href="/publishers/new_create_introduction">
          <div class="tab">
            <img src="/assets/my_account/new_create/tab_complete.png">
            Introduction  
          </div>
        </a>
        <img src="/assets/my_account/new_create/tab_bar.png" style="margin: 0">
        <a href="/publishers/new_create_cost">
          <div class="tab">
            <img src="/assets/my_account/new_create/tab_incomplete.png">Cost
          </div>
        </a>
        <img src="/assets/my_account/new_create/tab_bar.png" style="margin: 0">
        <a href="/publishers/new_create_details">
          <div class="tab tab-select">
            <img src="/assets/my_account/new_create/tab_complete.png">Details
          </div>
        </a>
        <img src="/assets/my_account/new_create/tab_bar.png" style="margin: 0">
        <a href="/publishers/new_create_company">
          <div class="tab">
            <img src="/assets/my_account/new_create/tab_incomplete.png">Company Profile
          </div>
        </a>
      </div>
    </div> 
    <%= render "/home/left"%>
    <div class="tab-details right-height" id="right">
      <div class="share-pack pack1">
        <div class="area traffic-area">
          <table>
            <tr>
              <td><h2>Traffic</h2></td>
              <td>
                <div class="traffic-form">
                  <h3>Monthly<span class="glyphicon glyphicon-chevron-down"></span></h3>
                  <div class="traffic-dropdown">
                    <ul>
                      <li>Weekly</li>
                      <li>Daily</li>
                      <li>Total</li>
                    </ul>
                  </div>
                </div>

                <div class="traffic-form-area">
                  <input type="text" class="form" placeholder="Numbers Only">
                  <div class="traffic-form impressions-form">
                    <h3>Impressions<span class="glyphicon glyphicon-chevron-down"></span></h3>
                    <div class="traffic-dropdown impressions-dropdown">
                      <ul>
                        <li>User Views</li>
                        <li>DAU</li>
                        <li>MAU</li>
                        <li>Installs</li>
                        <li>Users</li>
                        <li>Followers</li>
                        <li>Views</li>
                        <li>* Write your own</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><p>Provide the traffic information about your network, media, webiste, app, etc.</p></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <img src="/assets/my_account/circle_plus.png" class="plus">
              </td>
            </tr>
          </table>
          
        </div>
      </div>
      <div class="share-pack pack2">
        <div class="area share-area company-type-area">
          <table>
            <tr>
              <td><h2>Company Type</h2></td>
              <td>
                <div class="share-form-area company-type-form-area">
                  <div class="share-form company-type-form">
                    <h3>Ad network<span class="glyphicon glyphicon-chevron-down"></span></h3>
                    <div class="share-dropdown company-type-dropdown">
                      <ul>
                        <li>Agency</li>
                        <li>Ad network</li>
                        <li>DSP</li>
                        <li>SSP</li>
                        <li>Ad exchange</li>
                        <li>Publisher (App / Webiste)</li>
                        <li>Media</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="area share-area ad-area">
          <table>
            <tr>
              <td><h2>AD Type</h2></td>
              <td>
                <div class="share-form-area ad-form-area">
                  <div class="share-form ad-form">
                    <h3>Banner<span class="glyphicon glyphicon-chevron-down"></span></h3>
                    <div class="share-dropdown ad-dropdown">
                      <ul>
                        <li>Banner</li>
                        <li>Interstitial</li>
                        <li>Rich media</li>
                        <li>Video</li>
                        <li>Screen</li>
                        <li>Display</li>
                        <li>Offerwall</li>
                        <li>Voice</li>
                        <li>Text</li>
                        <li>* Other...</li>
                      </ul>
                    </div>
                  </div>
                </div>


              </td>
            </tr>
          </table>
          
        </div>
        <div class="area">
          <table>
            <tr>
              <td><h2>Integration Support</h2></td>
              <td class="integration">
                <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">SDK</h3>
                <h3><img src="/assets/my_account/new_create/check-box-02.png">API</h3>
                <h3><img src="/assets/my_account/new_create/check-box-02.png">S2S</h3>
                <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">URL Scheme</h3>
                <h3><img src="/assets/my_account/new_create/check-box-02.png">Package Name</h3>
                <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Not Needed</h3>
              </td>
            </tr>
          </table>
          
        </div>
      </div>
      <div class="share-pack pack3">
        <div class="area share-area est-area">
          <table>
            <tr>
              <td><h2>Est. Result</h2></td>
              <td>
                <div class="share-form-area est-form-area">
                  <input type="text" class="form" placeholder="Numbers Only">
                  <div class="share-form est-form impressions-form">
                    <h3>Conversions<span class="glyphicon glyphicon-chevron-down"></span></h3>
                    <div class="share-dropdown est-dropdown">
                      <ul>
                        <li>Impressions</li>
                        <li>Conversions</li>
                        <li>Conversion Rate</li>
                        <li>CTR</li>
                        <li>Views</li>
                        <li>Sign Ups</li>
                        <li>Rank</li>
                        <li>Installs</li>
                        <li>N/A</li>
                        <li>* Other...</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>

        <div class="area share-area est-area">
          <table>
            <tr>
              <td><h2>Delivery Speed</h2></td>
              <td>
                <div class="share-form-area est-form-area">
                  <input type="text" class="form" placeholder="Numbers Only">
                  <div class="share-form est-form impressions-form">
                    <h3>Impressions<span class="glyphicon glyphicon-chevron-down"></span></h3>
                    <div class="share-dropdown est-dropdown">
                      <ul>
                        <li>Impressions</li>
                        <li>Clicks</li>
                        <li>Installs</li>
                        <li>Views</li>
                        <li>N/A</li>
                        <li>* Other...</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="share-form-area est-form-area">
                  <div class="share-form est-form impressions-form">
                    <h3>Day<span class="glyphicon glyphicon-chevron-down"></span></h3>
                    <div class="share-dropdown est-dropdown">
                      <ul>
                        <li>Impressions</li>
                        <li>Clicks</li>
                        <li>Installs</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><p>Specifying the delivery speed can help Advertisers to determine the amount of Ads to buy.</p></td>
            </tr>
            <tr>
              <td></td>
              <td><img src="/assets/my_account/circle_plus.png" class="plus"></td>
            </tr>
          </table>
        </div>
      </div>


      <!-- marketing-type 1 -->
      <hr><p>AD_CPP</p>

      <div class="share-pack pack3">
        <div class="area share-area est-area">
          <table>
            <tr>
              <td><h2>Period</h2></td>
              <td>
                <div class="share-form-area est-form-area">
                  <input type="text" class="form" placeholder="Numbers Only">
                  <div class="share-form est-form impressions-form">
                    <h3>Day<span class="glyphicon glyphicon-chevron-down"></span></h3>
                    <div class="share-dropdown est-dropdown">
                      <ul>
                        <li>Impressions</li>
                        <li>Conversions</li>
                        <li>Conversion Rate</li>
                        <li>CTR</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><p>Indicate how long the AD will be exposed.</p></td>
            </tr>
          </table>
        </div>
      </div>


      <!-- marketing-type 2 -->
      <br><br>
      <hr><p>Promotion_Blog, Community/Forum, SponsoredPost</p>

      <div class="share-pack pack3">
        <div class="area post-area">
          <table>
            <tr>
              <td><h2># of Posts</h2></td>
              <td class="post-right">
                <input type="text" class="form" placeholder="Numbers Only">
                <h3 class="select"><img src="/assets/my_account/radio-01.png">Guaranteed</h3>
                <h3 class="select"><img src="/assets/my_account/radio-02.png">Estimate</h3>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><p>Indicate the number of posts you will provide.</p></td>
            </tr>
          </table>
        </div>
        <div class="area share-area est-area">
          <table>
            <tr>
              <td><h2>Est. Result</h2></td>
              <td>
                <div class="share-form-area est-form-area">
                  <input type="text" class="form" placeholder="Numbers Only">
                  <div class="share-form est-form impressions-form">
                    <h3>View<span class="glyphicon glyphicon-chevron-down"></span></h3>
                    <div class="share-dropdown est-dropdown">
                      <ul>
                        <li>Impressions</li>
                        <li>Conversions</li>
                        <li>Conversion Rate</li>
                        <li>CTR</li>
                        <li>Views</li>
                        <li>Sign Ups</li>
                        <li>Rank</li>
                        <li>Installs</li>
                        <li>N/A</li>
                        <li>* Other...</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><p>It's very important to show Est.Result in as many ways as you can.<Br>It's the most important information for Advertisers to decide about the purchase.</p></td>
            </tr>
            <tr>
              <td></td>
              <td><img src="/assets/my_account/circle_plus.png" class="plus"></td>
            </tr>
          </table>
        </div>
      </div>

      <!-- marketing-type 3 -->
      <br><br>
      <hr><p>Promotion_PR</p>
      <div class="share-pack pack3">
        <div class="area post-area">
          <table>
            <tr>
              <td><h2># of Posts</h2></td>
              <td class="post-right">
                <input type="text" class="form" placeholder="Numbers Only">
                <h3 class="select"><img src="/assets/my_account/radio-01.png">Guaranteed</h3>
                <h3 class="select"><img src="/assets/my_account/radio-02.png">Estimate</h3>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><p>Indicate the number of posts you will provide.</p></td>
            </tr>
          </table>
        </div>
        <div class="area writing-area">
          <table>
            <tr>
              <td><h2>Writing Service<br>included</h2></td>
              <td class="writing-right">
                <h3 class="select"><img src="/assets/my_account/radio-01.png">Yes</h3>
                <h3 class="select"><img src="/assets/my_account/radio-02.png">No</h3>
              </td>
            </tr>
          </table>
        </div>
        <div class="area share-area est-area">
          <table>
            <tr>
              <td><h2>Est. Result</h2></td>
              <td>
                <div class="share-form-area est-form-area">
                  <input type="text" class="form" placeholder="Numbers Only">
                  <div class="share-form est-form impressions-form">
                    <h3>View<span class="glyphicon glyphicon-chevron-down"></span></h3>
                    <div class="share-dropdown est-dropdown">
                      <ul>
                        <li>Impressions</li>
                        <li>Conversions</li>
                        <li>Conversion Rate</li>
                        <li>CTR</li>
                        <li>Views</li>
                        <li>Sign Ups</li>
                        <li>Rank</li>
                        <li>Installs</li>
                        <li>N/A</li>
                        <li>* Other...</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><p>It's very important to show Est.Result in as many ways as you can.<Br>It's the most important information for Advertisers to decide about the purchase.</p></td>
            </tr>
            <tr>
              <td></td>
              <td><img src="/assets/my_account/circle_plus.png" class="plus"></td>
            </tr>
          </table>
        </div>
      </div>


      <!-- marketing-type 4 -->
      <br><br>
      <hr><p>Promotion_Event</p>

      <div class="share-pack pack3">
        <div class="area share-area est-area">
          <table>
            <tr>
              <td><h2>Est. Result</h2></td>
              <td>
                <div class="share-form-area est-form-area">
                  <input type="text" class="form" placeholder="Numbers Only">
                  <div class="share-form est-form impressions-form">
                    <h3>View<span class="glyphicon glyphicon-chevron-down"></span></h3>
                    <div class="share-dropdown est-dropdown">
                      <ul>
                        <li>Impressions</li>
                        <li>Conversions</li>
                        <li>Conversion Rate</li>
                        <li>CTR</li>
                        <li>Views</li>
                        <li>Sign Ups</li>
                        <li>Rank</li>
                        <li>Installs</li>
                        <li>N/A</li>
                        <li>* Other...</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><p>It's very important to show Est.Result in as many ways as you can.<Br>It's the most important information for Advertisers to decide about the purchase.</p></td>
            </tr>
            <tr>
              <td></td>
              <td><img src="/assets/my_account/circle_plus.png" class="plus"></td>
            </tr>
          </table>
        </div>
      </div>


      <!-- marketing-type 5 -->
      <br><br>
      <hr><p>Promotion_SEO</p>

      <div class="share-pack pack3">
        <div class="area share-area company-type-area">
          <table>
            <tr>
              <td><h2>Target Search Engine</h2></td>
              <td>
                <div class="share-form-area company-type-form-area">
                  <div class="share-form company-type-form">
                    <h3>Google<span class="glyphicon glyphicon-chevron-down"></span></h3>
                    <div class="share-dropdown company-type-dropdown">
                      <ul>
                        <li>Agency</li>
                        <li>Ad network</li>
                        <li>DSP</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
          
        </div>
        <div class="area post-area">
          <table>
            <tr>
              <td><h2># of Keywords</h2></td>
              <td class="post-right">
                <input type="text" class="form" placeholder="Numbers Only">
              </td>
            </tr>
            <tr>
              <td></td>
              <td><p>Insert the maximum number of keywords or keyphrases you can provide.</p></td>
            </tr>
          </table>
        </div>
        <div class="area writing-area">
          <table>
            <tr>
              <td><h2>Competitor Analysis<br>included</h2></td>
              <td class="writing-right">
                <h3 class="select"><img src="/assets/my_account/radio-01.png">Yes</h3>
                <h3 class="select"><img src="/assets/my_account/radio-02.png">No</h3>
              </td>
            </tr>
          </table>
        </div>
        <div class="area">
          <table>
            <tr>
              <td><h2>On Page Optimization</h2></td>
              <td class="integration">
                <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Meta Tag</h3>
                <h3><img src="/assets/my_account/new_create/check-box-02.png">Content</h3>
                <h3><img src="/assets/my_account/new_create/check-box-02.png">URL</h3>
                <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Hyperlinks</h3>
                <h3><img src="/assets/my_account/new_create/check-box-02.png">Header</h3>
                <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Image</h3>
                <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">HTML Sitemap</h3>
                <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">XML Sitemap</h3>
                <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Robots.txt</h3>
                <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">SEO Implementation Support</h3>
                <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">N/A</h3>
                <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">* Other...</h3>
              </td>
            </tr>
          </table>
          
        </div>
        <div class="area share-area est-area">
          <table>
            <tr>
              <td><h2>Est. Result</h2></td>
              <td>
                <div class="share-form-area est-form-area">
                  <input type="text" class="form" placeholder="Numbers Only">
                  <div class="share-form est-form impressions-form">
                    <h3>View<span class="glyphicon glyphicon-chevron-down"></span></h3>
                    <div class="share-dropdown est-dropdown">
                      <ul>
                        <li>Impressions</li>
                        <li>Conversions</li>
                        <li>Conversion Rate</li>
                        <li>CTR</li>
                        <li>Views</li>
                        <li>Sign Ups</li>
                        <li>Rank</li>
                        <li>Installs</li>
                        <li>N/A</li>
                        <li>* Other...</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><p>It's very important to show Est.Result in as many ways as you can.<Br>It's the most important information for Advertisers to decide about the purchase.</p></td>
            </tr>
            <tr>
              <td></td>
              <td><img src="/assets/my_account/circle_plus.png" class="plus"></td>
            </tr>
          </table>
        </div>
        <div class="area share-area est-area">
          <table>
            <tr>
              <td><h2>Project Duration</h2></td>
              <td>
                <div class="share-form-area est-form-area">
                  <input type="text" class="form" placeholder="Numbers Only">
                  <div class="share-form est-form impressions-form">
                    <h3>Day<span class="glyphicon glyphicon-chevron-down"></span></h3>
                    <div class="share-dropdown est-dropdown">
                      <ul>
                        <li>Impressions</li>
                        <li>Conversions</li>
                        <li>Conversion Rate</li>
                        <li>CTR</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><p>Indicate the time period of the project.</p></td>
            </tr>
            <tr>
              <td></td>
              <td><img src="/assets/my_account/circle_plus.png" class="plus"></td>
            </tr>
          </table>
        </div>
      </div>


      <!-- marketing-type 6 -->
      <br><br>
      <hr><p>Promotion_ASO</p>

      <div class="share-pack pack3">

        <div class="area writing-area">
          <table>
            <tr>
              <td><h2>Platform</h2></td>
              <td class="writing-right">
                <h3 class="select"><img src="/assets/my_account/radio-01.png">iOS</h3>
                <h3 class="select"><img src="/assets/my_account/radio-02.png">Android</h3>
                <h3 class="select"><img src="/assets/my_account/radio-02.png">* Other...</h3>
              </td>
            </tr>
          </table>
        </div>
        <div class="area post-area">
          <table>
            <tr>
              <td><h2># of Keywords</h2></td>
              <td class="post-right">
                <input type="text" class="form" placeholder="Numbers Only">
              </td>
            </tr>
            <tr>
              <td></td>
              <td><p>Insert the maximum number of keywords you can provide.</p></td>
            </tr>
          </table>
        </div>
        <div class="area writing-area">
          <table>
            <tr>
              <td><h2>Competitor Analysis<br>included</h2></td>
              <td class="writing-right">
                <h3 class="select"><img src="/assets/my_account/radio-01.png">Yes</h3>
                <h3 class="select"><img src="/assets/my_account/radio-02.png">No</h3>
              </td>
            </tr>
          </table>
        </div>
        <div class="area share-area est-area">
          <table>
            <tr>
              <td><h2>Est. Result</h2></td>
              <td>
                <div class="share-form-area est-form-area">
                  <input type="text" class="form" placeholder="Numbers Only">
                  <div class="share-form est-form impressions-form">
                    <h3>Day<span class="glyphicon glyphicon-chevron-down"></span></h3>
                    <div class="share-dropdown est-dropdown">
                      <ul>
                        <li>Impressions</li>
                        <li>Conversions</li>
                        <li>Conversion Rate</li>
                        <li>CTR</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><p>Indicate how long the AD will be exposed.</p></td>
            </tr>
          </table>
        </div>
        <div class="area share-area est-area">
          <table>
            <tr>
              <td><h2>Project Duration</h2></td>
              <td>
                <div class="share-form-area est-form-area">
                  <input type="text" class="form" placeholder="Numbers Only">
                  <div class="share-form est-form impressions-form">
                    <h3>Day<span class="glyphicon glyphicon-chevron-down"></span></h3>
                    <div class="share-dropdown est-dropdown">
                      <ul>
                        <li>Impressions</li>
                        <li>Conversions</li>
                        <li>Conversion Rate</li>
                        <li>CTR</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><p>Indicate how long the AD will be exposed.</p></td>
            </tr>
          </table>
        </div>
      </div>








      <div class="delete-service-btn">
        <h3><img src="/assets/my_account/new_create/delete-btn.png">Delete Service</h3>
      </div>
    </div>
  </div>
  <div class="save-bar">
    <div class="container">
      <div class="left preview-btn">Preview</div>
      <div class="right">
        <h3>Discard changes</h3>
        <div class="save-btn">Save</div>
      </div>
    </div>
  </div>
</div>
