<!-- new_new_create.css.scss -->

<div class="new-create-cost account create-share">
  <div class="container">
    <div class="dashbaord">
      <div class="img">
        <img src="/assets/my_account/dashboard.png">
      </div>
    </div>
    <%= render "/home/left"%>

    <div class="tab-cost right-height" id="right">
      <div id="myCarousel" class="carousel slide">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active">Introduction</li>
          <li data-target="#myCarousel" data-slide-to="1">Cost</li>
          <li data-target="#myCarousel" data-slide-to="2">Details</li>
          <li data-target="#myCarousel" data-slide-to="3">Company profile</li>
        </ol>
        <br><br>
        <!-- Carousel items -->
        <div class="carousel-inner" style="background-color: #eeeeee;">
          <div class="item active">
             <%=render "createintroduction"%>
             <h1>test1</h1>
             <p>Flat Rate :  When the cost of a service is fixed.</p>
                <p>Multiple Rate : When you can designate the cost range or multiple costs for a service.<br>(If a service has diffferent Details depending on the cost, <span>you should make a separate service</span><br>instead of choosing Multiple Rate.)</p>
          </div>
          <div class="item">
             <h1>test2</h1>
             <p>Flat Rate :  When the cost of a service is fixed.</p>
                <p>Multiple Rate : When you can designate the cost range or multiple costs for a service.<br>(If a service has diffferent Details depending on the cost, <span>you should make a separate service</span><br>instead of choosing Multiple Rate.)</p>
          </div>
          <div class="item">
             <h1>test3</h1>
             <p>Flat Rate :  When the cost of a service is fixed.</p>
                <p>Multiple Rate : When you can designate the cost range or multiple costs for a service.<br>(If a service has diffferent Details depending on the cost, <span>you should make a separate service</span><br>instead of choosing Multiple Rate.)</p>
          </div>
          <div class="item">
             <h1>test4</h1>
             <p>Flat Rate :  When the cost of a service is fixed.</p>
                <p>Multiple Rate : When you can designate the cost range or multiple costs for a service.<br>(If a service has diffferent Details depending on the cost, <span>you should make a separate service</span><br>instead of choosing Multiple Rate.)</p>
          </div>
        </div>
      </div>
      <div class="delete-service-btn">
        <h3><img src="/assets/my_account/new_create/delete-btn.png">Delete Service</h3>
      </div>
    </div>
  </div>
  <div class="save-bar">
    <div class="container">
      <div class="left preview-btn">Preview</div>
      <div class="right">
        <h3>Discard changes</h3>
        <div class="save-btn">Save</div>
      </div>
    </div>
  </div>
</div>


<script>
  $('.carousel').carousel({
    wrap: true;
  })
</script>

