<div class="new-create-details account">
  <div class="container">
    <div class="dashbaord">
      <div class="img">
        <img src="/assets/my_account/dashboard.png">
      </div>
      <h1 class="right-title">Create Service</h1>
    </div> 
    <%= render "/home/left"%>
  </div>
</div>
