<div class="new-create-cost account">
  <div class="container">
    <div class="dashbaord">
      <div class="img">
        <img src="/assets/my_account/dashboard.png">
      </div>
      <div class="right-title-tab">
        <div class="tab">
          <a href="/publishers/new_create_introduction">
            <img src="/assets/my_account/new_create/tab_complete.png">
            Introduction
          </a>
        </div>
        <img src="/assets/my_account/new_create/tab_bar.png" style="margin: 0">
        <div class="tab tab-select">
          <a href="/publishers/new_create_cost">
            <img src="/assets/my_account/new_create/tab_incomplete.png">Cost
          </a>
        </div>
        <img src="/assets/my_account/new_create/tab_bar.png" style="margin: 0">
        <div class="tab">
          <a href="/publishers/new_create_details">
            <img src="/assets/my_account/new_create/tab_complete.png">Details
          </a>
        </div>
        <img src="/assets/my_account/new_create/tab_bar.png" style="margin: 0">
        <div class="tab">
          <a href="/publishers/new_create_company">
            <img src="/assets/my_account/new_create/tab_incomplete.png">Company Profile
          </a>
        </div>
      </div>
    </div> 
    <%= render "/home/left"%>
  </div>
</div>
