<div class="new-create-details account">
  <div class="container">
    <div class="dashbaord">
      <div class="img">
        <img src="/assets/my_account/dashboard.png">
      </div>
      <div class="right-title-tab">
        <div class="tab">
          <a href="/publishers/new_create_introduction">
            <img src="/assets/my_account/new_create/tab_complete.png">
            Introduction
          </a>
        </div>
        <img src="/assets/my_account/new_create/tab_bar.png" style="margin: 0">
        <div class="tab">
          <a href="/publishers/new_create_cost">
            <img src="/assets/my_account/new_create/tab_incomplete.png">Cost
          </a>
        </div>
        <img src="/assets/my_account/new_create/tab_bar.png" style="margin: 0">
        <div class="tab tab-select">
          <a href="/publishers/new_create_details">
            <img src="/assets/my_account/new_create/tab_complete.png">Details
          </a>
        </div>
        <img src="/assets/my_account/new_create/tab_bar.png" style="margin: 0">
        <div class="tab">
          <a href="/publishers/new_create_company">
            <img src="/assets/my_account/new_create/tab_incomplete.png">Company Profile
          </a>
        </div>
      </div>
    </div> 
    <%= render "/home/left"%>
    <div class="tab-details right-height" id="right">
      <div class="share-pack pack1">
        <div class="area traffic-area">
          <table>
            <tr>
              <td><h2>Traffic</h2></td>
              <td>
                <div class="traffic-form">
                  <h3>Monthly<span class="glyphicon glyphicon-chevron-down"></span></h3>
                  <div class="marketing-dropdown" style="visibility: hidden">
                    <!-- <ul>
                      <li>All</li>
                      <li>All</li>
                    </ul>-->
                  </div>
                </div>

                <div class="traffic-form-area">
                  <input type="text" class="form" placeholder="Numbers Only">
                  <div class="traffic-form impressions-form">
                    <h3>Impressions<span class="glyphicon glyphicon-chevron-down"></span></h3>
                    <div class="marketing-dropdown" style="visibility: hidden">
                      <!-- <ul>
                        <li>All</li>
                        <li>All</li>
                      </ul>-->
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><p>Provide the traffic information about your network, media, webiste, app, etc.</p></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <img src="/assets/my_account/circle_plus.png" class="plus">
              </td>
            </tr>
          </table>
          
        </div>
      </div>
      <div class="share-pack pack2">
        <div class="area">
          <table>
            <tr>
              <td><h2>Company Type</h2></td>
              <td>
                <div class="select-form">
                  <h3>Ad network<span class="glyphicon glyphicon-chevron-down"></span></h3>
                  <div class="marketing-dropdown" style="visibility: hidden">
                    <!-- <ul>
                      <li>All</li>
                      <li>All</li>
                    </ul>-->
                  </div>
                </div>
              </td>
            </tr>
          </table>
          
        </div>
        <div class="area">
          <table>
            <tr>
              <td><h2>AD Type</h2></td>
              <td>
                <div class="select-form">
                  <h3>Banner<span class="glyphicon glyphicon-chevron-down"></span></h3>
                  <div class="marketing-dropdown" style="visibility: hidden">
                    <!-- <ul>
                      <li>All</li>
                      <li>All</li>
                    </ul>-->
                  </div>
                </div>

              </td>
            </tr>
          </table>
          
        </div>
        <div class="area">
          <table>
            <tr>
              <td><h2>Integration Support</h2></td>
              <td class="integration">
                <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">SDK</h3>
                <h3><img src="/assets/my_account/new_create/check-box-02.png">API</h3>
                <h3><img src="/assets/my_account/new_create/check-box-02.png">S2S</h3>
                <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">URL Scheme</h3>
                <h3><img src="/assets/my_account/new_create/check-box-02.png">Package Name</h3>
                <h3 class="select"><img src="/assets/my_account/new_create/check-box-01.png">Not Needed</h3>
              </td>
            </tr>
          </table>
          
        </div>
      </div>
      <div class="share-pack pack3">
        <div class="area est-area">
          <table>
            <tr>
              <td><h2>Est. Result</h2></td>
              <td>
                <div class="est-form-area">
                  <input type="text" class="form" placeholder="Numbers Only">
                  <div class="est-form impressions-form">
                    <h3>Conversions<span class="glyphicon glyphicon-chevron-down"></span></h3>
                    <div class="marketing-dropdown" style="visibility: hidden">
                      <!-- <ul>
                        <li>All</li>
                        <li>All</li>
                      </ul>-->
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="area delivery-area">
          <table>
            <tr>
              <td><h2>Delivery Speed</h2></td>
              <td>
                <div class="delivery-form-area">
                  <input type="text" class="form" placeholder="Numbers Only">
                  <div class="delivery-form impressions-form">
                    <h3>Impressions<span class="glyphicon glyphicon-chevron-down"></span></h3>
                    <div class="marketing-dropdown" style="visibility: hidden">
                      <!-- <ul>
                        <li>All</li>
                        <li>All</li>
                      </ul>-->
                    </div>
                  </div>
                </div>
                <div class="delivery-form-area">
                  <input type="text" class="form" placeholder="Numbers Only">
                  <div class="delivery-form impressions-form">
                    <h3>Impressions<span class="glyphicon glyphicon-chevron-down"></span></h3>
                    <div class="marketing-dropdown" style="visibility: hidden">
                      <!-- <ul>
                        <li>All</li>
                        <li>All</li>
                      </ul>-->
                    </div>
                  </div>
                </div>
                <div class="delivery-form-area">
                  <input type="text" class="form" placeholder="Numbers Only">
                  <div class="delivery-form impressions-form">
                    <h3>Impressions<span class="glyphicon glyphicon-chevron-down"></span></h3>
                    <div class="marketing-dropdown" style="visibility: hidden">
                      <!-- <ul>
                        <li>All</li>
                        <li>All</li>
                      </ul>-->
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><p>Specifying the delivery speed can help Advertisers to determine the amount of Ads to buy.</p></td>
            </tr>
            <tr>
              <td></td>
              <td><img src="/assets/my_account/circle_plus.png" class="plus"></td>
            </tr>
          </table>
          
        </div>
      </div>
      <div class="delete-service-btn">
        <h3><img src="/assets/my_account/new_create/delete-btn.png">Delete Service</h3>
      </div>
    </div>
  </div>
</div>
