<div class="new-create-company account create-share">
  <div class="container">
    <div class="dashbaord">
      <div class="img">
        <img src="/assets/my_account/dashboard.png">
      </div>
      <div class="right-title-tab">
        <a href="/publishers/new_create_introduction">
          <div class="tab">
            <img src="/assets/my_account/new_create/tab_complete.png">
            Introduction
          </div>
        </a>
        <img src="/assets/my_account/new_create/tab_bar.png" style="margin: 0">
        <a href="/publishers/new_create_cost">
          <div class="tab">
            <img src="/assets/my_account/new_create/tab_incomplete.png">Cost
          </div>
        </a>
        <img src="/assets/my_account/new_create/tab_bar.png" style="margin: 0">
        <a href="/publishers/new_create_details">
          <div class="tab">
            <img src="/assets/my_account/new_create/tab_complete.png">Details
          </div>
        </a>
        <img src="/assets/my_account/new_create/tab_bar.png" style="margin: 0">
        <a href="/publishers/new_create_company">
          <div class="tab tab-select">
            <img src="/assets/my_account/new_create/tab_incomplete.png">Company Profile
          </div>
        </a>
      </div>
    </div> 
    <%= render "/home/left"%>
  </div>
</div>
