<div class="new-create-cost account create-share">
  <div class="container">
    <div class="dashbaord">
      <div class="img">
        <img src="/assets/my_account/dashboard.png">
      </div>
      <div class="right-title-tab">
        <div class="tab">
          <a href="/publishers/new_create_introduction">
            <img src="/assets/my_account/new_create/tab_complete.png">
            Introduction
          </a>
        </div>
        <img src="/assets/my_account/new_create/tab_bar.png" style="margin: 0">
        <div class="tab tab-select">
          <a href="/publishers/new_create_cost">
            <img src="/assets/my_account/new_create/tab_incomplete.png">Cost
          </a>
        </div>
        <img src="/assets/my_account/new_create/tab_bar.png" style="margin: 0">
        <div class="tab">
          <a href="/publishers/new_create_details">
            <img src="/assets/my_account/new_create/tab_complete.png">Details
          </a>
        </div>
        <img src="/assets/my_account/new_create/tab_bar.png" style="margin: 0">
        <div class="tab">
          <a href="/publishers/new_create_company">
            <img src="/assets/my_account/new_create/tab_incomplete.png">Company Profile
          </a>
        </div>
      </div>
    </div> 
    <%= render "/home/left"%>
    <div class="tab-cost right-height" id="right">
      <div class="share-pack pack1">
        <div class="area">
          <table>
            <tr>
              <td><h2>Cost</h2></td>
              <td>
                <div class="check">
                  <h3><img src="/assets/my_account/radio-01.png">Flat Rate</h3>
                  <h3 class="select"><img src="/assets/my_account/radio-02.png">Multiple Rate</h3>
                </div>
                <p class="dollar">$</p><input type="text" class="input-area"><p class="usd">USD</p><img src="/assets/my_account/delete.png" class="delete">
              </td>
            </tr>
            <tr>
              <td></td>
              <td><img src="/assets/my_account/circle_plus.png" class="plus"></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <p>Flat Rate :  When the cost of a service is fixed.</p>
                <p>Multiple Rate : When you can designate the cost range or multiple costs for a service.<br>(If a service has diffferent Details depending on the cost, <span>you should make a separate service</span><br>instead of choosing Multiple Rate.)</p>
              </td>
            </tr>
          </table>
          
        </div>
      </div>
      <div class="share-pack pack2">
        <div class="area">
          <table>
            <tr>
              <td><h2>Minimum Budget</h2></td>
              <td>
                <div class="check">
                  <h3 class="select"><img src="/assets/my_account/radio-02.png">Yes</h3>
                  <h3><img src="/assets/my_account/radio-01.png">No</h3>
                </div>
                <p class="dollar">$</p><input type="text" class="input-area"><p class="usd">USD</p>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <p>Click 'Yes' when Advertisers need to buy at least more than 1 quantity (Qty.) of your service,<br>and indicate the required budget to execute your service.</p>
                <p>Click 'No' when Advertisers can buy your service starting from 1 quantity (Qty.).</p></td>
            </tr>
          </table>
          
        </div>
      </div>
      <div class="delete-service-btn">
        <h3><img src="/assets/my_account/new_create/delete-btn.png">Delete Service</h3>
      </div>

    </div>
  </div>
  <div class="save-bar">
    <div class="container">
      <div class="left preview-btn">Preview</div>
      <div class="right">
        <h3>Discard changes</h3>
        <div class="save-btn">Save</div>
      </div>
    </div>
  </div>
</div>
