<div class="left-list" style="height:100%;">
  <div class="list my-account">
    <h1>My Account</h1>
    <table>
      <tr onclick="#none" style="cursor: pointer">
        <td class="list-icon"><img src="/assets/my_account/account_profile.png"></td>
        <td class="list-title"><a href="/users/edit"<%if @selected =="profile"%> class="select" <%end%>>Profile</a></td>
      </tr>
      <tr onclick="#none" style="cursor: pointer">            
        <td class="list-icon"><img src="/assets/my_account/account_company_profile.png"></td>
        <td class="list-title" ><a href="/users/company"<%if @selected =="company"%> class="select" <%end%> >Company<br>Profile</a></td>
      </tr>
      <tr onclick="#none" style="cursor: pointer">
        <td class="list-icon"><img src="/assets/my_account/account_member.png"></td>
        <td class="list-title" ><a href="/users/members" <%if @selected == "member"%> class="select"<%end%> >Member</a></td>
      </tr>
    </table>
  </div>
  <div class="list advertisers">
    <h1>Advertisers</h1>
    <table>
      <tr onclick="#none" style="cursor: pointer">
        <td class="list-icon"><img src="/assets/my_account/advertisers_dashboard.png"></td>
        <td class="list-title"><a href="/home/account_dashboard">Dashboard</a></td>
      </tr>
      <tr onclick="#none" style="cursor: pointer">
        <td class="list-icon"><img src="/assets/my_account/advertisers_billing.png"></td>
        <td class="list-title"><a href="/advertisers/billing" <%if @selected == "billing" %>class="select"<%end%>>Billing</a></td>
      </tr>
    </table>
  </div>

  <div class="list Publishers">
    <h1>Publishers</h1>
    <table>
      <tr onclick="#none" style="cursor: pointer">
        <td class="list-icon"><img src="/assets/my_account/publishers_project.png"></td>
        <td class="list-title"><a href="/home/account_projects">Projects</a></td>
      </tr>
      <tr onclick="#none" style="cursor: pointer">
        <td class="list-icon"><img src="/assets/my_account/publishers_manage_service.png"></td>
        <td class="list-title"><a href="/home/account_manage_service">Manage<br>Service</a></td>
      </tr>

    </table>
  </div>
</div>
