<!-- bottom.css.scss -->

<div class="aboutus container">



<iframe src="//player.vimeo.com/video/115978208?title=0&amp;byline=0&amp;portrait=0" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>




  <h2><span class="color">Jungggle</span> is an open marketplace where Service Providers<br>(Marketing Localization, QA, etc.) register  their service and conduct direct sales to Advertisers. </h2>
  <div class="for">
    <div class="contents advertiser">
      <h3><img src="/assets/bottom/about-01.png">For Advertisers</h3>
      <h5>"You no longer have to spend your precious time googling<br>to find a marketingcompanies, or exchange countless emails <br>to get more detailed information about their services."</h5>
      <p><img src="/assets/bottom/fee-dot.png">&nbsp;&nbsp;We waste an unnecessary amount of time in order to find the right<br>&nbsp;&nbsp;&nbsp;&nbsp;marketing company that meets the required conditions.</p>
      <p><img src="/assets/bottom/fee-dot.png">&nbsp;&nbsp;Jungggle collects data from marketing companies around the globe<br>&nbsp;&nbsp;&nbsp;&nbsp;and organize according to the needs of advertisers.</p>
      <p><img src="/assets/bottom/fee-dot.png">&nbsp;&nbsp;Through Jungggle's filtering mechanism, you can easily find local<br>&nbsp;&nbsp;&nbsp;&nbsp;marketing companies that suit your needs.</p>
      <p><img src="/assets/bottom/fee-dot.png">&nbsp;&nbsp;Not only that, you can see the detailed service information registered<br>&nbsp;&nbsp;&nbsp;&nbsp;by the marketing company and you can see previous project results<br>&nbsp;&nbsp;&nbsp;&nbsp;of the marketing company that cannot easily be found by googling.</p>
      <p><img src="/assets/bottom/fee-dot.png">&nbsp;&nbsp;Therefore you can make purchase without additional communication.</p>
      <p><img src="/assets/bottom/fee-dot.png">&nbsp;&nbsp;Through Jungggle, You can focus on your product without wasting<br>&nbsp;&nbsp;&nbsp;&nbsp;your time and effort on marketing. </p>
    </div>
    <div class="contents provider">
      <h3><img src="/assets/bottom/about-02.png">For Service Providers</h3>
      <h5><i>“You are now able to directly sales your service to clients<br>all around the world in an incredibly easy way.”</i></h5>
      <p><img src="/assets/bottom/fee-dot.png">&nbsp;&nbsp;You can proceed communication only with actual purchasers of<br>&nbsp;&nbsp;&nbsp;&nbsp;your service, instead of responding to countless inquiries.</p>
      <p><img src="/assets/bottom/fee-dot.png">&nbsp;&nbsp;Through Jungggle's payment system, advertiser will make advance<br>&nbsp;&nbsp;&nbsp;&nbsp;payment for your service and we keep the fee.<br>&nbsp;&nbsp;&nbsp;&nbsp;Once the service is fully delivered, we will transfer the fee to you.<br>&nbsp;&nbsp;&nbsp;&nbsp;This way, Jungggle can help safe transaction for noth parties.</p>
      <p><img src="/assets/bottom/fee-dot.png">&nbsp;&nbsp;Through Jungggle, you can now conduct direct sales not only<br>&nbsp;&nbsp;&nbsp;&nbsp;to your local client but also to global clients.</p>
    </div>
  </div>
</div>
