<div class="aboutus container">
  <h1>동영상</h1>
  <h2><span class="color">Jungggle</span> is an open marketplace where Service Providers<br>(Marketing Localization, QA, etc.) register  their service and conduct direct sales to Advertisers. </h2>
  <div class="for">
    <div class="advertiser">
      
    </div>
    <div class="provider">
    </div>
  </div>
</div>
