<div class="aboutus container">
  <h1>About Us</h1>
  <!-- <p>Find me in app/views/home/aboutus.html.erb</p> -->
  <p><span>“Jungggle”</span> — is a fresh, independent software development company filled with passionate people.<br> We specialize in software development using the latest OS X technologies. Our objective is, and always will be, to release innovative software and information technology solutions. Our main concern is our customers' needs and we always do our best to listen to them.</p>
  <img src="/assets/main/aboutus_img.jpg">
</div>