<div class="account">
  <div class="container">
    <!--<div class="left-list">
      <div class="list my-account">
        <h1>My Account</h1>
        <table>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/account_profile.png"></td>
            <td class="list-title"><a href="/home/account_profile">Profile</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">            
            <td class="list-icon"><img src="/assets/my_account/account_company_profile.png"></td>
            <td class="list-title"><a href="/home/account_company_profile">Company<br>Profile</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/account_member.png"></td>
            <td class="list-title"><a href="/home/account_member">Member</a></td>
          </tr>
        </table>
      </div>
      <div class="list advertisers">
        <h1>Advertisers</h1>
        <table>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_dashboard.png"></td>
            <td class="list-title"><a href="/home/account_dashboard">Dashboard</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_billing.png"></td>
            <td class="list-title"><a href="/home/account_billing">Billing</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_biddings.png"></td>
            <td class="list-title"><a href="/home/account_ad_biddings">Biddings</a></td>
          </tr>
        </table>
      </div>
      
      <div class="list Publishers">
        <h1>Publishers</h1>
        <table>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/publishers_project.png"></td>
            <td class="list-title"><a href="/home/account_projects" class="select">Projects</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/publishers_manage_service.png"></td>
            <td class="list-title"><a href="/home/account_manage_service">Manage<br>Service</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_biddings.png"></td>
            <td class="list-title"><a href="/home/account_pub_biddings">Biddings</a></td>
          </tr> 
        </table>
      </div>
    </div>-->
    <%= render "/home/left"%>
    <div class="right-projects">
      <div class="top-info">
        <div class="info">
          <p>Total Earning</p>
          <h2>$100,000</h2>
        </div>
        <div class="info">
          <p>Most Popular Service</p>
          <h2 class="small">CashSlide CPI(iOS)<br>(3 purchases)</h2>
        </div>
        <div class="info">
          <p>Most Profitable Service</p>
          <h2 class="small">FAAD(Promotional App)<br>($70,000)</h2>
        </div>
        <div class="info">
          <p>Rating</p>
          <h2>8.7</h2>
        </div>
        <div class="info">
          <p>Current Fee</p>
          <h2>5.4%</h2>
        </div>
      </div>


      <h3>Wailting for Kick-off</h3>
      <table>
        <tr class="table-header">
          <td>Payment Date</td>
          <td>Company Name</td>
          <td>Service Name</td>
          <td class="marketing">Marketing Type</td>
          <td>Cost</td>
          <td class="qty">Qty.</td>
          <td>Total</td>
          <td>Fee</td>
          <td></td>
          <td></td>
        </tr>
        <tr class="table-body">
          <td>2014.07.10</td>
          <td class="name">Gameberry Inc.</td>
          <td>FMA</td>
          <td>CPI(iOS)</td>
          <td>$0.5</td>
          <td>1,000</td>
          <td>$500</td>
          <td>5.4%</td>
          <td class="kick-btn btn" data-toggle="modal" data-target="#Modal-kick-off">Kick-off</td>
          <td><img src="/assets/my_account/project-mail.png" data-toggle="modal" data-target="#Modal-mail"></td>
        </tr>
        <tr class="table-body">
          <td>2014.07.10</td>
          <td class="name">Gameberry Inc.</td>
          <td>FMA</td>
          <td>CPI(iOS)</td>
          <td>$0.5</td>
          <td>1,000</td>
          <td>$500</td>
          <td>5.4%</td>
          <td class="kick-btn btn" data-toggle="modal" data-target="#Modal-kick-off">Kick-off</td>
          <td><img src="/assets/my_account/project-mail.png" data-toggle="modal" data-target="#Modal-mail"></td>
        </tr>
        <tr class="table-body">
          <td>2014.07.10</td>
          <td class="name">Gameberry Inc.</td>
          <td>FMA</td>
          <td>CPI(iOS)</td>
          <td>$0.5</td>
          <td>1,000</td>
          <td>$500</td>
          <td>5.4%</td>
          <td class="refunded" data-toggle="modal" data-target="#Modal-refunded">Refunded</td>
          <td><img src="/assets/my_account/project-mail.png" data-toggle="modal" data-target="#Modal-mail"></td>
        </tr>
      </table>
      <h3>Ongoing Projects</h3>
      <table>
        <tr class="table-header">
          <td>Payment Date</td>
          <td>Company Name</td>
          <td>Service Name</td>
          <td class="marketing">Marketing Type</td>
          <td>Cost</td>
          <td class="qty">Qty.</td>
          <td>Total</td>
          <td>Fee</td>
          <td></td>
          <td></td>
        </tr>
        <tr class="table-body">
          <td>2014.07.10</td>
          <td class="name">Gameberry Inc.</td>
          <td>FMA</td>
          <td>CPI(iOS)</td>
          <td>$0.5</td>
          <td>1,000</td>
          <td>$500</td>
          <td>5.4%</td>
          <td class="ongoing-btn btn" data-toggle="modal" data-target="#Modal-complete">Complete</td>
          <td><img src="/assets/my_account/project-mail.png" data-toggle="modal" data-target="#Modal-mail"></td>
        </tr>
        <tr class="table-body">
          <td>2014.07.10</td>
          <td class="name">Gameberry Inc.</td>
          <td>FMA</td>
          <td>CPI(iOS)</td>
          <td>$0.5</td>
          <td>1,000</td>
          <td>$500</td>
          <td>5.4%</td>
          <td class="ongoing-btn-a result-btn-a btn" data-toggle="modal" data-target="#Modal-complain">Complain<br>Received</td>
          <td><img src="/assets/my_account/project-mail.png" data-toggle="modal" data-target="#Modal-mail"></td>
        </tr>
      </table>
      <h3>Complete Projects<span>(You need to fill out the Result in order to receive the fee)</span></h3>
      <table>
        <tr class="table-header">
          <td>Payment Date</td>
          <td>Company Name</td>
          <td>Service Name</td>
          <td class="marketing">Marketing Type</td>
          <td>Cost</td>
          <td class="qty">Qty.</td>
          <td>Total</td>
          <td>Fee</td>
          <td></td>
          <td></td>
        </tr>
        <tr class="table-body">
          <td>2014.07.10</td>
          <td class="name">Gameberry Inc.</td>
          <td>FMA</td>
          <td>CPI(iOS)</td>
          <td>$0.5</td>
          <td>1,000</td>
          <td>$500</td>
          <td>5.4%</td>
          <td class="result-btn result-btn-a btn" data-toggle="modal" data-target="#Modal-red-result">Project<br>Result</td>
          <td><img src="/assets/my_account/project-mail.png" data-toggle="modal" data-target="#Modal-mail"></td>
        </tr>
        <tr class="table-body">
          <td>2014.07.10</td>
          <td class="name">Gameberry Inc.</td>
          <td>FMA</td>
          <td>CPI(iOS)</td>
          <td>$0.5</td>
          <td>1,000</td>
          <td>$500</td>
          <td>5.4%</td>
          <td class="result-btn result-btn-b btn" data-toggle="modal" data-target="#Modal-gray-result">Project<br>Result</td>
          <td><img src="/assets/my_account/project-mail.png" data-toggle="modal" data-target="#Modal-mail"></td>
        </tr>
        <tr class="table-body">
          <td>2014.07.10</td>
          <td class="name">Gameberry Inc.</td>
          <td>FMA</td>
          <td>CPI(iOS)</td>
          <td>$0.5</td>
          <td>1,000</td>
          <td>$500</td>
          <td>5.4%</td>
          <td class="disapprove-btn btn" data-toggle="modal" data-target="#Modal-disapprove">Disapproved</td>
          <td><img src="/assets/my_account/project-mail.png" data-toggle="modal" data-target="#Modal-mail"></td>
        </tr>
      </table>
    </div>
  </div>
</div>




<!-- mail Modal -->
<div class="modal fade" id="Modal-mail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-projects">
    <div class="modal-content modal-projects">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>Send a message to your customer.</h2>
        <textarea rows="5"></textarea>
        <button type="button" class="btn btn-b" data-dismiss="modal">Send</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- kick-off Modal -->
<div class="modal fade" id="Modal-kick-off" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-projects">
    <div class="modal-content modal-projects">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>Kick-off the project!</h2>
        <textarea rows="5">Congrat you got the new project! Let your client know what he should prepare to move further.</textarea>
        <button type="button" class="btn btn-b" data-dismiss="modal">Kick-off</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- refunded Modal -->
<div class="modal fade" id="Modal-refunded" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-projects">
    <div class="modal-content modal-projects">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>Client had canceled the project.</h2>
        <p>Client can cancel the project only before you press the Kick-off button.</p>
        <button type="button" class="btn btn-b" data-dismiss="modal">Confirm</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- complete Modal -->
<div class="modal fade" id="Modal-complete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-projects">
    <div class="modal-content modal-projects">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>Are  you sure you completed the project?</h2>
        <p>Confimation message will be sent to the client.</p>
        <button type="button" class="btn btn-b" data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-a" data-dismiss="modal">No</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- complain Modal -->
<div class="modal fade" id="Modal-complain" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-projects">
    <div class="modal-content modal-projects">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>Cancel Request from the Advertiser</h2>
        <textarea rows="5"></textarea>
        <p class="complain-info">If you agree to refund 100% fee, please click <span class="point">"Approve"</span> button.<br>However, if you disagree to refund, or want to refund only part of fee,<br>then please click <span class="point">"Disapprove"</span> button.</p>
        <button type="button" class="btn btn-a" data-dismiss="modal">Approve</button>
        <button type="button" class="btn btn-b" data-dismiss="modal">Disapprove</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- red-result Modal -->
<div class="modal fade" id="Modal-red-result" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-projects">
    <div class="modal-content modal-projects">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>Explain the outstanding feature of this project! 추가 디테일 작업 예정</h2>
        <textarea rows="5">Please explain the feature in detail  to show your power to the potential clients! Clients want to see the specific data such as.. Impressions / CTR / CVR / Clicks /  Installs / Ranks etc</textarea>
        <div class="insert-img">DROP IMAGE HERE</div>
        <div class="insert-img">DROP IMAGE HERE</div>
        <div class="insert-img">DROP IMAGE HERE</div>
        <div class="insert-img">DROP IMAGE HERE</div>
        <button type="button" class="btn btn-b" data-dismiss="modal" data-toggle="modal" data-target="#Modal-thankyou">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- thankyou Modal -->
<div class="modal fade" id="Modal-thankyou" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-projects">
    <div class="modal-content modal-projects">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>Thanks for sharing us the great result!</h2>
        <p>Project Result will be visible "when the Advertiser finishes writing the comments" or "15 days after no reponse from the Advertiser"</p>
        <button type="button" class="btn btn-b" data-dismiss="modal">Confirm</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- gray-result Modal -->
<div class="modal fade" id="Modal-gray-result" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-projects">
    <div class="modal-content modal-projects">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>Explain the outstanding feature of this project! 추가 디테일 작업 예정</h2>
        <textarea rows="5">Please explain the feature in detail  to show your power to the potential clients! Clients want to see the specific data such as.. Impressions / CTR / CVR / Clicks /  Installs / Ranks etc</textarea>
        <div class="insert-img">DROP IMAGE HERE</div>
        <div class="insert-img">DROP IMAGE HERE</div>
        <div class="insert-img">DROP IMAGE HERE</div>
        <div class="insert-img">DROP IMAGE HERE</div>
        <button type="button" class="btn btn-b" data-dismiss="modal" data-toggle="modal" data-target="#Modal-thankyou">Edit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- disapprove Modal -->
<div class="modal fade" id="Modal-disapprove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-projects">
    <div class="modal-content modal-projects">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>disapprove</h2>
        <textarea rows="5">Congrat you got the new project! Let your client know what he should prepare to move further.</textarea>
        <button type="button" class="btn btn-b" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


