<div class="account">
  <div class="container">
    <%=render "left"%>
    <div class="right-ad-biddings">
      <h1>Current Biddings</h1>
      <div class="sub-title">
        <h3>Pick button will be vanish 1 week after the deadline</h3>
        <button type="button" class="btn btn-default"><img src="/assets/main/search_logo.png">Create Bidding <span>$99</span></button>
      </div>
      <table>
        <tr class="table-header">
          <td>Service Name</td>
          <td>Budget (max)</td>
          <td>Marketing Type</td>
          <td>Country</td>
          <td>Deadline</td>
          <td># of entry</td>
          <td>Status</td>
        </tr>
        <tr class="table-body">
          <td class="name">Polaris Office</td>
          <td class="budget">$1,000</td>
          <td>Ads / Mobile / CPI / iOS</td>
          <td>Japan</td>
          <td>2014.07.10</td>
          <td>4</td>
          <td class="status">on</td>
        </tr>
        <tr class="table-body">
          <td class="name">Polaris Office</td>
          <td class="budget">$1,000</td>
          <td>Ads / Mobile / CPI / iOS</td>
          <td>Japan</td>
          <td>2014.07.10</td>
          <td>4</td>
          <td class="status">on</td>
        </tr>
        <tr class="table-body">
          <td class="name">Polaris Office</td>
          <td class="budget">$1,000</td>
          <td>Ads / Mobile / CPI / iOS</td>
          <td>Japan</td>
          <td>2014.07.10</td>
          <td>4</td>
          <td class="status">on</td>
        </tr>
        <tr class="table-body">
          <td class="name">Polaris Office</td>
          <td class="budget">$1,000</td>
          <td>Ads / Mobile / CPI / iOS</td>
          <td>Japan</td>
          <td>2014.07.10</td>
          <td>4</td>
          <td class="status">on</td>
        </tr>
        <tr class="table-body">
          <td class="name">Polaris Office</td>
          <td class="budget">$1,000</td>
          <td>Ads / Mobile / CPI / iOS</td>
          <td>Japan</td>
          <td>2014.07.10</td>
          <td>4</td>
          <td class="status">on</td>
        </tr>
        <tr class="table-body">
          <td class="name">Polaris Office</td>
          <td class="budget">$1,000</td>
          <td>Ads / Mobile / CPI / iOS</td>
          <td>Japan</td>
          <td>2014.07.10</td>
          <td>4</td>
          <td class="status">on</td>
        </tr>
        <tr class="table-body">
          <td class="name">Polaris Office</td>
          <td class="budget">$1,000</td>
          <td>Ads / Mobile / CPI / iOS</td>
          <td>Japan</td>
          <td>2014.07.10</td>
          <td>4</td>
          <td class="status">on</td>
        </tr>
        <tr class="table-body">
          <td class="name">Polaris Office</td>
          <td class="budget">$1,000</td>
          <td>Ads / Mobile / CPI / iOS</td>
          <td>Japan</td>
          <td>2014.07.10</td>
          <td>4</td>
          <td class="status">on</td>
        </tr>
        <tr class="table-body">
          <td class="name">Polaris Office</td>
          <td class="budget">$1,000</td>
          <td>Ads / Mobile / CPI / iOS</td>
          <td>Japan</td>
          <td>2014.07.10</td>
          <td>4</td>
          <td class="status">on</td>
        </tr>
        <tr class="table-body">
          <td class="name">Polaris Office</td>
          <td class="budget">$1,000</td>
          <td>Ads / Mobile / CPI / iOS</td>
          <td>Japan</td>
          <td>2014.07.10</td>
          <td>4</td>
          <td class="status">on</td>
        </tr>

      </table>
    </div>
  </div>
</div>















