<div class="account">
  <div class="container">
    <!--<div class="left-list">
      <div class="list my-account">
        <h1>My Account</h1>
        <table>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/account_profile.png"></td>
            <td class="list-title"><a href="/home/account_profile">Profile</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">            
            <td class="list-icon"><img src="/assets/my_account/account_company_profile.png"></td>
            <td class="list-title"><a href="/home/account_company_profile">Company<br>Profile</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/account_member.png"></td>
            <td class="list-title"><a href="/home/account_member">Member</a></td>
          </tr>
        </table>
      </div>
      <div class="list advertisers">
        <h1>Advertisers</h1>
        <table>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_dashboard.png"></td>
            <td class="list-title"><a href="/home/account_dashboard">Dashboard</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_billing.png"></td>
            <td class="list-title"><a href="/home/account_billing">Billing</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_biddings.png"></td>
            <td class="list-title"><a href="/home/account_ad_biddings">Biddings</a></td>
          </tr>
        </table>
      </div>
      
      <div class="list Publishers">
        <h1>Publishers</h1>
        <table>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/publishers_project.png"></td>
            <td class="list-title"><a href="/home/account_projects" class="select">Projects</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/publishers_manage_service.png"></td>
            <td class="list-title"><a href="/home/account_manage_service">Manage<br>Service</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_biddings.png"></td>
            <td class="list-title"><a href="/home/account_pub_biddings">Biddings</a></td>
          </tr> 
        </table>
      </div>
    </div>-->
    <%= render "/home/left"%>
    <div class="right-projects">
      <div class="top-info">
        <div class="info">
          <p>Total Earning</p>
          <h2>$100,000</h2>
        </div>
        <div class="info">
          <p>Most Popular Service</p>
          <h2 class="small">CashSlide CPI(iOS)<br>(3 purchases)</h2>
        </div>
        <div class="info">
          <p>Most Profitable Service</p>
          <h2 class="small">FAAD(Promotional App)<br>($70,000)</h2>
        </div>
        <div class="info">
          <p>Rating</p>
          <h2>8.7</h2>
        </div>
        <div class="info">
          <p>Current Fee</p>
          <h2>5.4%</h2>
        </div>
      </div>


      <h3>Wailting for Kick-off</h3>
      <table>
        <tr class="table-header">
          <td>Payment Date</td>
          <td>Company Name</td>
          <td>Service Name</td>
          <td class="marketing">Marketing Type</td>
          <td>Cost</td>
          <td class="qty">Qty.</td>
          <td>Total</td>
          <td>Fee</td>
          <td></td>
          <td></td>
        </tr>
        <tr class="table-body">
          <td>2014.07.10</td>
          <td class="name">Gameberry Inc.</td>
          <td>FMA</td>
          <td>CPI(iOS)</td>
          <td>$0.5</td>
          <td>1,000</td>
          <td>$500</td>
          <td>5.4%</td>
          <td class="kick-btn btn">Kick-off</td>
          <td><img src="/assets/my_account/project-mail.png"></td>
        </tr>
        <tr class="table-body">
          <td>2014.07.10</td>
          <td class="name">Gameberry Inc.</td>
          <td>FMA</td>
          <td>CPI(iOS)</td>
          <td>$0.5</td>
          <td>1,000</td>
          <td>$500</td>
          <td>5.4%</td>
          <td class="kick-btn btn">Kick-off</td>
          <td><img src="/assets/my_account/project-mail.png"></td>
        </tr>
        <tr class="table-body">
          <td>2014.07.10</td>
          <td class="name">Gameberry Inc.</td>
          <td>FMA</td>
          <td>CPI(iOS)</td>
          <td>$0.5</td>
          <td>1,000</td>
          <td>$500</td>
          <td>5.4%</td>
          <td class="refunded">Refunded</td>
          <td><img src="/assets/my_account/project-mail.png"></td>
        </tr>
      </table>
      <h3>Ongoing Projects</h3>
      <table>
        <tr class="table-header">
          <td>Payment Date</td>
          <td>Company Name</td>
          <td>Service Name</td>
          <td class="marketing">Marketing Type</td>
          <td>Cost</td>
          <td class="qty">Qty.</td>
          <td>Total</td>
          <td>Fee</td>
          <td></td>
          <td></td>
        </tr>
        <tr class="table-body">
          <td>2014.07.10</td>
          <td class="name">Gameberry Inc.</td>
          <td>FMA</td>
          <td>CPI(iOS)</td>
          <td>$0.5</td>
          <td>1,000</td>
          <td>$500</td>
          <td>5.4%</td>
          <td class="ongoing-btn btn">Complete</td>
          <td><img src="/assets/my_account/project-mail.png"></td>
        </tr>
      </table>
      <h3>Complete Projects<span>(You need to fill out the Result in order to receive the fee)</span></h3>
      <table>
        <tr class="table-header">
          <td>Payment Date</td>
          <td>Company Name</td>
          <td>Service Name</td>
          <td class="marketing">Marketing Type</td>
          <td>Cost</td>
          <td class="qty">Qty.</td>
          <td>Total</td>
          <td>Fee</td>
          <td></td>
          <td></td>
        </tr>
        <tr class="table-body">
          <td>2014.07.10</td>
          <td class="name">Gameberry Inc.</td>
          <td>FMA</td>
          <td>CPI(iOS)</td>
          <td>$0.5</td>
          <td>1,000</td>
          <td>$500</td>
          <td>5.4%</td>
          <td class="result-btn result-btn-a btn">Project<br>Result</td>
          <td><img src="/assets/my_account/project-mail.png"></td>
        </tr>
        <tr class="table-body">
          <td>2014.07.10</td>
          <td class="name">Gameberry Inc.</td>
          <td>FMA</td>
          <td>CPI(iOS)</td>
          <td>$0.5</td>
          <td>1,000</td>
          <td>$500</td>
          <td>5.4%</td>
          <td class="result-btn result-btn-b btn">Project<br>Result</td>
          <td><img src="/assets/my_account/project-mail.png"></td>
        </tr>
        <tr class="table-body">
          <td>2014.07.10</td>
          <td class="name">Gameberry Inc.</td>
          <td>FMA</td>
          <td>CPI(iOS)</td>
          <td>$0.5</td>
          <td>1,000</td>
          <td>$500</td>
          <td>5.4%</td>
          <td class="disapprove-btn btn">Disapproved</td>
          <td><img src="/assets/my_account/project-mail.png"></td>
        </tr>
      </table>
    </div>
  </div>
</div>