<div class="account">
  <div class="container">
    <div class="left-list">
      <div class="list my-account">
        <h1>My Account</h1>
        <table>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/account_profile.png"></td>
            <td class="list-title"><a href="/home/account_profile">Profile</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">            
            <td class="list-icon"><img src="/assets/my_account/account_company_profile.png"></td>
            <td class="list-title"><a href="/home/account_company_profile">Company<br>Profile</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/account_member.png"></td>
            <td class="list-title"><a href="/home/account_member">Member</a></td>
          </tr>
        </table>
      </div>
      <div class="list advertisers">
        <h1>Advertisers</h1>
        <table>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_dashboard.png"></td>
            <td class="list-title"><a href="/home/account_dashboard">Dashboard</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_billing.png"></td>
            <td class="list-title"><a href="/home/account_billing">Billing</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_biddings.png"></td>
            <td class="list-title"><a href="/home/account_ad_biddings" class="select">Biddings</a></td>
          </tr>
        </table>
      </div>
      
      <div class="list Publishers">
        <h1>Publishers</h1>
        <table>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/publishers_project.png"></td>
            <td class="list-title"><a href="/home/account_projects">Projects</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/publishers_manage_service.png"></td>
            <td class="list-title"><a href="/home/account_manage_service">Manage<br>Service</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_biddings.png"></td>
            <td class="list-title"><a href="/home/account_pub_biddings">Biddings</a></td>
          </tr> 
        </table>
      </div>
    </div>
    <div class="right-ad-biddings">
      <h1>Current Biddings</h1>
      <div class="sub-title">
        <h3>Pick button will be vanish 1 week after the deadline</h3>
        <button type="button" class="btn btn-default"><img src="/assets/main/search_logo.png">Create Bidding <span>$99</span></button>
      </div>
      <table>
        <tr class="table-header">
          <td>Service Name</td>
          <td>Budget (max)</td>
          <td>Marketing Type</td>
          <td>Country</td>
          <td>Deadline</td>
          <td># of entry</td>
          <td>Status</td>
        </tr>
        <tr class="table-body">
          <td class="name">Polaris Office</td>
          <td class="budget">$1,000</td>
          <td>Ads / Mobile / CPI / iOS</td>
          <td>Japan</td>
          <td>2014.07.10</td>
          <td>4</td>
          <td class="status">on</td>
        </tr>
        <tr class="table-body">
          <td class="name">Polaris Office</td>
          <td class="budget">$1,000</td>
          <td>Ads / Mobile / CPI / iOS</td>
          <td>Japan</td>
          <td>2014.07.10</td>
          <td>4</td>
          <td class="status">on</td>
        </tr>
        <tr class="table-body">
          <td class="name">Polaris Office</td>
          <td class="budget">$1,000</td>
          <td>Ads / Mobile / CPI / iOS</td>
          <td>Japan</td>
          <td>2014.07.10</td>
          <td>4</td>
          <td class="status">on</td>
        </tr>
        <tr class="table-body">
          <td class="name">Polaris Office</td>
          <td class="budget">$1,000</td>
          <td>Ads / Mobile / CPI / iOS</td>
          <td>Japan</td>
          <td>2014.07.10</td>
          <td>4</td>
          <td class="status">on</td>
        </tr>
        <tr class="table-body">
          <td class="name">Polaris Office</td>
          <td class="budget">$1,000</td>
          <td>Ads / Mobile / CPI / iOS</td>
          <td>Japan</td>
          <td>2014.07.10</td>
          <td>4</td>
          <td class="status">on</td>
        </tr>
        <tr class="table-body">
          <td class="name">Polaris Office</td>
          <td class="budget">$1,000</td>
          <td>Ads / Mobile / CPI / iOS</td>
          <td>Japan</td>
          <td>2014.07.10</td>
          <td>4</td>
          <td class="status">on</td>
        </tr>
        <tr class="table-body">
          <td class="name">Polaris Office</td>
          <td class="budget">$1,000</td>
          <td>Ads / Mobile / CPI / iOS</td>
          <td>Japan</td>
          <td>2014.07.10</td>
          <td>4</td>
          <td class="status">on</td>
        </tr>
        <tr class="table-body">
          <td class="name">Polaris Office</td>
          <td class="budget">$1,000</td>
          <td>Ads / Mobile / CPI / iOS</td>
          <td>Japan</td>
          <td>2014.07.10</td>
          <td>4</td>
          <td class="status">on</td>
        </tr>
        <tr class="table-body">
          <td class="name">Polaris Office</td>
          <td class="budget">$1,000</td>
          <td>Ads / Mobile / CPI / iOS</td>
          <td>Japan</td>
          <td>2014.07.10</td>
          <td>4</td>
          <td class="status">on</td>
        </tr>
        <tr class="table-body">
          <td class="name">Polaris Office</td>
          <td class="budget">$1,000</td>
          <td>Ads / Mobile / CPI / iOS</td>
          <td>Japan</td>
          <td>2014.07.10</td>
          <td>4</td>
          <td class="status">on</td>
        </tr>

      </table>
    </div>
  </div>
</div>















