<!-- account.css.scss -->

<div class="account">
  <div class="container">
    <div class="dashbaord">
      <div class="img">
        <img src="/assets/my_account/dashboard.png">
      </div>
      <h1 class="right-title"><img src="/assets/my_account/right-billing.png">Billing</h1>
    </div>
    <%=render "/home/left"%>

    <div class="right-billing-invoice right-height">
      <div class="pack">
        <div class="billing-header">
          <img src="/assets/logo-01.png" style="width: 175px;">
          <h2>Invoice #0001<br><span>August 6, 2014</span></h2>
        </div>
        <div class="billing-body">
          <div>
            <div class="receipt buyer">
              <h3>Bill to</h3>
              <p>Yagers Inc.</p>
              <p>Goeun Choe</p>
              <p>fecge@yagers.co.kr</p>
              <p>Japan</p>
            </div>
            <div class="receipt seller">
              <h3>From</h3>
              <p>Gameberry Inc.</p>
              <p>401 Seodo building 1712-8</p>
              <p>Seocho-dong, Seocho-gu, Seoul</p>
              <p>Korea</p>
            </div>
          </div>

          <div class="invoice-table">
            <table>
              <tr class="table-head">
                <td class="name">Description</td>
                <td class="cost">Cost</td>
                <td class="qty">Qty.</td>
                <td class="total">Total Cost</td>
              </tr>
              <tr class="table-body">
                <td class="name">Jungggle.com Deposit (Jungggle Credit)</td>
                <td class="cost">$7,500</td>
                <td class="qty">1</td>
                <td class="total">$7,500</td>
              </tr>
            </table>
            <h3>Tatal : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>$10,000</span></h3>
          </div>
        </div>

        <div class="bank-info">
          <h3>Bank Info.</h3>
          <p class="title">Beneficiary name</p>
          <p>Gameberry</p>
          <br>
          <p class="title">Account Numer / IBAN</p>
          <p>40907653304010</p>
          <br>
          <p class="title">Bank name</p>
          <p>INDUSTRIAL BANK OF KOREA</p>
          <br>
          <p class="title">Bank Swift Code</p>
          <p>IBKOKRSEXXX</p>
          <br>
          <p class="title">Back Address</p>
          <p>INDUSTRIAL BANK OF KOREA (HEAD OFFICE SEOUL) SEOUL<br>50, ULCHIRO 2-GA, CHUNG-GU</p>
        </div>

        <P class="billing-footer">support@jungggle.com<br>+82-70-7435-0192</P>
      </div>
    </div>
  </div>
</div>