<div class="account">
  <div class="container">
    <!-- <div class="left-list">
      <div class="list my-account">
        <h1>My Account</h1>
        <table>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/account_profile.png"></td>
            <td class="list-title"><a href="/home/account_profile">Profile</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">            
            <td class="list-icon"><img src="/assets/my_account/account_company_profile.png"></td>
            <td class="list-title"><a href="/home/account_company_profile">Company<br>Profile</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/account_member.png"></td>
            <td class="list-title"><a href="/home/account_member">Member</a></td>
          </tr>
        </table>
      </div>
      <div class="list advertisers">
        <h1>Advertisers</h1>
        <table>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_dashboard.png"></td>
            <td class="list-title"><a href="/home/account_dashboard">Dashboard</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_billing.png"></td>
            <td class="list-title"><a href="/home/account_billing">Billing</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_biddings.png"></td>
            <td class="list-title"><a href="/home/account_ad_biddings">Biddings</a></td>
          </tr>
        </table>
      </div>
      
      <div class="list Publishers">
        <h1>Publishers</h1>
        <table>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/publishers_project.png"></td>
            <td class="list-title"><a href="/home/account_projects">Projects</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/publishers_manage_service.png"></td>
            <td class="list-title"><a href="/home/account_manage_service" class="select">Manage<br>Service</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_biddings.png"></td>
            <td class="list-title"><a href="/home/account_pub_biddings">Biddings</a></td>
          </tr> 
        </table>
      </div>
    </div> -->
    <%= render "/home/left"%>
    <div class="right-manage-service">
      <h1>Manage Service</h1>
      <div class="sub-title">
        <h3>Current Services</h3>
        <button type="button" class="btn btn-default" onclick="location.href= '/publishers/create';">Create Service</button>
      </div>
      <table>
        <tr class="table-header">
          <td>Last Update</td>
          <td>Service Name</td>
          <td>Country</td>
          <td>Marketing Type</td>
          <td>Cost</td>
          <td>Est. Result</td>
          <td>Earning</td>
          <td>Status</td>
        </tr>
        <tr class="table-body">
          <td>2014.07.10</td>
          <td class="name">Cash Slide</td>
          <td>Japan</td>
          <td>AD / Mobile / iOS / CPI</td>
          <td class="font-bold">$0.1 - 0.7</td>
          <td>Multiple</td>
          <td class="font-bold">$0</td>
          <td><img src="/assets/my_account/on.jpg"></td>
        </tr>
        <tr class="table-body">
          <td>2014.07.10</td>
          <td class="name">Free App A Day<br><span>A Package</span></td>
          <td>Japan</td>
          <td>AD / Mobile / iOS / Promotional App</td>
          <td class="font-bold">$1,000 - 7,500</td>
          <td>5,000,000 Imps</td>
          <td class="font-bold">$15,000</td>
          <td><img src="/assets/my_account/off.jpg"></td>
        </tr>
      </table>
      <h3>There is no current service right now. <span>Create one!</span></h3>
    </div>
  </div>
</div>





