<div class="account">
  <div class="container">
    <div class="left-list">
      <div class="list my-account">
        <h1>My Account</h1>
        <table>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/account_profile.png"></td>
            <td class="list-title"><a href="/home/account_profile">Profile</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">            
            <td class="list-icon"><img src="/assets/my_account/account_company_profile.png"></td>
            <td class="list-title"><a href="/home/account_company_profile" class="select">Company<br>Profile</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/account_member.png"></td>
            <td class="list-title"><a href="/home/account_member">Member</a></td>
          </tr>
        </table>
      </div>
      <div class="list advertisers">
        <h1>Advertisers</h1>
        <table>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_dashboard.png"></td>
            <td class="list-title"><a href="/home/account_dashboard">Dashboard</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_billing.png"></td>
            <td class="list-title"><a href="/home/account_billing">Billing</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_biddings.png"></td>
            <td class="list-title"><a href="/home/account_ad_biddings">Biddings</a></td>
          </tr>
        </table>
      </div>
      
      <div class="list Publishers">
        <h1>Publishers</h1>
        <table>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/publishers_project.png"></td>
            <td class="list-title"><a href="/home/account_projects">Projects</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/publishers_manage_service.png"></td>
            <td class="list-title"><a href="/home/account_manage_service">Manage<br>Service</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_biddings.png"></td>
            <td class="list-title"><a href="/home/account_pub_biddings">Biddings</a></td>
          </tr> 
        </table>
      </div>
    </div>
    <div class="right-company-profile">
      <h1>Company Profile</h1>
        <input type="text" placeholder="Company Name">
        <input type="text" placeholder="Located In">
        <input type="text" placeholder="Number of Emplyee">
        <input type="text" placeholder="Website">
        <textarea rows="4" placeholder="Company Introduction"></textarea>

        <form action="" method="post" enctype="multipart/form-data">
          <div class="upload">
            <input type="file" name="upload" placeholder="load">
          </div>
        </form>
        <p class="upload-info">JPG, GIF or PNG, Max size of 000k</p>

        <form action="" method="post" enctype="multipart/form-data">
          <div class="upload">
            <input type="file" name="upload" placeholder="load">
          </div>
        </form>
        <p>Publisher only</p>
        <button type="submit" class="btn btn-default">Save</button>
      </div>
    </div>
  </div>
</div>




