<!-- account.css.scss -->

<div class="account">
  <div class="container">
    <div class="dashbaord">
      <div class="img">
        <img src="/assets/my_account/dashboard.png">
      </div>
      <h1 class="right-title"><img src="/assets/my_account/right-dashboard.png">Dashboard</h1>
    </div>
    <%= render "/home/left"%>


    <div class="right-dashboard right-height">
      <h3>Ongoing Projects</h3>
      <table>
        <tr class="table-header">
          <td class="date">Payment Date</td>
          <td>Company Name</td>
          <td>User Name</td>
          <td>Marketing Type</td>
          <td>Qty.</td>
          <td>Cost</td>
          <td>Total</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="table-body">
          <td class="date">2014.07.10</td>
          <td class="cp-name">Gameberry Inc.</td>
          <td>James Lim</td>
          <td>CPI(iOS)</td>
          <td>1,000</td>
          <td class="font-big">$0.5</td>
          <td class="font-big">$1,000</td>
          <td><button type="button" class="disapprove" data-toggle="modal" data-target="#Modal-disapprove">Refund</button></td>
          <td class="message" data-toggle="modal" data-target="#Modal-message"><img src="/assets/my_account/project-mail.png"></td>
        </tr>
        <tr class="table-body">
          <td class="date">2014.07.10</td>
          <td class="cp-name">Gameberry Inc.</td>
          <td>James Lim</td>
          <td>CPI(iOS)</td>
          <td>1,000</td>
          <td class="font-big">$0.5</td>
          <td class="font-big">$1,000</td>
          <td class="ongoing">Ongoing<br>Cancel</td>
          <td><div class="message" data-toggle="modal" data-target="#Modal-message"><img src="/assets/my_account/project-mail.png"></div></td>
        </tr>
        <tr class="table-body">
          <td class="date">2014.07.10</td>
          <td class="cp-name">Gameberry Inc.</td>
          <td>James Lim</td>
          <td>CPI(iOS)</td>
          <td>1,000</td>
          <td class="font-big">$0.5</td>
          <td class="font-big">$1,000</td>
          
          <td class="rejected" data-toggle="modal" data-target="#Modal-rejected">Rejected</td>
          <td class="message" data-toggle="modal" data-target="#Modal-message"><img src="/assets/my_account/project-mail.png"></td>
        </tr>
      </table>


      <h3>Complete Pfojects<span>* You need to fill out the  Result in order to receive the fee</span></h3>
      <table>
        <tr class="table-header">
          <td class="date">Payment Date</td>
          <td>Company Name</td>
          <td>User Name</td>
          <td>Marketing Type</td>
          <td>Qty.</td>
          <td>Cost</td>
          <td>Total</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="table-body">
          <td class="date">2014.07.10</td>
          <td class="cp-name">Gameberry Inc.</td>
          <td>James Lim</td>
          <td>CPI(iOS)</td>
          <td>1,000</td>
          <td class="font-big">$0.5</td>
          <td class="font-big">$1,000</td>
          <td class="incomplete">Project<br>Result</td>
          <td class="message" data-toggle="modal" data-target="#Modal-message"><img src="/assets/my_account/project-mail.png"></td>
        </tr>
        <tr class="table-body">
          <td class="date">2014.07.10</td>
          <td class="cp-name">Gameberry Inc.</td>
          <td>James Lim</td>
          <td>CPI(iOS)</td>
          <td>1,000</td>
          <td class="font-big">$0.5</td>
          <td class="font-big">$1,000</td>
          <td class="completed" data-toggle="modal" data-target="#Modal-completed">Project<br>Result</td>
          <td class="message" data-toggle="modal" data-target="#Modal-message"><img src="/assets/my_account/project-mail.png"></td>
        </tr>
        <tr class="table-body">
          <td class="date">2014.07.10</td>
          <td class="cp-name">Gameberry Inc.</td>
          <td>James Lim</td>
          <td>CPI(iOS)</td>
          <td>1,000</td>
          <td class="font-big">$0.5</td>
          <td class="font-big">$1,000</td>
          <td class="disagreed">Disagreed</td>
          <td class="message" data-toggle="modal" data-target="#Modal-message"><img src="/assets/my_account/project-mail.png"></td>
        </tr>
        <tr class="table-body">
          <td class="date">2014.07.10</td>
          <td class="cp-name">Gameberry Inc.</td>
          <td>James Lim</td>
          <td>CPI(iOS)</td>
          <td>1,000</td>
          <td class="font-big">$0.5</td>
          <td class="font-big">$1,000</td>
          <td class="disagreed">Suggestion</td>
          <td class="message" data-toggle="modal" data-target="#Modal-message"><img src="/assets/my_account/project-mail.png"></td>
        </tr>
      </table>
    </div>
  </div>
</div>




<!-- disapprove Modal -->
<div class="modal fade" id="Modal-disapprove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-disapprove">
    <div class="modal-content modal-disapprove">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>Do you really want to request a refund?</h2>
        <p>Your payment will be fully refunded</p>
        <button type="button" class="btn btn-a" data-dismiss="modal">I don't want</button>
        <button type="button" class="btn btn-b">Yes, I want</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- rejected Modal -->
<div class="modal fade" id="Modal-rejected" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-rejected">
    <div class="modal-content modal-rejected">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1>Your project<br>has rejected by the publisher</h1>
        <p>With the following reason.<br><span>
        Your payment will be fully refunded.</span></p>
        <textarea name="comments" rows="5"></textarea>
        <button type="button" class="btn" data-dismiss="modal">Confirm</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- completed Modal -->
<div class="modal fade" id="Modal-completed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-completed">
    <div class="modal-content modal-completed">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1>Project Completed</h1>
        <p>Publisher insisted that the project has completed 2014.7.21</p>
        <h1 class="question">Do you Agreed?</h1>
        <p><span class="agreed">If you agreed, </span>we will tranfer the fee to the publisher, and you can't request the refund anymore.<br><span class="disagreed">If you disagreed, </span>we will investigate whether it is true or not.</p>
        <button type="button" class="btn btn-a" data-toggle="modal" data-dismiss="modal" data-target="#Modal-i-disagreed">No, I disagreed!</button>
        <button type="button" class="btn btn-b" data-dismiss="modal">Yes, I agreed!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- i-disagreed Modal -->
<div class="modal fade" id="Modal-i-disagreed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-i-disagreed">
    <div class="modal-content modal-i-disagreed">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1>Tell us why you disagreed</h1>
        <textarea rows="6" placeholder="Please explain based on the fact. What are the things that the publisher didn't performed compared with the initial order." ></textarea>
        <button type="button" class="btn" data-dismiss="modal">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- message Modal -->
<div class="modal fade" id="Modal-message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-message">
    <div class="modal-content modal-message">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>message</h2>
        <p>내용삽입</p>
        <button type="button" class="btn btn-a" data-dismiss="modal">I don't want</button>
        <button type="button" class="btn btn-b">Yes, I want</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

