<div class="account">
  <div class="container">
    <div class="left-list">
      <div class="list my-account">
        <h1>My Account</h1>
        <table>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/account_profile.png"></td>
            <td class="list-title"><a href="/home/account_profile">Profile</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">            
            <td class="list-icon"><img src="/assets/my_account/account_company_profile.png"></td>
            <td class="list-title"><a href="/home/account_company_profile">Company<br>Profile</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/account_member.png"></td>
            <td class="list-title"><a href="/home/account_member">Member</a></td>
          </tr>
        </table>
      </div>
      <div class="list advertisers">
        <h1>Advertisers</h1>
        <table>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_dashboard.png"></td>
            <td class="list-title"><a href="/home/account_dashboard">Dashboard</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_billing.png"></td>
            <td class="list-title"><a href="/home/account_billing" class="select">Billing</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_biddings.png"></td>
            <td class="list-title"><a href="/home/account_ad_biddings">Biddings</a></td>
          </tr>
        </table>
      </div>
      
      <div class="list Publishers">
        <h1>Publishers</h1>
        <table>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/publishers_project.png"></td>
            <td class="list-title"><a href="/home/account_projects">Projects</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/publishers_manage_service.png"></td>
            <td class="list-title"><a href="/home/account_manage_service">Manage<br>Service</a></td>
          </tr>
          <tr onclick="#none" style="cursor: pointer">
            <td class="list-icon"><img src="/assets/my_account/advertisers_biddings.png"></td>
            <td class="list-title"><a href="/home/account_pub_biddings">Biddings</a></td>
          </tr> 
        </table>
      </div>
    </div>

    <div class="right-billing">
      <h1>Billing</h1>
      <div class="sub-title">
        <h3>Current Jugggle Credit : <span>$2,500</span></h3>
        <div class="sub-title-left">
          <p>Add Credit</p>
          <input type="text" class="add" placeholder="$" name="add-credit">
          <button type="button" class="btn btn-default">Checkout Now</button>
        </div>
      </div>
      <table>
        <tr class="table-header">
          <td>Date Invice</td>
          <td>Details</td>
          <td>Payment Method</td>
          <td>Amount</td>
          <td>Invoice</td>
        </tr>
        <tr class="table-body">
          <td>2014.07.10</td>
          <td>Jugggle Credit</td>
          <td>Wire Transfer</td>
          <td>Pending</td>
          <td class="invoice">View</td>
        </tr>
        <tr class="table-body">
          <td>2014.07.10</td>
          <td>Gameberry Inc.</td>
          <td>Credit Card</td>
          <td class="font-big">- 10,000USD</td>
          <td class="invoice">View</td>
        </tr>
        <tr class="table-body">
          <td>2014.07.10</td>
          <td>Gameberry Inc.</td>
          <td>Pay pal</td>
          <td class="font-sm">10,000</td>
          <td class="invoice">View</td>
        </tr>
        <tr class="table-body">
          <td>2014.07.10</td>
          <td>Gameberry Inc.</td>
          <td>Credit Card</td>
          <td>pending</td>
          <td class="invoice">View</td>
        </tr>
        <tr class="table-body">
          <td>2014.07.10</td>
          <td>Gameberry Inc.</td>
          <td>Wire Transfer</td>
          <td class="font-big">- 10,000USD</td>
          <td class="invoice">View</td>
        </tr>
        <tr class="table-body">
          <td>2014.07.10</td>
          <td>Gameberry Inc.</td>
          <td>Pay pal</td>
          <td class="font-sm">10,000</td>
          <td class="invoice">View</td>
        </tr>
      </table>


      <ul class="pagination pagination-lg">
        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
      </ul>
    </div>
  </div>
</div>







