<!-- account.css.scss -->

<div class="account">
  <div class="container">
    <div class="dashbaord">
      <div class="img">
        <img src="/assets/my_account/dashboard.png">
      </div>
      <h1 class="right-title"><img src="/assets/my_account/right-billing.png">Billing</h1>
    </div>
    <%=render "/home/left"%>

    <div class="right-billing-invoice right-height">
      <div class="pack">
        <div class="billing-header">
          <img src="/assets/logo-01.png" style="width: 175px;">
          <h2>Receipt #0001<br><span>August 6, 2014</span></h2>
        </div>

        <div class="billing-body">
          <div>
            <div class="receipt buyer">
              <h3>Bill to</h3>
              <p>Yagers Inc.</p>
              <p>Goeun Choe</p>
              <p>fecge@yagers.co.kr</p>
              <p>Japan</p>
            </div>
            <div class="receipt seller">
              <h3>From</h3>
              <p>Tapjoy Inc.</p>
              <p>401 Seodo building 1712-8</p>
              <p>Seocho-dong Seocho-gu, Seoul</p>
              <p>Korea</p>
            </div>
          </div>

          <div class="invoice-table">
            <table>
              <tr class="table-head">
                <td class="name">Description</td>
                <td class="cost">Cost</td>
                <td class="qty">Qty.</td>
                <td class="total">Total Cost</td>
              </tr>
              <tr class="table-body">
                <td class="name">Jungggle.com Deposit (Jungggle Credit)</td>
                <td class="cost">$7,500</td>
                <td class="qty">1</td>
                <td class="total">$7,500</td>
              </tr>
            </table>
            <h5 style="text-align: right; padding: 10px 15px 0;">VAT 10% : &nbsp;&nbsp;<span>$750</span></h5>
            <h3>Tatal : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>$8,250</span></h3>
          </div>
        </div>

        <div class="bank-info">
          <h3>Bank Info.</h3>
          <p class="title">예금주명</p>
          <p>(주)게임베리</p>
          <br>
          <p class="title">은행명</p>
          <p>기업은행</p>
          <br>
          <p class="title">계좌번호</p>
          <p>409-076533-04-010</p>
          <br><br>
          <p>1. 부가세 (VAT) 10%가 추가된 금액이 입금되어야 합니다.</p>
          <p>2. 송금은 전액 $ 미화 (USD)로 이체해주셔야 합니다. 한화 (\)로 입금될 경우 반환되오니 유의 부탁드립니다.</p>
        </div>

        <P class="billing-footer">support@jungggle.com<br>+82-70-7435-0192</P>
      </div>
    </div>
  </div>
</div>
