<div id="map-canvas" style="width:100%; height:400px;"></div>

<div class="contact container">
  <div class="left-form">
    <h1>Contact Us</h1>
    <h3>Gameberry Inc.</h3>
    <p>401 Seodo-building 9, Seocho-daero 49-gil<br>Seocho-gu Seoul, Korea</p>
  </div>

  <div class="right-form">
    <div class="check">
      <p><img src="/assets/my_account/radio-02.png">&nbsp;&nbsp;Customer Support</p>
      <p><img src="/assets/my_account/radio-01.png">&nbsp;&nbsp;Feedback</p>
      <p><img src="/assets/my_account/radio-01.png">&nbsp;&nbsp;Press</p>
    </div>
    <div class="write">
      <h5>Name <input type="text" name="Name"></h5>
    </div>
    <div class="write">
      <h5>Company Name<input type="text" name="Company Name"></h5>
    </div>
    <div class="write">
      <h5>E-mail Address<input type="mail" name="E-mail Address"></h5>
    </div>
    <div class="write" style="margin-top: 30px;">
      <h5>Your Message<textarea rows="6" placeholder="Need any help? Reach out to us. Your happiness is our no.1 priority."></textarea></h5>
    </div>

    <div class="send-btn"><img src="/assets/bottom/contact_send.png"> &nbsp;Send message</div>
  </div>
</div>




<script src="https://maps.googleapis.com/maps/api/js"></script>


    <script>
function initialize() {
  var myLatlng = new google.maps.LatLng(37.494076,127.011921);
  var mapOptions = {
    zoom: 17,
    center: myLatlng
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Hello World!'
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>







