<div class="contact container">
  <h1>Contact</h1>
  <!-- <p>Find me in app/views/home/contact.html.erb</p> -->
  <p>If you could not find a solution to your question on the <span>FAQ</span> section of our site or in the User Guide, please send us a detailed request and we will get back to you as soon as possible. <br><br>You can also email us directly at <span>support@jungggle.com</span> or call +1 (877) 562-2729.</p>
  <input placeholder="Your Full name">
  <input placeholder="Your Email">
  <textarea placeholder="Your Message"></textarea>
  <div class="contact-check">
    <input type="checkbox">
    <h5>Send a copy to myself</h5>
  </div>
  <input type="submit" value="Send Inquiry" class="send-btn">
</div>