<div class="faq container">
  <h1>FAQ</h1>
  <!-- <p>Find me in app/views/home/faq.html.erb</p>-->
  <p>What is the individual shared responsibility
  provision?</p>
  <p>Under the Affordable Care Act, the federal government, state governments, insurers, employers and individuals are given shared responsibility to reform and improve the availability, quality and affordability of health insurance coverage in the United States. Starting in 2014, the individual shared responsibility provision calls for each individual to have minimum essential health coverage (known as minimum essential coverage) for each month, qualify for an exemption, or make a payment when filing his or her federal income tax return.</p>
  <p><span>Who is subject to the individual shared
  responsibility provision?</span></p>
  <p><span>When does the individual shared responsibility
  provision go into effect?</span></p>
  <p><span>Is transition relief available in certain
  circumstances?</span></p>
  <p><span>What counts as minimum essential coverage?</span></p>
</div>