<div class="fees container">
  <div class="lowest">
    <h1>Lowest Fee.</h1>
    <p>We charge the fee to Publisher only when Advertiser really purchase the service.<br>Compare to general intermediate fees in ad market : 20% - 40%</p>
  </div>
  <h1><img src="/assets/bottom/fee_buying.png">&nbsp;&nbsp;<span class="color">Buying is 100% free.</span></h1>
  <h1><img src="/assets/bottom/fee_selling.png">&nbsp;&nbsp;<span class="color">Selling</span> is as low as <span class="color">3.8%</span> <span class="font-samll">(Start from <span class="color">5.4%</span>)</span></h1>
  <div class="fee-table">
    <h4 class="table-header"><img src="/assets/bottom/fee_table.png">&nbsp;&nbsp;&nbsp;Fees table for Service Provider</h4>
    <h4><img src="/assets/bottom/fee-dot.png">&nbsp;&nbsp;&nbsp;&nbsp;Up to $10,000 <span class="percent">5.4%</span></h4>
    <h4><img src="/assets/bottom/fee-dot.png">&nbsp;&nbsp;&nbsp;&nbsp;$10,000 ~ $50,000 <span class="percent">4.9%</span></h4>
    <h4><img src="/assets/bottom/fee-dot.png">&nbsp;&nbsp;&nbsp;&nbsp;$50,000 ~ $100,000 <span class="percent">4.4%</span></h4>
    <h4><img src="/assets/bottom/fee-dot.png">&nbsp;&nbsp;&nbsp;&nbsp;Over $100,000 <span class="percent">3.8%</span></h4>
  </div>
  <p>Discounted fee apply to the 1st day of each month according to the sales volume of last month.<br>You can check your current fee rate on your <a href="#none" class="link">Projects.</a></p>
</div>