<div class="home_biddings">
  <div class="container">
    <h1>biddings</h1>


    <div class="bidding-pack">
      <img src="/assets/biddings/01.jpg">
      <h5>Ants War</h5>
      <p>Mobile(iOS)<br>Ads / Mobile / CPI / iOS<br>Japan</p>
      <h1>$10,000</h1>
      <p><span>Deadline : </span>2014.7.30</p>
      <div class="bidding-pack-hover" data-toggle="modal" data-target="#bidding-pack-Modal">
        <h2>Request<br>for proposals</h2>
        <p>1. Bid price of CPI less than $1</p>
        <p>2. At least 10,000 installs</p>
      </div>
    </div>
    
    <div class="bidding-pack">
      <img src="/assets/biddings/02.jpg">
      <h5>Ants War</h5>
      <p>Mobile(iOS)<br>Ads / Mobile / CPI / iOS<br>Japan</p>
      <h1>$10,000</h1>
      <p><span>Deadline : </span>2014.7.30</p>
      <div class="bidding-pack-hover" data-toggle="modal" data-target="#bidding-pack-Modal">
        <h2>Request<br>for proposals</h2>
        <p>1. Bid price of CPI less than $1</p>
        <p>2. At least 10,000 installs</p>
      </div>
    </div>

    <div class="bidding-pack">
      <img src="/assets/biddings/03.jpg">
      <h5>Ants War</h5>
      <p>Mobile(iOS)<br>Ads / Mobile / CPI / iOS<br>Japan</p>
      <h1>$10,000</h1>
      <p><span>Deadline : </span>2014.7.30</p>
      <div class="bidding-pack-hover" data-toggle="modal" data-target="#bidding-pack-Modal">
        <h2>Request<br>for proposals</h2>
        <p>1. Bid price of CPI less than $1</p>
        <p>2. At least 10,000 installs</p>
      </div>
    </div>
    
    <div class="bidding-pack">
      <img src="/assets/biddings/04.jpg">
      <h5>Ants War</h5>
      <p>Mobile(iOS)<br>Ads / Mobile / CPI / iOS<br>Japan</p>
      <h1>$10,000</h1>
      <p><span>Deadline : </span>2014.7.30</p>
      <div class="bidding-pack-hover" data-toggle="modal" data-target="#bidding-pack-Modal">
        <h2>Request<br>for proposals</h2>
        <p>1. Bid price of CPI less than $1</p>
        <p>2. At least 10,000 installs</p>
      </div>
    </div>
    
    <div class="bidding-pack">
      <img src="/assets/biddings/03.jpg">
      <h5>Ants War</h5>
      <p>Mobile(iOS)<br>Ads / Mobile / CPI / iOS<br>Japan</p>
      <h1>$10,000</h1>
      <p><span>Deadline : </span>2014.7.30</p>
      <div class="bidding-pack-hover" data-toggle="modal" data-target="#bidding-pack-Modal">
        <h2>Request<br>for proposals</h2>
        <p>1. Bid price of CPI less than $1</p>
        <p>2. At least 10,000 installs</p>
      </div>
    </div>
    
    <div class="bidding-pack">
      <img src="/assets/biddings/01.jpg">
      <h5>Ants War</h5>
      <p>Mobile(iOS)<br>Ads / Mobile / CPI / iOS<br>Japan</p>
      <h1>$10,000</h1>
      <p class="deadline"><span>Deadline : </span>2014.7.30</p>
      <div class="bidding-pack-hover" data-toggle="modal" data-target="#bidding-pack-Modal">
        <h2>Request<br>for proposals</h2>
        <p>1. Bid price of CPI less than $1</p>
        <p>2. At least 10,000 installs</p>
      </div>
    </div>

    <div class="bidding-pack">
      <img src="/assets/biddings/04.jpg">
      <h5>Ants War</h5>
      <p>Mobile(iOS)<br>Ads / Mobile / CPI / iOS<br>Japan</p>
      <h1>$10,000</h1>
      <p><span>Deadline : </span>2014.7.30</p>
      <div class="bidding-pack-hover" data-toggle="modal" data-target="#bidding-pack-Modal">
        <h2>Request<br>for proposals</h2>
        <p>1. Bid price of CPI less than $1</p>
        <p>2. At least 10,000 installs</p>
      </div>
    </div>
  </div>
</div>



<!-- bidding-pack-Modal -->
<div class="modal fade" id="bidding-pack-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-bidding-pack">
    <div class="modal-content modal-bidding-pack">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1>Yagers Inc.</h1>
      </div>
      <div class="modal-body">
        <h3 class="title">Service Name</h3>
        <h3 class="content">Ants War</h3>
        <h3 class="title">Type of Service</h3>
        <h3 class="content">Mobile(iOS)</h3>
        <h3 class="title">App URL</h3>
        <h3 class="content"><span>http://cl.ly/XLQ5</span></h3>
        <textarea rows="4" placeholder="Detail explanation. Please explain more about your oooo"></textarea>
        <div class="body-contents">
          <h4>Budget</h4>
          <input type="text" value="$10,000">
          <h4>Marketing Type</h4>
          <input type="text" value="Ads / Mobile / CPI / iOS">
          <h4>Country</h4>
          <input type="text" value="Japan">
          <h4>Request for proposals</h4>
          <input type="text" value="1. Bid price for CPI less than $1">
          <input type="text" value="2. At least 10,000 installs">
          <h4>Deadline of Submit</h4>
          <input type="text" value="2014.7.30(PST)">
        </div>
        <textarea rows="5" placeholder="Company Introduction"></textarea>
        <button type="button" class="btn" data-dismiss="modal">Place a Bid</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


