<div class="home_biddings">
  <div class="container">
    <h1>biddings</h1>


    <div class="bidding-pack">
      <img src="/assets/biddings/01.jpg">
      <h5>Ants War</h5>
      <p>Mobile(iOS)<br>Ads / Mobile / CPI / iOS<br>Japan</p>
      <h1>$10,000</h1>
      <p><span>Deadline : </span>2014.7.30</p>
      <div class="bidding-pack-hover">
        <h2>Request<br>for proposals</h2>
        <p>1. Bid price of CPI less than $1</p>
        <p>2. At least 10,000 installs</p>
      </div>
    </div>
    
    <div class="bidding-pack">
      <img src="/assets/biddings/02.jpg">
      <h5>Ants War</h5>
      <p>Mobile(iOS)<br>Ads / Mobile / CPI / iOS<br>Japan</p>
      <h1>$10,000</h1>
      <p><span>Deadline : </span>2014.7.30</p>
      <div class="bidding-pack-hover">
        <h2>Request<br>for proposals</h2>
        <p>1. Bid price of CPI less than $1</p>
        <p>2. At least 10,000 installs</p>
      </div>
    </div>

    <div class="bidding-pack">
      <img src="/assets/biddings/03.jpg">
      <h5>Ants War</h5>
      <p>Mobile(iOS)<br>Ads / Mobile / CPI / iOS<br>Japan</p>
      <h1>$10,000</h1>
      <p><span>Deadline : </span>2014.7.30</p>
      <div class="bidding-pack-hover">
        <h2>Request<br>for proposals</h2>
        <p>1. Bid price of CPI less than $1</p>
        <p>2. At least 10,000 installs</p>
      </div>
    </div>
    
    <div class="bidding-pack">
      <img src="/assets/biddings/04.jpg">
      <h5>Ants War</h5>
      <p>Mobile(iOS)<br>Ads / Mobile / CPI / iOS<br>Japan</p>
      <h1>$10,000</h1>
      <p><span>Deadline : </span>2014.7.30</p>
      <div class="bidding-pack-hover">
        <h2>Request<br>for proposals</h2>
        <p>1. Bid price of CPI less than $1</p>
        <p>2. At least 10,000 installs</p>
      </div>
    </div>
    
    <div class="bidding-pack">
      <img src="/assets/biddings/03.jpg">
      <h5>Ants War</h5>
      <p>Mobile(iOS)<br>Ads / Mobile / CPI / iOS<br>Japan</p>
      <h1>$10,000</h1>
      <p><span>Deadline : </span>2014.7.30</p>
      <div class="bidding-pack-hover">
        <h2>Request<br>for proposals</h2>
        <p>1. Bid price of CPI less than $1</p>
        <p>2. At least 10,000 installs</p>
      </div>
    </div>
    
    <div class="bidding-pack">
      <img src="/assets/biddings/01.jpg">
      <h5>Ants War</h5>
      <p>Mobile(iOS)<br>Ads / Mobile / CPI / iOS<br>Japan</p>
      <h1>$10,000</h1>
      <p class="deadline"><span>Deadline : </span>2014.7.30</p>
      <div class="bidding-pack-hover">
        <h2>Request<br>for proposals</h2>
        <p>1. Bid price of CPI less than $1</p>
        <p>2. At least 10,000 installs</p>
      </div>
    </div>

    <div class="bidding-pack">
      <img src="/assets/biddings/04.jpg">
      <h5>Ants War</h5>
      <p>Mobile(iOS)<br>Ads / Mobile / CPI / iOS<br>Japan</p>
      <h1>$10,000</h1>
      <p><span>Deadline : </span>2014.7.30</p>
      <div class="bidding-pack-hover">
        <h2>Request<br>for proposals</h2>
        <p>1. Bid price of CPI less than $1</p>
        <p>2. At least 10,000 installs</p>
      </div>
    </div>

  </div>
</div>