<div class="how container">
  <h1>How It Works</h1>
  <!-- <p>Find me in app/views/home/how.html.erb</p> -->
  <p>We are a small group of creative and friendly developers, designers and IT professionals who love and enjoy what they do at Jungggle. As a team aimed at ultimate success we are constantly growing and looking for a new blood to join us.</p>
  <p>We value happiness and satisfaction above all and do everything for ourselves to work as comfortably as possible. That means we don't have strict work hours and won't overwork you. Creativity, inspiration, solidarity — that is what Jungggle about.</p>
</div>