<!-- <img src="/assets/main/main_bg.jpg" class="main-bg"> -->
<div class="main">
  <img src="/assets/logo.png">
  <p class="subheadline">The best way to find &amp; buy marketings</p>
  <div class="select">
    <div class="country drop">
      <h3>Country</h3>
      <div class="country-down">
        <ul>
          <li class="title">All</li><hr>
          <li>Australia</li>
          <li>Austria</li>
          <li>China</li>
          <li>Japan</li>
          <li>South Africa</li>
          <li>South Korea</li>
          <li>United States</li>
          <li>Vietnam</li><hr>
          <li class="title other">
            Other Countries..
            <div class="other-tooltip">
              Countries are still adding whenever Publisher create service on particular country.
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="marketing drop">
      <h3>Marketing type</h3>
      <div class="marketing-down">
        <ul>
          <li class="title">All</li><hr>
          <li class="division">
            Ads
            <div class="division-hover">
              <ul>
                <li class="title">Online</li>
                <li>CPM</li>
                <li>Video</li>
                <li>Banner (period)</li>
                <li>Direct Email</li>
                <li>Text ad</li>
                <li>SEO</li>
                <li>SNS</li>
              </ul>
              <ul>
                <li class="title">Mobile</li>
                <li>CPM</li>
                <li>Video</li>
                <li>Banner (period)</li>
                <li>Direct Email</li>
                <li>Text ad</li>
                <li>SEO</li>
                <li>SNS</li>
              </ul>
              <ul>
                <li class="title">Offline</li>
                <li>CPM</li>
                <li>Video</li>
                <li>Banner (period)</li>
                <li>Direct Email</li>
                <li>Text ad</li>
                <li>SEO</li>
                <li>SNS</li>
              </ul>
            </div>
          </li>
          <li>Promotion</li>
          <li>Management</li>
          <li>Test</li>
          <li>Material</li>
        </ul>
      </div>
    </div>
    <div class="cost">
      <input type="text" placeholder="Cost">
      <div class="cost-hover">
        $ | <input type="text">to&nbsp;
        $ | <input type="text">
      </div>
      <h5>Empty for All</h5>
    </div>
    
    <button>Jungggling<img src="/assets/main/search_logo.png"></button>
  </div>
  <div class="country-down">
  </div>
</div>





<script>
  $('#other').tooltip('show');
</script>
