<h1 class="title">Jungggle</h1>
<p>The best way to find & buy marketings</p>
<select>
  <option>Country</option>
  <option>Korea</option>
  <option>USA</option>
  <option>Japan</option>
</select>
<select>
  <option>Marketing type</option>
  <option>go</option>
  <option>ha</option>
</select>
<input type="text" placeholder="Cost">
<button>Jungggling</button>
