<!-- <img src="/assets/main/main_bg.jpg" class="main-bg"> -->
<div class="main">
  <img src="/assets/logo.png">
  <p class="subheadline">The best way to find &amp; buy marketings</p>
  <div class="select">
    <div class="country drop">
      <h3>Country</h3>
      <div class="country-down">
        <ul>
          <li>All</li>
          <li>Australia</li>
          <li>Austria</li>
          <li>China</li>
          <li>Japan</li>
          <li>South Africa</li>
          <li>South Korea</li>
          <li>United States</li>
          <li>Vietnam</li>
          <li>Other Countries..</li>
        </ul>
      </div>
    </div>
    <div class="marketing drop">
      <h3>Marketing type</h3>
      <div class="marketing-down">
        <ul>
          <li>All</li>
          <li class="division">
            Ads
            <div class="division-hover">
              <ul>
                <li class="title">Online</li>
                <li>CPM</li>
                <li>Video</li>
                <li>Banner (period)</li>
                <li>Direct Email</li>
                <li>Text ad</li>
                <li>SEO</li>
                <li>SNS</li>
              </ul>
              <ul>
                <li class="title">Mobile</li>
                <li>CPM</li>
                <li>Video</li>
                <li>Banner (period)</li>
                <li>Direct Email</li>
                <li>Text ad</li>
                <li>SEO</li>
                <li>SNS</li>
              </ul>
              <ul>
                <li class="title">Offline</li>
                <li>CPM</li>
                <li>Video</li>
                <li>Banner (period)</li>
                <li>Direct Email</li>
                <li>Text ad</li>
                <li>SEO</li>
                <li>SNS</li>
              </ul>
            </div>
          </li>
          <li>Promotion</li>
          <li>Management</li>
          <li>Test</li>
          <li>Material</li>

        </ul>
        
      </div>
    </div>
    <input type="text" placeholder="Cost">
    <button>Jungggling<img src="/assets/main/search_logo.png"></button>
  </div>
  <div class="country-down">
  </div>
</div>