<div class="main">
  <img src="/assets/logo.png">
  <p class="subheadline">The best way to find & buy marketings</p>
  <div class="select">
    <select class="country">
      <option>Country</option>
      <option>Korea</option>
      <option>USA</option>
      <option>Japan</option>
    </select>
    <select class="marketing">
      <option>Marketing type</option>
      <option>go</option>
      <option>ha</option>
    </select>
    <input type="text" placeholder="Cost">
    <button>Jungggling</button>
  </div>
</div>