<!-- ready.css.scss -->

<div class="account">
  <div class="container">
    <div class="dashbaord">
      <div class="img">
        <img src="/assets/my_account/dashboard.png">
      </div>
      <h1 class="right-title"><img src="/assets/my_account/right-upgrade.png">Upgrade</h1>
    </div>
    <%= render "/home/left"%>
    <div class="ready right-height">
      <h1>We are developing<br>a new feature of <span>Jungggle.</span></h1>
      <img src="/assets/ready.png">
      <p>We are building Powerful Pro accounts <br>that help Service Providers to increase the Sales Opportunity.</p>
      <p>Reveiwing the project results will be only free until the release of Pro account. <br> But don't worry, all feautres except Project results will still free.
      </p>
      <h3 class="date"><b>Will be finished before <span>February, 2015.</span><b></h3>
    </div>
  </div>
</div>
