<!-- ready.css.scss -->

<div class="account">
  <div class="container">
    <%= render "/home/left"%>
    <div class="ready">
      <h1>We are developing<br>a new feature of <span>Jungggle.</span></h1>
      <img src="/assets/ready.png">
      <p>We are currently on Beta version for service provider’s opening business in advance. <br>The official release date for Advertisers to purchase marketing services would be early December. </p>
      <p>Thanks for waiting. After you purchase any marketing services, you could check all your project status here soon.  </p>
      <h3 class="date"><b>Will be finished before <span>Janurary, 2015.</span><b></h3>
    </div>
  </div>
</div>