<!-- ready.css.scss -->
<div class="account">
  <div class="container">
    <div class="dashbaord">
      <div class="img">
        <img src="/assets/my_account/dashboard.png">
      </div>
      <h1 class="right-title"><img src="/assets/my_account/right-cash.png">Cash Out</h1>
    </div>
    <%= render "/home/left"%>
    <div class="ready right-height" id="right">
      <h1>We are developing<br>a new feature of <span>Jungggle.</span></h1>
      <img src="/assets/ready.png">
      <p>Sorry for your inconvenience. We are currently building some of features on this page <br>to help Publishers manage the payment easily.</p>
      <p>After you completed the marketing service, you would be able to pay the fee here soon. <br>The fee for each project would be only 3.9%-5.4%</p>
      <h3 class="date"><b>Will be finished before <span>February, 2015.</span><b></h3>
    </div>
  </div>
</div>

<script>
  $("#left").css("height", $("#right").css("height"));
</script>
