<div class="ready-product">
    <h1>We are developing<br>a new feature of <span>Jungggle.</span></h1>
    <img src="/assets/ready.png">
    <p>We are currently on Beta version for service provider’s opening business in advance. <br>The official release date for Advertisers to see actual project results would be early December.</p>
    <p>Thanks for waiting. We are preparing enough results to help you make decisions on marketing. <br>you could open all the project results with Pro accounts here soon.  </p>
    <h3 class="date"><b>Will be finished before <span>Dec 11th, 2014.</span><b></h3>
  </div>
</div>