<p class="oops">Oops! there is no matched result currently with "$0.1 to $0.5" on the Cost Filter.</p>

<div class="search">
  <div class="container">
    <table>
      <tr class="table-header">
        <td class="company-img">Company name</td>
        <td>Service Name</td>
        <td>Service details</td>
        <td>Country</td>
        <td>Marketing type</td>
        <td>Cost</td>
        <td></td>
      </tr>
      <tr class="table-body">
        <td class="company-img"><img src="/assets/product_card_view/01.jpg"> Tapjoy</td>
        <td class="service-name"><a href="/home/search_detail">CPI(Install)</a></td>
        <td class="detail"><a href="/home/search_detail">- 3 day feature on "Free App A Day" app<br>- Top banner for 24 hours on website<br>- Push notification to FAAD users (over 100k users)<br>- Featured for 30 days on "Daily Double Calendar"</a>
        </td>
        <td>Japan</td>
        <td>CPI(iOS)</td>
        <td class="cost">$0.3<br><span class="rating">8.7 /</span>&nbsp;<span class="review">120 reviews</span></td>
        <td><a href="/home/search_detail"><button type="button" class="btn btn-default  ">Detail</button></a></td>
      </tr>
      <tr class="table-body">
        <td class="company-img"><img src="/assets/product_card_view/02.jpg"> Fiksu</td>
        <td class="service-name"><a href="/home/search_detail">FreeMyApps</a></td>
        <td class="detail"><a href="/home/search_detail">- 3 day feature on "Free App A Day" app<br>- Top banner for 24 hours on website<br>- Push notification to FAAD users (over 100k users)<br>- Featured for 30 days on "Daily Double Calendar"</a>
        </td>
        <td>Japan</td>
        <td>CPI(iOS)</td>
        <td class="cost">$0.1 - $0.5<br><span class="rating">10 /</span>&nbsp;<span class="review">110 reviews</span></td>
        <td><a href="/home/search_detail"><button type="button" class="btn btn-default  ">Detail</button></a></td>
      </tr>
      <tr class="table-body">
        <td class="company-img"><img src="/assets/product_card_view/03.jpg"> Gameberry</td>
        <td class="service-name"><a href="/home/search_detail">FreeMyApps<br>(CPA)</a></td>
        <td class="detail"><a href="/home/search_detail">- 3 day feature on "Free App A Day" app<br>- Top banner for 24 hours on website<br>- Push notification to FAAD users (over 100k users)<br>- Featured for 30 days on "Daily Double Calendar"</a>
        </td>
        <td>Japan</td>
        <td>CPI(iOS)</td>
        <td class="cost">$0.7<br><span class="rating">2.7 /</span>&nbsp;<span class="review">99 reviews</span></td>
        <td><a href="/home/search_detail"><button type="button" class="btn btn-default  ">Detail</button></a></td>
      </tr>
      <tr class="table-body">
        <td class="company-img"><img src="/assets/product_card_view/04.jpg"> Gameberry</td>
        <td class="service-name"><a href="/home/search_detail">FreeMyApps<br>(CPA)</a></td>
        <td class="detail"><a href="/home/search_detail">- 3 day feature on "Free App A Day" app<br>- Top banner for 24 hours on website<br>- Push notification to FAAD users (over 100k users)<br>- Featured for 30 days on "Daily Double Calendar"</a>
        </td>
        <td>Japan</td>
        <td>CPI(iOS)</td>
        <td class="cost">$0.5<br><span class="rating">8.5 /</span>&nbsp;<span class="review">65 reviews</span></td>
        <td><a href="/home/search_detail"><button type="button" class="btn btn-default">Detail</button></a></td>
      </tr>
      <tr class="table-body">
        <td class="company-img"><img src="/assets/product_card_view/02.jpg"> Tapjoy</td>
        <td class="service-name"><a href="/home/search_detail">Package A</a></td>
        <td class="detail"><a href="/home/search_detail">- 3 day feature on "Free App A Day" app<br>- Top banner for 24 hours on website<br>- Push notification to FAAD users (over 100k users)<br>- Featured for 30 days on "Daily Double Calendar"</a>
        </td>
        <td>Japan</td>
        <td>CPI(iOS)</td>
        <td class="cost">$0.1 - $1.2<br><span class="rating">3.0 /</span>&nbsp;<span class="review">10 reviews</span></td>
        <td><a href="/home/search_detail"><button type="button" class="btn btn-default">Detail</button></a></td>
      </tr>
      <tr class="table-body">
        <td class="company-img"><img src="/assets/product_card_view/03.jpg"> Fiksu</td>
        <td class="service-name"><a href="/home/search_detail">Package B</a></td>
        <td class="detail"><a href="/home/search_detail">- 3 day feature on "Free App A Day" app<br>- Top banner for 24 hours on website<br>- Push notification to FAAD users (over 100k users)<br>- Featured for 30 days on "Daily Double Calendar"</a>
        </td>
        <td>Japan</td>
        <td>CPI(iOS)</td>
        <td class="cost">$0.1<br><span class="review">none</span></td>
        <td><a href="/home/search_detail"><button type="button" class="btn btn-default">Detail</button></a></td>
      </tr>
      
    </table>

    <ul class="pagination">
      <li class="disabled"><a href="#">«</a></li>
      <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">8</a></li>
      <li class="disabled"><a href="#">«</a></li>
    </ul>

  </div>
</div>
