<div class="search">
  <div class="container">
    <div class="left">

      <div class="btn-group btn-tab">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
          Japan <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="btn-group btn-tab">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
          AD <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="btn-group btn-tab">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
        CPC(iOS) <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
        </ul>
      </div>

      <div class="btn-toolbar">
        <div class="btn-group">
          <button type="button" class="btn">French</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn">KO</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn">UA</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn">EN</button>
        </div>
      </div>
      <table>
        <tr class="table-header">
          <td class="service-name">Service name</td>
          <td>Service details</td>
          <td>Coast</td>
          <td></td>
        </tr>
        <tr class="table-body">
          <td class="service-name">Free App A Day <br><span class="a">A </span><span class="b">Package</span></td>
          <td>
            <h5 class="img-hover">— Top banner for 24 hours on website
              <img src="/assets/search/img_12.png">
            </h5>
            <h5 class="font-color">Push notification to FAAD users (over 100k users)</h5>
            <h5 class="font-color">Featured for 30 days on "Daily Double Calender</h5>
            <h5 class="img-hover">— Anouncement to 33,500 twitter followers<img src="/assets/search/img_12.png"></h5>
            <h5 class="font-color">Email to 35,000 site subscribers</h5>
            <h5 class="img-hover">— Post to 630,000 Facebook followers<img src="/assets/search/img_12.png"></h5>
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn-dd dropdown-toggle" data-toggle="dropdown">
                $0.1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">$0.2</a></li>
                <li><a href="#">$0.3</a></li>
                <li><a href="#">$0.4</a></li>
                <li><a href="#">$0.5</a></li>
              </ul>
            </div>
          </td>
          <td><button type="button" class="btn-buy">Buy</button></td>
        </tr>
        <tr class="table-body">
          <td class="service-name">Free App A Day <br><span class="a">B </span><span class="b">Package</span></td>
          <td>
            <h5>— 3 day feature on "Free App A Day" app</h5>
            <h5>— Top banner for 24 hours on website</h5>
            <h5>— Push notification to FAAD users (over 100k users)</h5>
            <h5>— Featured for 30 days on "Daily Double Calendar"</h5>
            <h5>— Anouncement to 33,500 twitter followers</h5>
            <h5>— Email to 35,000 site subscribers</h5>
            <h5>— Post to 630,000 Facebook followers</h5>
            <h4 class="download"><a href="#none"><span class="glyphicon glyphicon-link"></span> &nbsp;Free App A Day Media Kit 2014</a></h4>
            <h4 class="download"><a href="#none"><span class="glyphicon glyphicon-link"></span> &nbsp;Free App A Day Case Study</a></h4>
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn-dd dropdown-toggle" data-toggle="dropdown">
                $0.5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">$0.5</a></li>
                <li><a href="#">$0.7</a></li>
                <li><a href="#">$1.0</a></li>
                <li><a href="#">$1.5</a></li>
                <li><a href="#">$1.7</a></li>
                <li><a href="#">$2.0</a></li>
              </ul>
            </div>
          </td>
          <td>In Your Cart!</td>
        </tr>
      </table>
      <h5>* Last update on 2014.7.11</h5>
      <div class="clients">
        <h1>Clients</h1>
        <img src="/assets/search/img_09.png">
        <img src="/assets/search/img_10.png">
        <img src="/assets/search/img_13.png">
        <img src="/assets/search/img_14.png">
        <img src="/assets/search/img_15.png">
        <img src="/assets/search/img_16.png">
        <img src="/assets/search/img_17.png">
        <img src="/assets/search/img_18.png">
      </div>
      <div class="results">
        <h1>Project Results <span>See all</span></h1>
        <table>
          <tr class="table-header">
            <td class="date">Complite date</td>
            <td>Project Results URL</td>
            <td>Country</td>
            <td>Budget</td>
          </tr>
          <tr class="table-body">
            <td class="date">2014.8.26</td>
            <td class="font-color" data-toggle="modal" data-target="#Modal-project-result-1">CPC(iOS) Project Result</td>
            <td>USA</td>
            <td class="budget">$500,000</td>
          </tr>
          <tr class="table-body">
            <td class="date">2014.7.26</td>
            <td class="font-color" data-toggle="modal" data-target="#Modal-project-result-2">CPC(iOS) Project Result</td>
            <td>USA</td>
            <td class="budget">$500,000</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="right">
      <div class="right-top">
        <img src="/assets/search/img_11.png">
        <h3>Hi-Res Photoset Company</h3>
        <div class="contents">
          <table>
            <tr>
              <td class="name">website :</td>
              <td><a href="#none">www.hiresphotoset.com</a></td>
            </tr>
            <tr>
              <td class="name">Located In :</td>
              <td>USA</td>
            </tr>
            <tr>
              <td class="name"># of employee :</td>
              <td>24</td>
            </tr>
          </table>
        </div>
        <h1>8.7 <span>18 advertisers rated</span></h1>
        <button type="button" class="btn" data-toggle="modal" data-target="#Modal-send-message">Send Message</button>
      </div>
      <div class="right-bottom">
        <h3>Company Introduction</h3>
        <a href="#none"><h5><span class="glyphicon glyphicon-save"></span> Full Company Introduction</h5></a>
        <p>The quality, artisanal skill and the creative impulse of a company that has always looked to the future, choosing the high technology and modernity, whilst keeping alive that involvement and unique, singular passion typical of a family-run business.<br><br>Initially it was Enzo Fusco who gave a name and face to FGF Industry, this solid reality with authentic Made in Italy DNA. Then, following in the footsteps of this talented stylist and charismatic leader who was ready to pass on the values of Italian style with enthusiasm and ability, came his family, a united and competent staff, the heirs to a challenge and a successful entrepreneurial history.</p>
      </div>
    </div>
  </div>
</div>






<!-- project-result-1 Modal -->
<div class="modal fade" id="Modal-project-result-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-project-result-1">
    <div class="modal-content modal-project-result-1">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>project-result-1</h2>
        <p>내용삽입</p>
        <button type="button" class="btn btn-a" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- project-result-2 Modal -->
<div class="modal fade" id="Modal-project-result-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-project-result-2">
    <div class="modal-content modal-project-result-2">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>project-result-2</h2>
        <p>내용삽입</p>
        <button type="button" class="btn btn-a" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<!-- send-message Modal -->
<div class="modal fade" id="Modal-send-message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-send-message">
    <div class="modal-content modal-send-message">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>Send a message to the publisher.</h2>
        <textarea rows="6"></textarea>
        <button type="button" class="btn btn-a" data-dismiss="modal" data-toggle="modal" data-target="#Modal-send-ok">Send</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- send-ok Modal -->
<div class="modal fade" id="Modal-send-ok" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-send-message">
    <div class="modal-content modal-send-message">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>Message has sent to the publisher.</h2>
        <h3>You will receive the reply through your email ceo@gameberry.co.kr.</h3>
        <button type="button" class="btn btn-a" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




