<div class="search">
  <div class="container">
    
    <table>
      <tr class="table-header">
        <td class="company-img">Company name</td>
        <td>Service Name</td>
        <td>Service details</td>
        <td>Country</td>
        <td>Marketing type</td>
        <td>Cost</td>
        <td></td>
      </tr>
      <tr class="table-body">
        <td class="company-img"><img src="/assets/product_card_view/01.jpg"> Tapjoy</td>
        <td>CPI(Install)</td>
        <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium et quasi architecto beatae vitae.</td>
        <td>Japan</td>
        <td>CPI(iOS)</td>
        <td>$0.3<br>8.7<span>120 reviews</span></td>
        <td><button type="button" class="btn btn-default  ">Detail</button></td>
      </tr>
      <tr class="table-body">
        <td class="company-img"><img src="/assets/product_card_view/02.jpg"> Tapjoy</td>
        <td>CPI(Install)</td>
        <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium et quasi architecto beatae vitae.</td>
        <td>Japan</td>
        <td>CPI(iOS)</td>
        <td>$0.3<br>8.7<span>120 reviews</span></td>
        <td><button type="button" class="btn btn-default  ">Detail</button></td>
      </tr>
      <tr class="table-body">
        <td class="company-img"><img src="/assets/product_card_view/03.jpg"> Tapjoy</td>
        <td>CPI(Install)</td>
        <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium et quasi architecto beatae vitae.</td>
        <td>Japan</td>
        <td>CPI(iOS)</td>
        <td>$0.3<br>8.7<span>120 reviews</span></td>
        <td><button type="button" class="btn btn-default  ">Detail</button></td>
      </tr>
      <tr class="table-body">
        <td class="company-img"><img src="/assets/product_card_view/04.jpg"> Tapjoy</td>
        <td>CPI(Install)</td>
        <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium et quasi architecto beatae vitae.</td>
        <td>Japan</td>
        <td>CPI(iOS)</td>
        <td>$0.3<br>8.7<span>120 reviews</span></td>
        <td><button type="button" class="btn btn-default  ">Detail</button></td>
      </tr>
      
    </table>

    <ul class="pagination">
      <li class="disabled"><a href="#">«</a></li>
      <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">8</a></li>
      <li class="disabled"><a href="#">«</a></li>
    </ul>

  </div>
</div>
