<!-- whoru.css.scss -->
<div class="whoru container">
  <h1>Who are you?</h1>
  <div class="who-contents">
    <div class="contents left">
      <button type="button" class="btn">I'm Advertiser</button>
      <p class="font-color">I'm looking for a marketing company <br>which can market my product really well.</p>
      <p>- Developer, Brand, etc.</p>
    </div>
    <div class="contents right">
      <button type="button" class="btn">I'm Service Provider</button>
      <p>I'm looking for advertisers who want to market their product. We can really do this!</p>
      <p>- Ad-networks, Marketing firm, Localization compnay, Website holders, etc.</p>
    </div>  
  </div>
</div>