<div class="log-pw">
  <a href="/home/main.html"><img src="/assets/main/log.png" class="title-logo"></a>
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div>
    <%= f.email_field :email, autofocus: true, placeholder: "Email" %></div>

    <div class="pw-send-btn"><%= f.submit "Reset Password" %></div>
  <% end %>
  <div class="log-pw-foot">
    <a href="/users/sign_in"><h5>Log in</h5></a><br>
    <a href="/users/sign_up"><h5>Sign up</h5></a>
  </div>
</div>