/* account-profile */

.account {
  background-color: #f1f1f1;

  .left-list {
    background-color: #3c3c3c;
    width: 180px;
    padding: 0 20px 20px;
    color: white;
    display: inline-block;

    .list {
      h1 {
        font-size: 25px;
        color: #e6e6e6;
        text-align: center;
        margin: 30px 0;
      }

      table {
        margin-bottom: 30px;
        color: #828282;
        tr {
          display: inline-block;
          margin: 10px 0;
          width: 100%;
          .list-icon {
            text-align: center;
            width: 50px;
          }
          .list-title {
            padding-left: 15px;
          }
          .select {
            color: white;
          }
          
        }
        tr:hover {
          .list-title {
            color: #e6e6e6;
          }
          .select {
            color: white;
          }
        }
      }
    }
  }

  .right-profile {
    width: 990px;
    display: inline-block;
    background-color: white;
    float: right;
    padding: 20px 30px 100px;

    input {
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 13px 18px;
      margin: 15px 5px;
      font-size: 15px;
    }
    .short-form {
      width: 218px;
      margin-bottom: 0;
    }

    .long-form {
      display: block;
      width: 450px;
    }

    form {
      display: inline-block;
      margin: 20px 0;
      .upload {
        width: 150px;
        height: 30px;
        border-radius: 10px;
        background-image: url(/assets/my_account/upload.jpg);
        background-repeat: no-repeat;
        background-position-x: 50%; 
        background-position-y: 2px; 
        background-color: #b6b6b6;
        color: black;  
        overflow: hidden;

        input {
          display: block !important;
          width: 150px !important;
          height: 30px !important;
          opacity: 0 !important;
          overflow: hidden !important;
          margin: 0;
          padding: 0;
        }
      }
    }
    .upload-info {
      display: inline-block;
      position: relative;
      bottom: 10px;
      padding-left: 10px;
      font-size: 13px;
      color: #b6b6b6;
    }

    


    .checkbox {
      input {
        margin: 0;
        display: inline-block;
        position: relative;
      }
      p {
        display: inline-block;
        padding-left: 10px;
        font-size: 15px;
        color: #3c3c3c;
        span {
          color: #969696;
        }
      }
    }
    .btn {
      padding: 15px 40px;
      background-color: #5eb12f;
      color: white;
      border: 0;
      font-size: 16px;
      margin: 20px 0;
    }
  }
}











