.account {
  background-color: #f1f1f1;

  .left-list {
    background-color: #3c3c3c;
    width: 180px;
    padding: 0 20px 20px;
    color: white;
    display: inline-block;

    .list {
      h1 {
        font-size: 25px;
        color: #e6e6e6;
        text-align: center;
        margin: 30px 0;
      }

      table {
        margin-bottom: 30px;
        color: #828282;
        tr {
          display: inline-block;
          margin: 10px 0;
          width: 100%;
          td {
            a {
              text-decoration: none;
              color: #828282;
            }
            .select {
              color: white;
            }
          }
          .list-icon {
            text-align: center;
            width: 50px;
          }
          .list-title {
            padding-left: 15px;
          }
          
          
        }
        tr:hover {
          a {
            color: #e6e6e6;
          }
          .select {
            color: white;
          }
        }
      }
    }
  }

/* account-profile */
  .right-profile {
    width: 990px;
    display: inline-block;
    background-color: white;
    float: right;
    padding: 20px 30px 100px;

    input {
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 13px 18px;
      margin: 15px 5px;
      font-size: 15px;
    }
    .short-form {
      width: 218px;
      margin-bottom: 0;
    }

    .long-form {
      display: block;
      width: 450px;
    }

    form {
      display: inline-block;
      margin: 20px 0;
      .upload {
        width: 150px;
        height: 30px;
        border-radius: 10px;
        background-image: url(/assets/my_account/upload.jpg);
        background-repeat: no-repeat;
        background-position-x: 50%; 
        background-position-y: 2px; 
        background-color: #b6b6b6;
        color: black;  
        overflow: hidden;

        input {
          display: block !important;
          width: 150px !important;
          height: 30px !important;
          opacity: 0 !important;
          overflow: hidden !important;
          margin: 0;
          padding: 0;
        }
      }
    }
    .upload-info {
      display: inline-block;
      position: relative;
      bottom: 10px;
      padding-left: 10px;
      font-size: 13px;
      color: #b6b6b6;
    }

    .checkbox {
      input {
        margin: 0;
        display: inline-block;
        position: relative;
      }
      p {
        display: inline-block;
        padding-left: 10px;
        font-size: 15px;
        color: #3c3c3c;
        span {
          color: #969696;
        }
      }
    }
    .btn {
      padding: 15px 40px;
      background-color: #5eb12f;
      color: white;
      border: 0;
      font-size: 16px;
      margin: 20px 0;
    }
  }
}



/* Profile : save modal */
.modal-dialog {
  margin-top: 250px;
  .modal-content {
    padding: 30px 30px 50px; 
    text-align: center;
    width: 450px;
    margin: 0 auto;
    p {
      font-size: 17px;
      color: #aaa;
      margin: 30px;

    }
    .btn {
      padding: 10px 40px;
      background-color: #5eb12f;
      color: white;
      border: 0;
    }
  }
}


/* account-company-profile */
.right-company-profile {
  width: 990px;
  display: inline-block;
  background-color: white;
  float: right;
  padding: 20px 30px 100px;


  input {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 13px 18px;
    margin: 15px 5px;
    font-size: 15px;
    display: block;
    width: 450px;
  }
  textarea {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 13px 18px;
    margin: 15px 5px;
    font-size: 15px;
    display: block;
    width: 450px; 
  }
  form {
    display: inline-block;
    margin: 20px 0;
    .upload {
      width: 150px;
      height: 30px;
      border-radius: 10px;
      background-image: url(/assets/my_account/upload.jpg);
      background-repeat: no-repeat;
      background-position-x: 50%; 
      background-position-y: 2px; 
      background-color: #b6b6b6;
      color: black;  
      overflow: hidden;

      input {
        display: block !important;
        width: 150px !important;
        height: 30px !important;
        opacity: 0 !important;
        overflow: hidden !important;
        margin: 0;
        padding: 0;
      }
    }
  }
  .btn {
    width: 450px;
    padding: 15px 40px;
    background-color: #5eb12f;
    color: white;
    border: 0;
    font-size: 16px;
    margin: 20px 0;
  }

}


/* account-member */
.right-member {
  width: 990px;
  display: inline-block;
  background-color: white;
  float: right;
  padding: 20px 30px 100px;

  table {
    width: 100%;

    .table-header {
      background-color: #eee;
      td {
        padding: 10px 25px;
      }
    }
    .table-body {
      border-bottom: 2px dotted #ddd;
      td {
        padding: 20px 25px; 
        img {
          margin-right: 15px;
        }
        .btn {
          border-radius: 15px;
          padding:6px 20px;
          margin-right: 10px;
        }
        .btn-left {
          background-color: #5eb12f;
          color: white;
          border: 1px solid #5eb12f;
        }
        .btn-right {
          background-color: white;
          color: #ff0000;
          border: 1px solid #ff0000;
        }
      }
      .email {
        color: #5eb12f;
      }
    }
  }
}





/* account-dashboard */
.right-dashboard {
  width: 990px;
  display: inline-block;
  background-color: white;
  float: right;
  padding: 20px 30px 100px;
  h3 {
    margin: 40px 0 30px;
    display: inline-block;
    font-size: 18px;
    color: 757575;
    span {
      font-size: 14px;
      padding-left: 10px;
      color: #aaa;
    }
  }

  table {
    width: 100%;
    margin-bottom: 30px;

    .table-header {
      background-color: #eee;
      td {
        padding: 10px 7px;
      }
      .date {
        padding-left: 22px;
      }
    }
    .table-body {
      border-bottom: 2px dotted #ddd;
      td {
        padding: 25px 7px; 
      }
      .date {
        padding-left: 20px;
      }
      .cp-name {
        color: #5eb12f;
      }
      .font-big {
        font-size: 15px;
        font-weight: bold;
      }
      .disapprove {
        border: 1px solid #eee;
        border-radius: 10px;
        background-color: white;
        padding: 6px 15px;
        color: #aaa;
      }
      .disapprove:hover {
        border-color: #aaa;
        color: #888;
      }
      .ongoing {
        color: #5eb12f;
      }
      .rejected {
        color: red;
        cursor: pointer;
      }
      .incomplete {
        color: #aaa;
      }
      .completed {
        color: #5eb12f;
        cursor: pointer;
      }
      .disagreed {
        color: red;
      }
      .message {
        cursor: pointer;
      }
    }
  }
}

/* dashboard : modal */
.modal {

  /* modla : disapprove */
  .modal-disapprove {
    width: 700px;
    p {
      color: #999;
      font-size: 14px;
    }
    .btn {
      border-radius: 10px;
      padding: 20px 40px;
      margin: 0 10px;
      font-size: 16px;
    }
    .btn-a {
      background-color: white;
      color: #888;
      border: 1px solid #888;
    }
    .btn-a:hover {
      border-color: #5eb12f;
      color: #5eb12f;
    }
  }

  /* modla : rejected */
  .modal-rejected {
    width: 700px;
    p {
      color: #999;
      font-size: 14px;
    }
    .btn {
      border-radius: 10px;
      padding: 20px 40px;
      margin: 0 10px;
      font-size: 16px;
    }
    .btn-a {
      background-color: white;
      color: #888;
      border: 1px solid #888;
    }
    .btn-a:hover {
      border-color: #5eb12f;
      color: #5eb12f;
    }
  }

  /* modla : completed */
  .modal-completed {
    width: 700px;
    p {
      color: #999;
      font-size: 14px;
    }
    .btn {
      border-radius: 10px;
      padding: 20px 40px;
      margin: 0 10px;
      font-size: 16px;
    }
    .btn-a {
      background-color: white;
      color: #888;
      border: 1px solid #888;
    }
    .btn-a:hover {
      border-color: #5eb12f;
      color: #5eb12f;
    }
  }

  /* modla : message */
  .modal-message {
    width: 700px;
    p {
      color: #999;
      font-size: 14px;
    }
    .btn {
      border-radius: 10px;
      padding: 20px 40px;
      margin: 0 10px;
      font-size: 16px;
    }
    .btn-a {
      background-color: white;
      color: #888;
      border: 1px solid #888;
    }
    .btn-a:hover {
      border-color: #5eb12f;
      color: #5eb12f;
    }
  }
}







/* account-billing */
.right-billing {
  width: 990px;
  display: inline-block;
  background-color: white;
  float: right;
  padding: 20px 30px 100px;

  .sub-title {
    position: relative;
    margin: 30px 0;
    h3 {
      margin: 0;
      display: inline-block;
      font-size: 20px;
      color: 757575;
      span {
        color: #5eb12f;
      }
    }
    .sub-title-left {
      display: inline-block;
      float: right;
      p {
        display: inline-block;
        margin: 0;
      }
      input {
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #eee;
        padding: 5px 10px;
        margin: 0 15px;
      }
      .btn {
        background-color: #5eb12f;
        color: white;
        border: 0;
        border-radius: 10px;
        padding: 6px 20px;
      }
    }  
  }
  

  table {
    width: 100%;
    margin-bottom: 30px;

    .table-header {
      background-color: #eee;
      td {
        padding: 10px 20px;
      }
    }
    .table-body {
      border-bottom: 2px dotted #ddd;
      td {
        padding: 18px 20px; 
      }
      .invoice {
        color: #5eb12f;
      }
      .font-big {
        font-size: 20px;
        color: red;
      }
      .font-sm {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}


/* account-ad-biddings */
.right-ad-biddings {
  width: 990px;
  display: inline-block;
  background-color: white;
  float: right;
  padding: 20px 30px 100px;

  .sub-title {
    position: relative;
    margin: 30px 0;
    h3 {
      display: inline-block;
      margin: 0;
      font-size: 18px;
    }
    .btn {
      position: relative;
      bottom: 24px;
      background-color: #5eb12f;
      color: white;
      border: 0;
      padding: 10px 25px;
      font-size: 17px;
      float: right;
      img {
        margin-right: 7px;
        position: relative;
        bottom: 3px;
      }
      span {
        font-size: 22px;
        font-weight: bold;
        padding-left: 5px;
      }
    }
  }
  table {
    width: 100%;
    border-top: 1px solid #ddd;
    margin: 20px 0;
    .table-header {
      border-top: 2px solid #bbb;
      border-bottom: 2px solid #bbb;
      td {
        padding: 10px 15px;
      }
    }
    .table-body {
      border-bottom: 1px solid #ddd;
      td {
        padding: 15px;
      }
      .name {
        width: 250px;
        font-weight: bold;
        font-size: 15px;
      }
      .budget {
        font-weight: bold;
        font-size: 15px;
      }
    }
  }
}


/* account-projects */
.right-projects {
  width: 990px;
  display: inline-block;
  background-color: white;
  float: right;
  padding: 20px 30px 100px;

  h3 {
    display: inline-block;
    margin: 0;
    font-size: 18px;
    span {
      padding-left: 10px;
      color: #aaa;
      font-size: 15px;
    }
  }
  .top-info {
    margin-bottom: 30px;
    .table-header {
      background-color: white;
      color: #999;
      td {
        padding: 2px 12px;
      }
    }
    .table-body {
      color: #5eb12f;
      font-size: 25px;
      border: 0;

      td {
        padding: 5px 12px;
        span {
          font-size: 14px;
          font-weight: bold;
          color: #888;
        }
      }
      .sm-font {
        font-size: 16px;
      }
    }
  }

  table {
    width: 100%;
    margin: 30px 0;

    .table-header {
      background-color: #eee;
      td {
        padding: 10px 12px;
      }
    }
    .table-body {
      border-bottom: 2px dotted #ddd;
      td {
        padding: 20px 12px; 
      }
      .name {
        color: #5eb12f;
        span {
          color: #bbb;
        }
      }
      .font-bold {
        font-size: 15px;
        font-weight: bold;
      }
      .kick-btn {
        padding-bottom: 3px;
        .btn {
          padding: 3px 22px;
          font-size: 13px;
          border-radius: 10px;
        }
        span {
          font-size: 12px;
          color: #aaa;
        }
        .btn:hover {
          background-color: white;
          border: 1px solid #5eb12f;
          color: #5eb12f;
        }
      }
      .ongoing-btn {
        .btn {
          background-color: #5eb12f;
          color: white;
          border: 0;
          border-radius: 10px;
          padding: 4px 25px;
        }
      }
    }
  }
}


/* account-manage-service */
.right-manage-service {
  width: 990px;
  display: inline-block;
  background-color: white;
  float: right;
  padding: 20px 30px 100px;

  .sub-title {
    margin: 30px 0;
    h3 {
      display: inline-block;
      margin: 0;
      font-size: 20px;
      color: #888;
    }
    button {
      background-color: #5eb12f;
      color: white;
      border: 0;
      border-radius: 10px;
      padding: 8px 25px;
      float: right;
    }
  }

  table {
    width: 100%;
    margin: 30px 0;

    .table-header {
      background-color: #eee;
      td {
        padding: 10px 12px;
      }
    }
    .table-body {
      border-bottom: 2px dotted #ddd;
      td {
        padding: 20px 12px; 
      }
      .name {
        color: #5eb12f;
        span {
          color: #bbb;
        }
      }
      .font-bold {
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
  h3 {
    font-size: 18px;
    color: #666;
    span {
      color: #5eb12f;
    }
  }
}


/* account-pub-biddings */
.right-pub-biddings {
  width: 990px;
  display: inline-block;
  background-color: white;
  float: right;
  padding: 20px 30px 100px;
}









