.account {
  background-color: #f1f1f1;

  .dashbaord {
    height: 90px;
    .img {
      background-color: #5eb12f;
      height: 90px;
      padding: 35px 0;
      display: inline-block;
      width: 180px;
      text-align: center;
      float: left;
    }
    .right-title {
      font-size: 26px; 
      font-weight: 500; 
      padding: 31px 30px; 
      background-color: white; 
      border-bottom: 1px solid #ddd; 
      float: right; 
      width: 990px;
      height: 91px;
      img {
        vertical-align: middle;
        margin-right: 12px;
      }
    }
  }

  .left-list {
    background-color: #3b3b3b;
    width: 180px;
    //padding: 0 20px 20px;
    color: white;
    display: inline-block;
    float: left;
    

    .list {
      h1 {
        font-size: 19px;
        color: #e6e6e6;
        text-align: center;
        line-height: 28px;
        margin-bottom: 15px;
        padding: 10px 0;
        background-color: #252525;
        border-bottom: 2px solid #232323;
        border-top: 2px solid #232323;
      }

      table {
        margin-bottom: 20px;
        color: #828282;
        tr {
          display: inline-block;
          margin: 11px 0 11px 20px;
          //width: 100%;

          td {
            a {
              text-decoration: none;
              color: #828282;
              font-size: 16px;
              line-height: 20px;
            }
            .select {
              color: white;
            }
          }
          .list-icon {
            text-align: center;
            width: 50px;
            img {
              opacity: 0.4;
              vertical-align: middle;
            }
          }
          .list-title {
            padding-left: 15px;
          }
          
          
        }
        tr:hover {
          a {
            color: #e6e6e6;
          }
          .select {
            color: white;
          }
          img {
            opacity: 1;
          }
        }
      }
    }
  }

/* account-profile */
  .right-profile {
    width: 990px;
    display: inline-block;
    background-color: white;
    float: right;
    padding: 20px 30px 200px;
    h1 {
      font-size: 28px;
      font-weight: 500;
      margin: 20px 0 30px;
    }

    input {
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 13px 18px;
      margin: 15px 5px;
      font-size: 15px;
      
    }
    .short-form {
      width: 218px;
      margin-bottom: 0;
    }

    .long-form {
      display: block;
      width: 450px;
      line-height: 20px;
    }

    form {
      display: inline-block;
      margin: 20px 0;
      .upload {
        width: 150px;
        height: 30px;
        border-radius: 10px;
        background-image: url(/assets/my_account/upload.jpg);
        background-repeat: no-repeat;
        background-position-x: 50%; 
        background-position-y: 2px; 
        background-color: #b6b6b6;
        color: black;  
        overflow: hidden;

        input {
          display: block !important;
          width: 150px !important;
          height: 30px !important;
          opacity: 0 !important;
          overflow: hidden !important;
          margin: 0;
          padding: 0;
          
        }
      }
    }
    .upload-info {
      display: inline-block;
      position: relative;
      bottom: 10px;
      padding-left: 10px;
      font-size: 13px;
      color: #b6b6b6;
    }

    .avatar-btn {
      margin: 0;
      border: 0;
      border-radius: 5px;
      background-color: #aaa;
      color: white;
      padding: 10px 40px;
      display: inline-block;
      cursor: pointer;
      //visibility: hidden;
    }
    .avatar-btn:hover {
      background-color: #999;
    }

    .checkbox {
      input {
        margin: 0;
        display: inline-block;
        position: relative;
      }

      p {
        display: inline-block;
        padding-left: 10px;
        font-size: 15px;
        color: #3c3c3c;
        span {
          color: #969696;
        }
      }
    }
    .btn {
      padding: 10px 60px;
      background-color: #5eb12f;
      color: white;
      border: 0;
      font-size: 16px;
      margin: 20px 0;
    }
  }
}



/* Profile : save modal */
.modal-dialog {
  margin-top: 250px;
  .modal-content {
    padding: 30px 30px 50px; 
    text-align: center;
    width: 450px;
    margin: 0 auto;
    p {
      font-size: 17px;
      color: #aaa;
      margin: 30px;

    }
    .btn {
      padding: 10px 40px;
      background-color: #5eb12f;
      color: white;
      border: 0;
    }
  }
}


/* account-company-profile */
.right-company-profile {
  width: 990px;
  display: inline-block;
  background-color: white;
  float: right;
  padding: 20px 30px 100px;
  h1 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 20px;
  }


  .pack {
    margin: 30px 10px 10px;
    h3 {
      display: inline-block;
      color: #555;
      font-size: 16px;
      margin-right: 10px;
    }
    .selected-languages {
      font-size: 14px;
      margin: 8px 8px 8px 0;
      padding: 8px 15px;
      border-radius: 5px;
      border: 1px solid #eee;
      display: inline-block;
      cursor: pointer;
      background-color: white;
    }
    .selected-languages:hover {
      border-color: #5eb12f;
      color: #5eb12f;
    }
    .select {
      background-color: #5eb12f;
      color: white;
      border: 1px solid #5eb12f;
    }
    .select:hover {
      color: white;
      background-color: #4F9E22;
    }
  }


  .language {
    display: inline-block;
    margin-right: 20px;
  }

  .popover-markup {
    display: inline-block;
    margin-left: 20px;
  }


  input {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 13px 18px;
    margin: 15px 5px;
    font-size: 15px;
    display: block;
    width: 450px;
  }
  textarea {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 13px 18px;
    margin: 15px 5px;
    font-size: 15px;
    display: block;
    width: 450px; 
    line-height: 20px;
  }
  form {
    display: inline-block;
    //margin: 20px 0;
    .upload {
      width: 150px;
      height: 30px;
      border-radius: 10px;
      background-image: url(/assets/my_account/upload.jpg);
      background-repeat: no-repeat;
      background-position-x: 50%; 
      background-position-y: 2px; 
      background-color: #b6b6b6;
      color: black;  
      overflow: hidden;

      input {
        display: block !important;
        width: 150px !important;
        height: 30px !important;
        opacity: 0 !important;
        overflow: hidden !important;
        margin: 0;
        padding: 0;
      }
    }
  }


  .company-name {
    display: inline-block;
    input {
      margin: 0 5px;
      line-height: 20px;
    }
    .company-name-drop {
      display: block;
      border: 1px solid #eee;
      border-radius: 5px;
      position: absolute;
      padding: 10px 0;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
      z-index: 100;
      background-color: white;
      min-width: 450px;
      margin-top: -1px;
      margin-left: 5px;
      .company-autocomplete {
        cursor: pointer;
        text-align: left;
        padding: 8px 20px;
        img {
          width: 70px;
          margin-right: 15px;
          vertical-align: middle;
        }
        h5 {
          display: inline-block;
          color: #666;
          font-size: 14px;
        }
      }
      .company-autocomplete:hover {
        background-color: #5eb12f;
        h5 {
          color: white;  
        }
      }
    }
  }
  .company-name:hover {
    .company-name-drop {
      display: block;
    }
  }


  .country{
    width: 450px;
    .country-down {
      display: none;
      width: 450px;
      height: 250px;
      border: 1px solid #eee;
      border-radius: 5px;
      position: absolute;
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
      -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
      padding-top: 10px;
      cursor: pointer;
      background-color: white;
      z-index: 100;
      margin-top: -16px;
      overflow-y: scroll;
      margin-left: 5px;

      ul {
        list-style: none;
        padding-left: 0;
        li {
          padding: 5px 15px 5px 25px;
          color: #bbb;
          font-size: 13px;
          text-align: left;
        }
        li:hover {
          color: #5bb33a;
        }
      }
    }
  }
  .country:hover {
    border-color: #5bb33a;
    z-index: 101;
    input {
      color: #5eb12f;
    }
    .country-down {
      display: block;
    }
  }


  .number {
    width: 450px;
    input {
      z-index: 150;
    }

    .number-drop {
      display: none;
      width: 450px;
      border: 1px solid #eee;
      border-radius: 5px;
      position: absolute;
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
      -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
      padding: 10px 0;
      cursor: pointer;
      background-color: white;
      margin-top: -16px;
      z-index: 100;
      margin-left: 5px;
      ul {
        list-style: none;
        padding-left: 0;
        li {
          padding: 5px 15px 3px 25px;
          color: #bbb;
          font-size: 13px;
          text-align: left;
        }
        li:hover {
          color: #5bb33a;
        }
      }
    }
  }
  .number:hover {
    input {
      color: #5eb12f;
    }
    .number-drop {
      display: block;
    }
  }



  .client-logo {
    margin: 50px 0 40px;
    p {
      img {
        margin-right: 6px;
      }
    }
    h5 {
      margin: 30px auto 15px;
      text-align: left;
    }
    .ex-img {
      display: inline-block;
      width: 80px;
      height: 80px;
      margin: 7px 5px;
      background-position: center center;
      background-size: cover;
      -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
  }
  .test-upload-img {
    $img-width-height: 80px;

    width: $img-width-height;
    height: $img-width-height;
    display: inline-block;
    margin: 5px;

    vertical-align:middle;
    p {
      display: none;
      position:absolute;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      width: $img-width-height;
      height: $img-width-height;
      padding-top:30px;
      padding-bottom:30px;
      text-align: center;
      vertical-align:middle;
    }
  }
  .test-upload-img:hover {
    p {
      display: block;
    }
  }
  .upload-logo-area {
    margin: 25px 0;
    .upload-logo {
      margin: 0;
      border: 0;
      border-radius: 5px;
      background-color: #aaa;
      color: white;
      padding: 10px 40px;
      display: inline-block;
      cursor: pointer;
      vertical-align: top
    }
    .file-name {
      font-size: 16px;
      display: inline-block;
      margin-left: 20px;
      line-height: 17px;
      position: relative;
      top: 2px;
      a {
        text-decoration: none;
        padding: 3px 10px; 
        background-color: #e06d5a;
        color: white;
        border-radius: 3px;
        margin-left: 15px;
        font-size: 11px;
        position: relative;
        bottom: 3px;
        padding-top: 3px;
      }
      span {
        font-size: 12px;
        color: #ccc;
        position: relative;
        bottom: 3px;
      }
    }
    .plus-upload {
      margin: 0 0 50px;
      img {
        width: 18px;
        margin: 0 10px;
      }
      p {
        display: inline-block;
      }
    }
  }


  .company-introduction {
    img {
      margin-right: 10px;
    }
  }

  .btn {
    width: 450px;
    padding: 15px 40px;
    background-color: #5eb12f;
    color: white;
    border: 0;
    font-size: 16px;
    margin: 60px 0;
  }
  .no-img {
    visibility: hidden;
  }
  .no-img:hover {
    content: url(/assets/noimg-02.png);
  }
}


/* account-member */

.right-member {
  width: 990px;
  display: inline-block;
  background-color: white;
  float: right;
  padding: 30px 30px 350px;
  h1 {
    display: inline-block;
    font-size: 28px;
    font-weight: 500;
    margin: 20px 0 15px;
  }
  h4 {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    //margin-bottom: 40px;
  }
  h3 {
    margin: 50px 0 20px;
  }

  table {
    width: 100%;
    margin: 20px 0 50px;

    .table-header {
      border-top: 1px solid #777;
      border-bottom: 1px solid #777;

      td {
        padding: 10px 25px;
        vertical-align: middle;
      }
    }
    .table-body {
      border-bottom: 1px solid #ccc;
      td {
        padding: 15px 25px; 
        vertical-align: middle;
        img {
          margin: 0 50px 0 5px;
        }
        .btn {
          border-radius: 10px;
          padding: 5px 20px;
          margin-right: 10px;
        }
        .btn-left {
          background-color: #5eb12f;
          color: white;
          border: 1px solid #5eb12f;
        }
        .btn-right {
          background-color: white;
          color: #ff0000;
          border: 1px solid #ff0000;
        }
      }
      .name {
        width: 250px;
      }
      .email {
        color: #5eb12f;
        width: 400px;
      }
      .owner {
        .delete {
          cursor: pointer;
          display: inline-block;
        }
        .delete-hover {
          display: none;
          position: absolute;
          background-color: white;
          border: 1px solid #eee;
          border-radius: 5px;
          padding: 10px 20px;
          -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
          -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
          margin-left: -39px;
          margin-top: 10px;
          font-size: 13px;
          color: #555;
          .pointer {
            margin: 0;
            position: absolute;
            top: -11px;
            right: 46px;
          }
        }
        .delete:hover {
          .person1 {
            content: url(/assets/my_account/person_1_red.png);  
          }
          .delete-hover {
            display: block;
          }
        }
        .change {
          cursor: pointer;
          display: inline-block;
        }
        .change-hover {
          display: none;
          position: absolute;
          background-color: white;
          border: 1px solid #eee;
          border-radius: 5px;
          padding: 10px 20px;
          -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
          -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
          margin-left: -50px;
          margin-top: 10px;
          font-size: 13px;
          color: #555;
          .pointer {
            margin: 0;
            position: absolute;
            top: -11px;
            right: 53px;
          }
        }
        .change:hover {
          .person2 {
            content: url(/assets/my_account/person_2_red.png);  
          }
          .change-hover {
            display: block;
          }
        }
      }
    }
  }
}



/* account-dashboard */
.right-dashboard {
  width: 990px;
  display: inline-block;
  background-color: white;
  float: right;
  padding: 20px 30px 100px;
  h3 {
    margin: 40px 0 30px;
    display: inline-block;
    font-size: 18px;
    color: 757575;
    span {
      font-size: 14px;
      padding-left: 10px;
      color: #aaa;
    }
  }
  table {
    width: 100%;
    margin-bottom: 30px;

    .table-header {
      background-color: #eee;
      td {
        padding: 10px 7px;
      }
      .date {
        padding-left: 22px;
      }
    }
    .table-body {
      border-bottom: 2px dotted #ddd;
      td {
        padding: 25px 7px; 
      }
      .date {
        padding-left: 20px;
      }
      .cp-name {
        color: #5eb12f;
      }
      .font-big {
        font-size: 15px;
        font-weight: bold;
      }
      .disapprove {
        border: 1px solid #eee;
        border-radius: 10px;
        background-color: white;
        padding: 6px 15px;
        color: #aaa;
      }
      .disapprove:hover {
        border-color: #aaa;
        color: #888;
      }
      .ongoing {
        color: #5eb12f;
      }
      .rejected {
        color: red;
        cursor: pointer;
      }
      .incomplete {
        color: #aaa;
      }
      .completed {
        color: #5eb12f;
        cursor: pointer;
      }
      .disagreed {
        color: red;
      }
      .message {
        cursor: pointer;
      }
    }
  }
}

/* dashboard : modal */
.modal {

  /* modla : disapprove */
  .modal-dialog-disapprove {
    margin-top: 150px;
    .modal-disapprove {
      width: 700px;
      p {
        color: #999;
        font-size: 14px;
      }
      .btn {
        border-radius: 10px;
        padding: 20px 40px;
        margin: 0 10px;
        font-size: 16px;
      }
      .btn-a {
        background-color: white;
        color: #888;
        border: 1px solid #888;
      }
      .btn-a:hover {
        border-color: #5eb12f;
        color: #5eb12f;
      }
    }
  }

  /* modla : rejected */
  .modal-dialog-rejected {
    margin-top: 100px;
    .modal-rejected {
      width: 550px;
      p {
        color: #999;
        font-size: 14px;
        span {
          color: #5eb12f;
        }
      }
      textarea {
        border: 1px solid #ddd;
        border-radius: 10px;
        width: 460px;
        padding: 15px;  
        margin-bottom: 20px;
      }
      .btn {
        border-radius: 10px;
        padding: 20px 40px;
        margin: 0 10px;
        font-size: 16px;
      }
      .btn-a {
        background-color: white;
        color: #888;
        border: 1px solid #888;
      }
      .btn-a:hover {
        border-color: #5eb12f;
        color: #5eb12f;
      }
    }
  }

  /* modla : completed */
  .modal-dialog-completed {
    margin-top: 100px;
    .modal-completed {
      width: 700px;
      .question {
        color: #5eb12f;
        margin-top: 40px;
      }
      p {
        color: #999;
        font-size: 14px;
        margin: 30px 0;
        line-height: 25px;
        .agreed {
          color: #5eb12f;
        }
        .disagreed {
          color: red;
        }
      }
      .btn {
        border-radius: 10px;
        padding: 20px 40px;
        margin: 0 10px;
        font-size: 16px;
      }
      .btn-a {
        background-color: white;
        color: #888;
        border: 1px solid #888;
      }
      .btn-a:hover {
        border-color: #5eb12f;
        color: #5eb12f;
      }
    }
  }


  /* modla : i-disagreed */
  .modal-dialog-i-disagreed {
    margin: 100px auto 0;

    .modal-i-disagreed {
      width: 700px;
      textarea {
        border: 1px solid #ddd;
        border-radius: 10px;
        width: 450px;
        padding: 15px;
        display: block;
        margin: 50px auto; 
      }
      .btn {
        border-radius: 10px;
        padding: 20px 40px;
        margin: 0 10px;
        font-size: 16px;
      }
    }
  }


  /* modla : message */
  .modal-dialog-message {
    margin-top: 150px;
    .modal-message {
      width: 700px;
      p {
        color: #999;
        font-size: 14px;
      }
      .btn {
        border-radius: 10px;
        padding: 20px 40px;
        margin: 0 10px;
        font-size: 16px;
      }
      .btn-a {
        background-color: white;
        color: #888;
        border: 1px solid #888;
      }
      .btn-a:hover {
        border-color: #5eb12f;
        color: #5eb12f;
      }
    }
  }
}




/* account-billing */
.right-billing {
  width: 990px;
  display: inline-block;
  background-color: white;
  float: right;
  padding: 20px 25px 100px;

  .sub-title {
    position: relative;
    margin: 30px 0;
    h3 {
      margin: 0;
      display: inline-block;
      font-size: 20px;
      color: 757575;
      span {
        color: #5eb12f;
      }
    }
    .sub-title-left {
      display: inline-block;
      float: right;
      p {
        display: inline-block;
        margin: 0;
      }
      input {
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #eee;
        padding: 5px 10px;
        margin: 0 15px;
      }
      .checkout-btn {
        background-color: #5eb12f;
        color: white;
        border: 0;
        border-radius: 10px;
        padding: 6px 20px;
        width: 134px;
        display: inline-block;
      }
    }  
  }
  

  table {
    width: 100%;
    margin-bottom: 30px;

    .table-header {
      background-color: #eee;
      td {
        //padding: 10px 20px;
      }
    }
    .table-body {
      border-bottom: 2px dotted #ddd;
      td {
        //padding: 18px 20px; 
      }
      .invoice {
        //color: #5eb12f;
      }
      .font-big {
        font-size: 20px;
        color: red;
      }
      .font-sm {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }


/*새로 짠 코드*/
  .title {
    font-size: 25px; 
    .credit {
      color: #5eb12f;
    }
  }
  .checkout-filter {
    border: 1px solid #5eb12f;
    padding: 13px 17px;
    margin: 30px 0 65px;
    
    .add-credit {
      display: inline-block;
      margin-right: 10px;
      h3 {
        display: inline-block;
        font-size: 15px;
      }
      .input-area {
        display: inline-block;
        .dollar {
          position: relative;
          display: inline-block;
          left: 27px;
          font-size: 15px;
        }
        input {
          border: 1px solid #ddd;
          border-radius: 5px;
          font-size: 15px;
          padding: 8px 15px 8px 30px;
          max-width: 190px;
        }
      }
    }
    .billing-country {
      display: inline-block;
      margin-right: 94px;
      margin-left: 10px;
      h3 {
        display: inline-block;
        font-size: 15px;
      }
      .country-area {
        display: inline-block;
        width: 200px;
        margin-left: 8px;
        .country-btn {
          border: 1px solid #ddd;
          padding: 10px 20px;
          border-radius: 5px;
          text-align: center;
          font-size: 15px;
          .glyphicon {
            float: right;
            font-size: 12px;
            color: #ccc;
            top: 3px;
          }
        }
      }
    }

    .checkout-btn {
      background-color: #5eb12f;
      border-radius: 5px;
      padding: 8px 25px;
      display: inline-block;
      color: white;
      font-size: 18px;
      line-height: 22px;
      img {
        vertical-align: middle;
        margin-left: 7px;
      }
    }
    .checkout-btn:hover {
      background-color: #4F9F22;
    }
  }
  .history {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .history-table {
    width: 100%;
    margin-bottom: 80px;
    .table-header {
      border-top: 1px solid #777;
      border-bottom: 1px solid #777;
      background-color: white;

      td {
        padding: 10px 15px;
        font-size: 15px;
      }
      .date {
        width: 120px;
        padding-left: 18px;
      }
      .view {
        text-align: center;
      }
    }
    .table-body {
      border-bottom: 1px solid #ddd;
 
      td {
        padding: 12px;
        font-size: 15px;
        color: #444;
        a {
          text-decoration: none;
          color: #444;
        }
        .view {
          text-align: center;
          cursor: pointer;
          padding: 7px 0;
        }
        .view:hover {
          color: #5eb12f;
        }
        .cashout {
          color: #5eb12f;
          border: 1px solid #5eb12f;
          border-radius: 5px;
        }
        .cashout:hover {
          background-color: #5eb12f;
          color: white;
        }
      }
      .date {
        width: 120px;
        padding-left: 18px;
      }
      .amount {
        img {
          vertical-align: middle;
          position: relative;
          bottom: 2px;
          margin-left: 5px;
        }
      }
      .minus {
        color: #f47474;
      }
      
    }
  }





}

/* Billing-Checkout_Now-modal */
.modal {
  /* modla : Checkout-now[Cash_out] */
  .modal-dialog-Checkout-Now {
    margin-top: 100px;

    .modal-Checkout-Now {
      width: 600px;
      padding: 30px;
      .modal-body {
        h1 {
          font-size: 28px;
        }
        .sub-title {
          font-size: 15px;
          color: #aaa;
          margin-bottom: 40px;
        }
        p {
          width: 460px;
          text-align: left;
          font-size: 15px;
          color: #555;
          margin: 10px auto;
          padding: 15px 0;

          input {
            float: right;
            position: relative;
            bottom: 10px;
            padding: 10px;
            width: 300px;
            height: 40px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 14px;
            color: #ccc;
          }
        }
        h5 {
          font-size: 13px;
          line-height: 20px;
          margin-top: 30px;
        }
        .btn {
          margin: 20px 0;
          border: 1px solid #5eb12f;
          color: #5eb12f;
          background-color: white;
          padding: 10px 100px;
        }
        .btn:hover {
          background-color: #5eb12f;
          color: white;
        }
      }
      .modal-footer {
        text-align: left;
        padding-bottom: 0;
        h5 {
          margin: 10px 0;
          span {
            color: #5eb12f;
          }
        }
      }
    }
  }
}
/* Billing-Add-Credit-modal */
.modal {
  .modal-dialog-add-credit {
    margin-top: 100px;
    .modal-add-credit {
      width: 600px;
      .modal-body {
        h1 {
          font-size: 28px;
          margin-bottom: 45px;
        }
        h3 {
          font-size: 15px;
          margin: 20px;
          text-align: left;
          span {
            margin-left: 100px;
            border: 1px solid#5eb12f;
            border-radius: 5px;
            padding: 5px 40px;
            float: right;
            position: relative;
            bottom: 5px;
            color: #5eb12f;
          }
        }
        p {
          text-align: left;
          font-size: 15px;
          margin: 15px;
        }
        .checkbox {
          display: inline-block;
          margin-right: 10px;
        }
        h5 {
          display: inline-block;
          span {
            color: #5eb12f;
          }
        }
      }
    }
  }
}

/* Billing-Checkout_Now-complete-modal */
.modal {
  .modal-dialog-add-credit-complete {
    margin-top: 100px;
    .modal-add-credit-complete {
      width: 600px;
      padding: 30px;
      .modal-body {
        h1 {
          font-size: 28px;
          color: #5eb12f;
        }
        .info {
          text-align: left;
          font-size: 14px;
        }
        h3 {
          font-size: 18px;
          text-align: left;
          margin: 20px 30px;
          span {
            float: right;
            color: #5eb12f;
          }
        }
        .know {
          border: 1px solid #eee;
          border-radius: 5px;
          font-size: 14px;
          text-align: left;
          color: #777;
          padding: 15px 20px;
          margin: 30px 20px;
          span {
            font-size: 17px;
            color: #5eb12f;
          }
        }
        p {
          color: #777;
          font-size: 15px;
        }
        .btn {
          margin: 20px 0;
          color: white;
          background-color: #5eb12f;
          padding: 10px 100px;
        }
      }
    }
  }
}




/* Billing-Checkout_Now-kr-modal */
.modal {
  /* modla : Checkout-now-kr[Cash_out] */
  .modal-dialog-Checkout-Now-kr {
    margin-top: 100px;

    .modal-Checkout-Now-kr {
      width: 600px;
      padding: 30px;
      .modal-body {
        h1 {
          font-size: 28px;
        }
        h3 {
          font-size: 13px;
          line-height: 23px;
          color: #777;
          margin-bottom: 30px;
        }

        p {
          width: 460px;
          text-align: left;
          font-size: 15px;
          color: #555;
          margin: 10px auto;
          padding: 15px 0;

          input {
            float: right;
            position: relative;
            bottom: 10px;
            padding: 10px;
            width: 300px;
            height: 40px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 14px;
            color: #ccc;
          }
        }
        h5 {
          margin-top: 30px;
        }

        .btn {
          margin: 20px 0;
          border: 1px solid #5eb12f;
          color: #5eb12f;
          background-color: white;
          padding: 10px 100px;
        }
        .btn:hover {
          background-color: #5eb12f;
          color: white;
        }
      }
      .modal-footer {
        text-align: left;
        padding-bottom: 0;
        h5 {
          margin: 10px 0;
          font-size: 12px;
          span {
            color: #5eb12f;
          }
        }
      }
    }
  }
}



/* Billing-Add-Credit-kr-modal */
.modal {
  .modal-dialog-add-credit-kr {
    margin-top: 100px;
    .modal-add-credit-kr {
      width: 600px;
      .modal-body {
        h1 {
          font-size: 28px;
        }
        .credit-amount {
          border: 1px solid #eee;
          border-radius: 5px;
          padding: 10px;
          margin: 25px 0;
          p {
            padding: 0;
            span {
              float: right;
            }
          }
          .total {
            border-top: 1px solid #eee;
            padding-top: 10px;
          } 
        }
        .sub-title {
          display: block;
          text-align: left;
          color: #aaa;
          font-size: 12px;
          margin: 20px
        }
        p {
          width: 460px;
          text-align: left;
          font-size: 15px;
          color: #555;
          margin: 10px auto;
          padding: 15px 0;

          input {
            float: right;
            position: relative;
            bottom: 10px;
            padding: 10px;
            width: 300px;
            height: 40px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 14px;
            color: #ccc;
          }
        }
        .info {
          margin: 30px 0;
          p {
            font-size: 13px;
            padding: 0;
            color: #777;
          }
        }
        .checkbox {
          display: inline-block;
          margin-right: 10px;
        }
        h5 {
          display: inline-block;
          span {
            color: #5eb12f;
          }
        }
      }
    }
  }
}
/* Billing-Add-Credit-complete-kr-modal */
.modal {
  .modal-dialog-add-credit-complete-kr {
    margin-top: 100px;
    .modal-add-credit-complete-kr {
      width: 700px;
      .modal-body {
        h1 {
          font-size: 25px;
          color: #5eb12f;
        }
        .sub-title {
          font-size: 13px;
          line-height: 23px;
          color: #aaa;
          margin: 20px 0 50px;
        }
        p {
          font-size: 14px;
          text-align: left;
          margin: 10px 40px;
          color: #555;
          span {
            float: right;
          }
        }
        .credit-amount {
          border: 1px solid #eee;
          border-radius: 5px;
          padding: 10px;
          margin: 25px 0;
          p {
            padding: 0;
            text-align: left;
            font-size: 14px;
            margin: 10px 30px;
            span {
              float: right;
              color: #555;
            }
          }
          .total {
            border-top: 1px solid #eee;
            padding-top: 10px;
          } 
        }
        .btn-complete {
          margin: 20px 0;
          color: white;
          background-color: #5eb12f;
          padding: 10px 100px;
        }
      }
    }
  }
}




/*account-billing-invoice*/
.right-billing-invoice {
  padding: 20px 30px 100px;
  margin: 0 auto;
  width: 990px;
  background-color: white;
  display: inline-block;
  float: right;
  .pack {
    width: 880px;
    border: 1px solid #ddd;
    margin: 30px auto;
    .billing-header {
      margin-bottom: 25px;
      border-bottom: 1px solid #ddd;
      padding: 30px 20px;
      h2 {
        display: inline-block;
        text-align: right;
        color: #666;
        font-size: 20px;
        margin: 7px 0 0;
        float: right;
        span {
          color: #999;
          font-size: 15px;
        }
      }  
    }
    .billing-body {
      padding: 50px;

      .receipt {
        display: inline-block;
        h3 {
          color: #5eb12f;
          font-size: 20px;
          line-height: 25px;
          font-weight: 500;
          margin-bottom: 17px;
          span {
            color: #555;
          }
        }
        p {
          color: #454545;
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
      .seller {
        text-align: right;
        margin-left: 400px;
        float: right;
      }
      .invoice-table {
        margin: 50px auto;
        table {
          width: 100%; 
          tr {
            td {
              color: #aaa;
              padding: 10px 13px;
              font-size: 15px;
            }
            .name {
              width: 400px;
            }
            .cost {
              width: 120px;
              text-align: center;
            }
            .qty {
              width: 120px;
              text-align: center;
            }
            .total {
              width: 120px;
              text-align: right;
            }
          }
          .table-head {
            $border-color: #777;

            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            td {
              color: #666;
            }
          }
          .table-body {
            border-bottom: 1px solid #ddd;
            td {
              padding: 27px 13px;
              color: #454545;
              font-size: 16px;
            }
          }
        }
        h3 {
          text-align: right;
          font-size: 18px;
          padding-right: 15px;
          padding: 10px 15px;
          border-bottom: 1px solid #777;
          span {
            color: #5eb12f;
          }
        }
      }
    }
    .bank-info {
      border-top: 1px solid #ddd;
      padding: 30px 50px;
      margin-top: 50px;
      h3 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 13px;
      }
      .title {
        width: 200px;
      }
      p {
        margin-bottom: 0;
        display: inline-block;
        color: #555;
        margin: 3px 0;
        vertical-align: top;
        font-size: 15px;
        line-height: 22px;
      }
    }
    .billing-footer {
      text-align: right;
      padding: 12px 20px;
      background-color: #3b3b3b;
      color: #eee;
      line-height: 23px;
      font-size: 15px;
    }
  }
}



/* account-ad-biddings */
.right-ad-biddings {
  width: 990px;
  display: inline-block;
  background-color: white;
  float: right;
  padding: 20px 30px 100px;

  .sub-title {
    position: relative;
    margin: 30px 0;
    h3 {
      display: inline-block;
      margin: 0;
      font-size: 18px;
    }
    .btn {
      position: relative;
      bottom: 24px;
      background-color: #5eb12f;
      color: white;
      border: 0;
      padding: 10px 25px;
      font-size: 17px;
      float: right;
      img {
        margin-right: 7px;
        position: relative;
        bottom: 3px;
      }
      span {
        font-size: 22px;
        font-weight: bold;
        padding-left: 5px;
      }
    }
  }
  table {
    width: 100%;
    border-top: 1px solid #ddd;
    margin: 20px 0;
    .table-header {
      border-top: 2px solid #bbb;
      border-bottom: 2px solid #bbb;
      td {
        padding: 10px 15px;
      }
    }
    .table-body {
      border-bottom: 1px solid #ddd;
      td {
        padding: 15px;
      }
      .name {
        width: 250px;
        font-weight: bold;
        font-size: 15px;
      }
      .budget {
        font-weight: bold;
        font-size: 15px;
      }
    }
  }
}


/* account-projects */
.right-projects {
  width: 990px;
  display: inline-block;
  background-color: white;
  float: right;
  padding: 20px 30px 100px;

  h3 {
    display: inline-block;
    margin: 0;
    font-size: 24px;
    span {
      padding-left: 10px;
      color: #aaa;
      font-size: 13px;
    }
  }

  .top-info {
    margin: 25px 0 60px;
    .info {
      display: inline-block;
      border: 5px solid #eee;
      border-radius: 10px;
      padding: 10px 5px;
      width: 175px;
      height: 90px;
      margin: 0 4px;
      text-align: center;
      vertical-align: middle;
      p {
        color: #ccc;
        font-size: 12.5px;
      }
      h2 {
        color: #5eb12f;
        font-weight: 700;
        font-size: 25px;
        margin: 0;
      }
      .small {
        font-size: 14px;
      }
    }
  }


  table {
    width: 100%;
    margin: 20px 0 60px;
    .table-header {
      border-top: 1px solid #888;
      border-bottom: 1px solid #888;
      font-size: 12px;
      color: #bbb;
      td {
        padding: 10px 12px;
        text-align: center;
      }
      .marketing {
        width: 200px;
      }
      .qty {
        width: 100px;
      }
    }
    .table-body {
      border-bottom: 1px solid #ddd;
      td {
        padding: 10px 12px; 
        font-size: 13px;
        text-align: center;
        img {
          cursor: pointer;
        }
      }
      .name {
        color: #5eb12f;
        span {
          color: #bbb;
        }
      }
      .kick-btn {
        padding-bottom: 3px;
        padding: 6px 12px;
        font-size: 13px;
        border-radius: 5px;
        background-color: #aaa;
        color: white;
        position: relative;
        top: 8px;
        left: 8px;
      }
      .kick-btn:hover {
        background-color: #999;
      }
      .refunded {
        color: #df6c5a;
        cursor: pointer;
      }
      .ongoing-btn {
        padding-bottom: 3px;
        padding: 6px 12px;
        font-size: 13px;
        border-radius: 5px;
        background-color: #5eb12f;
        color: white;
        position: relative;
        top: 8px;
        left: 8px;
      }
      .ongoing-btn-a {
        padding-bottom: 3px;
        padding: 2px 15px;
        border-radius: 5px;
        color: white;
        position: relative;
        top: 6px;
        left: 9px;
        font-size: 11px;
      }
      .result-btn {
        padding-bottom: 3px;
        padding: 2px 22px;
        border-radius: 5px;
        color: white;
        position: relative;
        top: 6px;
        left: 9px;
        font-size: 11px;
      }
      .result-btn-a {
        background-color: #df6c5a;
      }
      .result-btn-b {
        background-color: #999;
      }
      .disapprove-btn {
        padding-bottom: 3px;
        padding: 6px 10px;
        font-size: 11px;
        border-radius: 5px;
        background-color: #ffaa51;
        color: white;
        position: relative;
        top: 8px;
        left: 8px;
      }
    }
  }
}

.modal {
  .modal-dialog-projects {
    .modal-projects {
      width: 600px;
      padding: 30px;
      .modal-body {
        h2 {
          font-size: 25px;
          color: #444;
        }
        textarea {
          border: 1px solid #ddd;
          border-radius: 5px;
          padding: 20px;
          font-size: 15px;
          width: 500px;
          margin: 20px 0 40px;
          text-align: center;
        }
        .complain-info {
          font-size: 12px;
          margin: -24px 0 20px;
          .point {
            color: #dc3522;
          }
        }

        .insert-img {
          display: inline-block;
          background-color: #eee;
          width: 114px;
          height: 114px;
          color: #aaa;
          margin: 0 5px 35px;
          padding: 36px 0;
        }

        .btn {
          padding: 10px 60px;
          margin: 5px 10px;
        }
        .btn-b {
          background-color: white;
          border: 1px solid #5eb12f;
          color: #5eb12f;
        }
      }
    }
  }

  .modal-dialog-disapprove {
    margin-top: 100px;
    .modal-disapprove {
      width: 600px;
      padding: 30px;
      .modal-body {
        h2 {
          font-size: 25px;
          color: #444;
        }
        textarea {
          border: 1px solid #ddd;
          border-radius: 5px;
          padding: 15px;
          font-size: 13px;
          width: 500px;
          margin: 20px 0;
        }
        h5 {
          text-align: left;
          margin: 30px 10px 13px;
          font-size: 18px;
          input {
            text-align: center;
            float: right;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 8px 45px;
            position: relative;
            bottom: 9px;
            font-size: 15px;
          }
        }
        .amount {
          width: 310px;
          display: inline-block;
          float: right;
          margin-bottom: 20px;
          h3 {
            font-size: 16px;
            text-align: left;
            margin: 10px 17px;
            .amount-1 {
              float: right;
            }
            .refund {
              color: #df6c5a;
            }
            .receive {
              color: #5eb12f;
            }
          }
        }
      
        p {
          display: inline-block;
          text-align: left;
          margin: 0 10px;
          .checkbox {
            display: inline-block;
          }
        }
        .btn {
          padding: 10px 60px;
          margin: 5px 10px;
        }
      }
    }
  }
}





/* account-manage-service */
.right-manage-service {
  width: 990px;
  display: inline-block;
  background-color: white;
  float: right;
  padding: 20px 30px 130px;
  h1 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 20px;
  }

  .sub-title {
    margin: 30px 0;
    h3 {
      display: inline-block;
      margin: 0;
      font-size: 20px;
      color: #333;
    }
    button {
      background-color: #5eb12f;
      color: white;
      border: 0;
      border-radius: 10px;
      padding: 8px 25px;
      float: right;
      position: relative;
      bottom: 6px;
    }
  }

  table {
    width: 100%;
    margin: 30px 0 50px;

    .table-header {
      font-size: 13px;
      border-top: 1px solid #777;
      border-bottom: 1px solid #777;
      td {
        padding: 10px 12px;
        vertical-align: middle;
        text-align: center;
      }
    }
    .table-body {
      border-bottom: 1px solid #ddd;
      font-size: 13px;
      td {
        padding: 14px 12px; 
        vertical-align: middle;
        text-align: center;
        line-height: 18px;
        .embed-btn {
          background-color: white;
          border: 1px solid #ddd;
          color: #777;
          padding: 12px 13px 6px;
          border-radius: 5px;
          text-align: center;
          cursor: pointer;
          img {
            width: 30px;
          }
        }
        .embed-btn:hover {
          background-color: #f1f1f1;
          color: #444;
        }
        .edit-btn {
          width: 65px;
          background-color: white;
          border: 1px solid #5eb12f;
          color: #5eb12f;
          font-size: 13px;
          margin-bottom: 6px;
          padding: 3px 0;
        }
        .edit-btn:hover {
          background-color: #5eb12f;
          color: white;
        }
        .delete-btn {
          width: 65px;
          background-color: white;
          border: 1px solid #F47474;
          color: #F47474;
          font-size: 13px;
          padding: 3px 0;
        }
        .delete-btn:hover {
          background-color: #F47474;
          color: white;
        }
      }
      .name {
        color: #5eb12f;
        width: 160px;
        word-break: break-all;
        font-weight: 500;
        span {
          color: #bbb;
        }
      }
      .marketing {
        width: 210px;
      }
      .font-bold {
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
  h3 {
    font-size: 18px;
    color: #666;
    span {
      color: #5eb12f;
    }
  }


  /* manage service empty */
  .empty {
    text-align: center;
    margin-top: 80px;
    h3 {
      text-align: center;
      margin: 15px auto;
      font-size: 23px;
      color: #444;

    }
    .selling-info {
      display: inline-block;
      padding: 30px;
      margin: 15px 0;
      text-align: left;
      height: 405px;
      vertical-align: top;
      h4 {
        color: #5eb12f;
        margin: 20px 0 12px;
        font-weight: 500;
      }
      p {
        color: #aaa;
        font-size: 15px;
        line-height: 20px;
        .color {
          color: #444;
          font-weight: 700;
        }
      }
    }
    .center {
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
   
    }
  }




}
/* manage service embed modal */
.modal {
  .modal-dialog-embed {
    margin-top: 100px;
    .modal-embed {
      width: 700px;
      .modal-body {
        h1 {
          font-size: 28px;
          margin-bottom: 20px;
        }
        h4 {
          margin: 20px 0;
          color: #999;
        }
        textarea {
          border: 1px solid #ddd;
          border-radius: 5px;
          padding: 15px;
          width: 550px;
        }
        p {
          text-align: left;
          .redcolor {
            color: #e06d5a;
          }
        }
        .greencolor {
          color: #5eb12f;
        }
        .btn {
          padding: 12px 80px;
        }
      }
    }
  }
}







/* account-pub-biddings */
.right-pub-biddings {
  width: 990px;
  display: inline-block;
  background-color: white;
  float: right;
  padding: 20px 30px 100px;
}

.signup-process {
  padding: 50px 0 150px;
  h2 {
    text-align: center;
    color: #555;
    font-size: 28px;
    margin-bottom:  50px;
  }
  input {
    padding: 12px 10px 12px 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 15px auto;
    display: block;
    line-height: 20px;
    font-size: 15px;
  }
  .name {
    text-align: center;
  }
  .short-form {
    display: inline-block;
    margin: 0 7px;
    width: 190px;
  }
  .long-form {
    width: 400px;
  }
  .checkbox {
    text-align: center;
    margin: 30px 0 50px;

    p {
      color: #666;
      position: relative;
      top: 15px;
      font-size: 14px;
    }
  }
  .btn {
    background-color: #5eb12f;
    color: white;
    font-size: 16px;
    padding: 10px 180px;
    border: 0;
    display: block;
    margin: 0 auto;
  }
}



.page-info {
  text-align: center;
  border: 1px solid #eee;
  display: block;
  margin-bottom: 50px;
  p {
    display: inline-block;
    margin: 10px 20px;
    font-size: 17px;
    color: #666;
  }
  .select {
    color: #5eb12f;
  }
}


