@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  margin: 0;
  border-top: 5px solid #e3e3e3;
  font-family: "Roboto", "Nanum Gothic", "Helvetica Neue", Helvetic  a, Arial, sans-serif;
  background-color: white;

  .container {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
  }

  .header {
    vertical-align: middle;
    padding: 10px 0;
    .logo {
      float: left;
      margin-right: 270px;
      img {
        height: 48px;
        position: relative;
        top: 5px;

      }
      .beta {
        color: white;
        background-color: #F47474;
        padding: 5px 12px;
        font-size: 12px;
        display: inline-block;
        position: absolute;
        border-radius: 15px;
        margin-top: 0px;
        margin-left: 3px;
      }
    }

    .search-area {
      display: inline-block;
      position: static;
      width: 202px;
      height: 37px;
      //left: 29%;
      margin-top: 8px;

      .header-search {
        position: absolute;
        text-align: left;
        //left: 620px;
        z-index: 100;
        //margin-top: 8px;

        input {
          margin: 0 auto;
          border-radius: 5px;
          border: 0;
          padding: 7px 10px 7px 35px;
          font-size: 13px;
          border: 1px solid #eee;
          background-color: #f3f3f3;
          margin-bottom: 5px;
          line-height: 18px;
          color: #333;
        }
        span {
          position: absolute;
          left: 12px;
          top: 11px;
          color: #aaa;
        }
        .search-drop {
          display: block;
          background-color: white;
          min-width: 198px;
          border: 1px solid #eee;
          border-radius: 5px;
          box-shadow: 0px 2px 10px rgba(190, 190, 190, 0.5);
          z-index: 100;
          padding: 10px 0;
          //margin-left: 15px;
          margin-top: -3px;
          color: #555;
          .search-company {
            padding: 10px;
            text-align: left;
            img {
              height: 50px;            
              margin-right: 10px;
              vertical-align: middle;
            }
            h5 {
              margin: 0;
              display: inline-block;
              font-size: 14px;
              color: #333;
            }
          }
          .search-company:hover {
            background-color: #5eb12f;
            h5 {
              color: white;
            }
          }
        }
      }
      .header-search:hover {
        .search-drop {
          display: block;
          .search-company {
            //background-color: #5eb12f;
          }
        }
      }
    }




    .header-right {
      display: inline-block;
      position: relative;
      top: 10px;
      float: right;
      margin-left: 45px;

      ul {
        position: relative;
        display: inline-block;
        list-style: none;
        padding-left: 0;
        margin: 0;

        li {
          float: left;
          margin: 8px;
          font-size: 13px;
          a {
            text-decoration: none;
            color: #6b6b6b;
          }
          .login-btn {
            background-color: white;
            border: 1px solid #5eb12f;
            border-radius: 5px;
            color: #5eb12f;
            padding: 5px 15px;
          }
          .signup-btn {
            background-color: #5eb12f;
            border: 1px solid #5eb12f;
            border-radius: 5px;
            color: white;
            padding: 5px 10px;
          }
        }
      }
      .log-name {
        font-size: 15px;
        display: inline-block;
        position: relative;
        bottom: 12px;
        vertical-align: middle;
        a {
          color: #5eb12f;
          padding: 17px 0 30px;
          img {
            position: relative;
            padding: 0 12px;
            border-radius: 50%;
            vertical-align: middle;
          }
        }
        .log-info-hover {
          display: none;
          position: absolute;
          width: 255px;
          border: 1px solid #eee;
          border-radius: 5px;
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
          padding: 20px;
          right: 0;
          z-index: 100;
          background-color: white;
          margin-top: 10px;
          text-align: left;
          .title {
            font-size: 16px;
            margin-bottom: 10px;
          }

          h5 {
            margin-top: 0;
            margin-bottom: 5px;
            font-size: 14px;
            display: inline-block;
            a {
              text-decoration: none;
              padding: 0;
              color: #999;
              font-size: 14px;
            }
            a:hover {
              color: #5eb12f;
            }
          }
          
          .log-info-account {
            margin-bottom: 25px;
            a {
              margin-right: 20px; 
            }
          }
          .log-info-adv {
            display: inline-block;
            vertical-align: top;
            margin-right: 15px; 
          }
          .log-info-pub {
            display: inline-block;
          }
          .log-info-footer {
            margin-top: 20px;
            h5 {
              a {
                font-size: 16px;
                color: #333;  
              }
              a:hover {
                color: #5eb12f;
              }
            }
            p {
              display: inline-block;
              font-size: 12px;
              float: right;
              position: relative;
              top: 3px;
              cursor: pointer;
              span {
                color: #5eb12f;
              }
              img {
                width: 20px;
                margin-left: 6px;
              }
            }
          }
        }
      }
      .log-name:hover {
        .log-info-hover {
          display: block;
        }
      }
    }
  }
  .nav {
    background-color: #f1f1f1;
    padding: 12px 0;

    .btn-group {
      margin-right: 10px;
      button {
        border: 0; 
        padding: 6px 12px; 
        background-color: white;
        color: #868787;
      }
      .country-btn {
        width: 150px;
        text-align: left;
        font-size: 14px;
        .glyphicon {
          font-size: 10px;
          float: right;
          position: relative;
          top: 6px;
        }
      }
      .marketing-btn {
        width: 165px;
        text-align: left;
        font-size: 14px;
        .glyphicon {
          font-size: 10px;
          float: right;
          position: relative;
          top: 6px;
        }
      }
    }
    .nav-btn {
      background-color: #5bb33a;
      color: white;
      padding: 4px 15px;
      font-size: 15px;
      img {
        margin-left: 10px;
        vertical-align: middle;
        width: 24px;
      }
    }

    .country {
      .country-down {
        display: none;
        width: 150px;
        border: 1px solid #eee;
        border-radius: 5px;
        position: absolute;
        top: 32px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
        padding-top: 7px;
        cursor: pointer;
        background-color: white;
        z-index: 100;
        .title {
          color: #555;
          font-size: 14px;
          padding: 7px 15px;
        }
        ul {
          list-style: none;
          padding-left: 0;
          max-height: 250px;
          overflow-y: scroll; 
          li {
            padding: 7px 15px;
            color: #aaa;
            font-size: 13px;
          }
          li:hover {
            color: #5bb33a;
          }
          hr {
            margin: 3px 15px;
          }
        }
        .other {
          display: inline-block;
          color: #777;
          padding: 10px 14px 15px;
          font-size: 13px;
          .other-tooltip {
            display: none;
            border: 1px solid #eee;
            border-radius: 5px;
            position: absolute;
            left: 162px;
            bottom: -18px;
            color: #ccc;
            width: 250px;
            padding: 12px 15px;
            line-height: 17px;
            background-color: white;
            z-index: 100;
            img {
              -ms-transform: rotate(-90deg); /* IE 9 */
              -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
              transform: rotate(-90deg);
              position: absolute;
              top: 31px;
              left: -13px;
            }
          }
        }
        .other:hover {
          .other-tooltip {
            display: block;
          }
        }
      }
    }
    .country:hover {
      border-color: #5bb33a;
      z-index: 100;
      h3 {
        color: #5bb33a;
      }
      .country-down {
        display: block;
      }
    }


    .marketing {
      .btn {
        border-radius: 5px;  
      }
      
      .marketing-down {
        display: none;
        width: 165px;
        border: 1px solid #eee;
        border-radius: 5px;
        position: absolute;
        top: 32px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
        cursor: pointer;
        background-color: white;
        z-index: 100;
        padding: 9px 0 15px;
        ul {
          list-style: none;
          padding-left: 0;
          li {
            padding: 7px 15px;
            color: #aaa;
            font-size: 13px;
          }
          li:hover {
            color: #5bb33a;
          }
          .title {
            color: #777;
          }
          hr {
            margin: 0 12px 10px;
          }
          
          .division-hover {
            display: none;
            border: 1px solid #eee;
            width: 200px;
            position: absolute;
            left: 163px;
            top: 36px;
            color: #333;
            background-color: white;
            padding: 10px;
            ul {
              display: inline-block;
              vertical-align: top;
              li {
                padding: 7px 10px;
              }
              .title {
                font-size: 14px;
                color: #777;
                padding-left: 0;
                border-bottom: 1px solid #ddd;
                margin: 0 10px;
              }
            }
          }

          .division:hover {
            .division-hover {
              display: block;
            }
          }
          .division-hover-plus {
            width: 480px;
          }
        }
      }
    }
    .marketing:hover {
      border-color: #5bb33a;
      z-index: 100;
      h3 {
        color: #5bb33a;
      }
      .marketing-down {
        display: block;
      }
    }
    .cost {
      display: inline-block;
      width: 180px;
      border: 1px solid #eee;
      position: relative;
      font-size: 13px;
      right: 4px;
      margin-right: -10px;
      
      input {
        border: 0;
        padding-left: 10px;
        height: 32px;
        border-radius: 5px;
      }
      .cost-hover {
        display: none;
        position: absolute;
        bottom: 0;
        padding-left: 10px;
        background-color: white;
        border: 0;
        border-radius: 5px;
        input {
          width: 50px;
          display: inline-block;
          margin: 0 3px;

        }
      }
    }
    .cost:hover {
      .cost-hover {
        display: block;
        color: #5bb33a;
      }
    }
    .nav-cart {
      float: right;
      width: 28px;
      position: relative;
      top: 5px;
      right: 10px;
    }
  }

  .resend {
    background-color: #BD2F2F;
    color: #eee;
    text-align: center;
    margin: 0;
    padding: 15px 0;
    font-size: 16px;
    .underline {
      text-decoration: underline;
      margin-left: 10px;
      color: white;
    }
  }
  .account-update {
    background-color: #5eb12f;
    color: white;
    text-align: center;
    margin: 0;
    padding: 15px 0;
    font-size: 16px;
  }



  .footer {
    position: absolute;
    //bottom: 0;
    right: 0;
    left: 0;
    padding: 20px 0;
    background-color: #f2f2f2;
    border-bottom: 5px solid #5bb33a;

    p {
      display: inline-block;
      margin: 0;
      color: #737373;
      font-size: 12px;
    }
    .footer-right {
      float: right;
      position: relative;
      bottom: 3px;

      ul {
        list-style: none;
        display: inline-block;
        position: relative;
        top: 5px;
        padding-left: 0;
        margin: 0;
        li {
          float: left;
          margin: 0 10px;
          font-size: 12px;
          vertical-align: middle;
          a {
            color: #737373;
            text-decoration: none;
            img {
              margin-right: 10px;
            }
          }
        }
      }
      .footer-sns {
        display: inline-block;
        margin-left: 5px;
        a {
          text-decoration: none;
          img {
            margin: 0 3px;
          }
        }
      }
    }
  }
}








