@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);


body {
  margin: 0;
  border-top: 5px solid #e3e3e3;
  border-bottom: 5px solid #5bb33a;
  font-family: "Lato", "Helvetica Neue", Helvetic  a, Arial, sans-serif;

  .container {
    width: 1200px;
    margin: 0 auto;
  }


  .header {
    vertical-align: middle;
    padding: 10px 0;
    .logo {
      img {
        height: 48px;
      }
    }

    .search {
      position: relative;
      text-align: center;
      margin-top: 10px;
      display: inline-block;
      left: 28%;

      input {
        margin: 0 auto;
        border-radius: 5px;
        border: 0;
        padding: 7px 10px 7px 35px;
        font-size: 13px;
        border: 1px solid #eee;
        background-color: #f3f3f3;
      }
      span {
        position: relative;
        left: 30px;
        color: #aaa;
      }
    }

    ul {
      position: relative;
      display: inline-block;
      list-style: none;
      float: right;
      padding-left: 0;
      margin: 0;
      top: 18px;

      li {
        float: left;
        margin: 0 7px;
        font-size: 13px;
        
        a {
          text-decoration: none;
          color: #6b6b6b;
        }
      }
      .log-name {
        padding-left: 10px;
        font-size: 15px;
        a {
          vertical-align: top;
          color: #5eb12f;
          img {
            position: relative;
            bottom: 15px;
            padding: 0 12px;
          }
        }
      }
    }

  }
  .nav {
    height: 55px;
    background-color: #f1f1f1;
    padding: 12px 0;

    .btn-group {
      margin-right: 20px;
      button {
        border: 0; 
        
        padding: 6px 20px; 
        background-color: white;
        color: #868787;
      }
      
    }
    .nav-btn {
      background-color: #5bb33a;
      color: white;
      padding: 4px 15px;
      img {
        margin-left: 10px;
      }
    }
  }


  .footer {
    position: relative;
    bottom: 0;
    padding: 20px 0;
    background-color: #f2f2f2;

    p {
      display: inline-block;
      margin: 0;
      color: #737373;
      font-size: 12px;
    }
    .footer-right {
      float: right;

      ul {
        list-style: none;
        display: inline-block;
        position: relative;
        top: 5px;
        padding-left: 0;
        margin: 0;
        li {
          float: left;
          margin: 0 10px;
          font-size: 12px;
          vertical-align: middle;
          a {
            color: #737373;
            text-decoration: none;
            img {
              margin-right: 10px;
            }
          }
        }
      }
      .footer-sns {
        display: inline-block;
        margin-left: 5px;
        a {
          text-decoration: none;
          img {
            margin: 0 3px;
          }
        }
      }
    }
  }
}
