/* about us */

$p-width: 600px;

.aboutus {
  padding: 100px 0 150px;
  text-align: center;
  h1 {
    margin: 30px;
  }
  p {
    text-align: left;
    margin: 30px auto 50px;
    width: $p-width;
    line-height: 25px;

    span {
      color: #6dc54d;
    }
  }
}

/* how it works */
.how {
  padding: 100px 0 150px;

  h1 {
    text-align: center;
    margin: 50px;
  }
  p {
    margin: 30px auto;
    width: $p-width;
    line-height: 25px

  }
}

/* faq */
.faq {
  padding: 100px 0 150px;
  h1 {
    text-align: center;
    margin-bottom: 50px;
  }
  p {
    width: $p-width;
    margin: 20px auto;
    line-height: 23px;
    font-size: 16px;
    span {
      color: #6dc54d;
      font-size: 20px;
    }
  }
}








