/* 로그인 */
.login {
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
  .title-logo {
    margin-bottom: 30px;
  }

  a {
    text-decoration: none;

    .sns-login {
      display: inline-block;
      padding: 15px 25px;
      border-radius: 10px;
      font-size: 14px;
      margin: 0 5px;
      color: white;
      img {
        margin-right: 12px;
      }
      
    }
    .linkedin {
      background-color: #007ab9;
    }
    .facebook {
      background-color: #3a589b;
    }
  }
  h3 {
    display: inline-block;
    border-radius: 50%;
    color: white;
    background-color: #d9d9d9;
    font-size: 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  form {
    div {
      input {
        width: 370px;
        padding: 15px 20px;
        margin: 5px 0;
        font-size: 14px;
        border-radius: 10px;
        border: 2px solid #d9d9d9;
        color: black;
      }
      input:focus {
        border: 2px solid #6dc54d;
      }
    }
    .log-btn {
      margin: 30px 0 10px;
      input {
        background-color: #6dc54d;
        color: white;
        border: 0;
        font-size: 15px;
        width: 150px;
        padding: 20px 0;
      }
    }
  }
}

/* 등록하기 */
.signup {
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
  .title-logo {
    margin-bottom: 30px;
  }
  h1 {
    color: #6dc54d;
  }
  input {
    width: 155px;
    padding: 15px 20px;
    margin: 5px 0;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid #d9d9d9;
    color: black;
  }
  input:focus {
    border: 2px solid #6dc54d;
  }

  .firstname {
    margin-right: 5px;
  }
  form {
    div {
      input {
        width: 370px;
        padding: 15px 20px;
        margin: 5px 0;
        font-size: 14px;
        border-radius: 10px;
        border: 2px solid #d9d9d9;
        color: black;
      }
      input:focus {
        border: 2px solid #6dc54d;
      }
    }
    .log-btn {
      margin: 30px 0 10px;
      input {
        background-color: #6dc54d;
        color: white;
        border: 0;
        font-size: 15px;
        width: 150px;
        padding: 20px 0;
      }
    }
  }
  .sign-btn {
    margin: 30px 0 10px;
    input {
      background-color: #6dc54d;
      color: white;
      border: 0;
      font-size: 15px;
      width: 150px;
      padding: 20px 0;
    }
  }
}

/* 비밀번호 찾기 */
.log-pw {
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
  .title-logo {
    margin-bottom: 30px;
  }
  h2 {
    color: #6dc54d;
  }

  form {
    div {
      input {
        width: 330px;
        padding: 15px 20px;
        font-size: 14px;
        border-radius: 10px;
        border: 2px solid #d9d9d9;
        color: black;
      }
      input:focus {
        border: 2px solid #6dc54d;
      }
    }
    .pw-send-btn {
      margin: 30px 0 10px;
      input {
        background-color: #6dc54d;
        color: white;
        border: 0;
        font-size: 15px;
        padding: 15px;
        width: 190px;
      }
    }
  }
}


/* finish-signup */
.finish-signup {
  margin: 0 auto;
  padding: 50px 0 100px;;

  text-align: center;
  .skip {
    background-color: white;
    color: #5eb12f;
    padding: 10px 180px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #5eb12f;
    margin: 0 0 30px;;
    cursor: pointer;
  }
  .skip:hover{
    background-color: #5eb12f;
    color: white;
  }
  .languages {
    width: 400px;
    margin: 0 auto;
    text-align: left;
    h3 {
      text-align: left;
      display: inline-block;
      font-size: 15px;
      padding-left: 10px;
    }
    .popover-markup {
      display: inline-block;
      margin-left: 20px;
    }
  }
  input {
    display: block;
    margin: 15px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 10px 10px 20px;
    width: 400px;
  }
  textarea {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 10px 10px 20px;
    width: 400px;
    margin-bottom: 20px;
  }

  .company-name {
    display: inline-block;
    .company-name-drop {
      display: block;
      border: 1px solid #eee;
      border-radius: 5px;
      position: relative;
      padding: 10px 0;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
      z-index: 100;
      background-color: white;
      min-width: 400px;
      margin-top: -16px;
      .company-autocomplete {
        text-align: left;
        padding: 8px 20px;
        img {
          width: 70px;
          margin-right: 15px;
        }
        h5 {
          display: inline-block;
          color: #666;
          font-size: 14px;
        }
      }
      .company-autocomplete:hover {
        background-color: #5eb12f;
        h5 {
          color: white;  
        }
      }
    }
  }
  .company-name:hover {
    .company-name-drop {
      display: block;
    }
  }





  .language-input {
    width: 400px;
    margin: 0 auto;
    .language-drop {
      display: none;
      width: 400px;
      border: 1px solid #eee;
      border-radius: 5px;
      position: absolute;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
      padding-top: 10px; 
      background-color: white;
      cursor: pointer;
      z-index: 100;
      margin-top: -16px;
      ul {
        list-style: none;
        padding-left: 0;
        li {
          padding: 5px 15px 5px 25px;
          color: #bbb;
          font-size: 13px;
          text-align: left;
        }
        li:hover {
          color: #5bb33a;
        }
      }
    }
  }


  .language-input:hover {
    border-color: #5bb33a;
    z-index: 101;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
    input {
      color: #5eb12f;
    }
    .language-drop {
      display: block;
    }
  }

  

  .country{
    width: 400px;
    margin: 0 auto;
    .country-down {
      display: none;
      width: 400px;
      height: 250px;
      border: 1px solid #eee;
      border-radius: 5px;
      position: absolute;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
      padding-top: 10px;
      cursor: pointer;
      background-color: white;
      z-index: 100;
      margin-top: -16px;
      overflow: scroll;
      ul {
        list-style: none;
        padding-left: 0;
        li {
          padding: 5px 15px 5px 25px;
          color: #bbb;
          font-size: 13px;
          text-align: left;
        }
        li:hover {
          color: #5bb33a;
        }
      }
    }
  }
  .country:hover {
    border-color: #5bb33a;
    z-index: 101;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
    input {
      color: #5eb12f;
    }
    .country-down {
      display: block;
    }
  }


  .number {
    width: 400px;
    margin: 0 auto;
    input {
      z-index: 150;
    }

    .number-drop {
      display: none;
      width: 400px;
      border: 1px solid #eee;
      border-radius: 5px;
      position: absolute;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
      padding-top: 10px;
      cursor: pointer;
      background-color: white;
      margin-top: -16px;
      z-index: 100;
      ul {
        list-style: none;
        padding-left: 0;
        li {
          padding: 5px 15px 3px 25px;
          color: #bbb;
          font-size: 13px;
          text-align: left;
        }
        li:hover {
          color: #5bb33a;
        }
      }
    }
  }
  .number:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
    input {
      color: #5eb12f;
    }
    .number-drop {
      display: block;
    }
  }

  .client-logo {
    margin: 50px auto 0;
    width: 400px;
    border-top: 1px solid #ccc;
    p {
      margin: 30px auto 15px;
      text-align: left;
      img {
        margin-right: 6px;
      }
    }
    .ex-img {
      display: inline-block;
      width: 72px;
      height: 72px;
      margin: 4px;
      background-position: center center;
      background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    }
  }

  .company-introduction {
    width: 400px;
    margin: 0 auto;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    h5 {
      text-align: left;
      img {
        margin-right: 6px;
      }
    }
  }

  .upload-logo-area {
    text-align: left;
    margin: 0 auto;
    width: 400px;
    .upload-logo {
      margin: 0;
      border: 0;
      border-radius: 5px;
      background-color: #aaa;
      color: white;
      padding: 10px;
      display: inline-block;
      cursor: pointer;
      vertical-align: top;
      width: 160px;
      text-align: center;
    }
    .client-logo-info{
      display: inline-block;
      color: #ccc;
      font-size: 12px;
      margin: 12px 0 10px 10px;
    }
    .file-name {
      font-size: 16px;
      display: inline-block;
      margin-left: 20px;
      a {
        text-decoration: none;
        padding: 3px 10px; 
        background-color: #e06d5a;
        color: white;
        border-radius: 3px;
        margin-left: 15px;
        font-size: 11px;
      }
      span {
        font-size: 14px;
        position: relative;
        bottom: 3px;
      }
      .info {
        color: #cccccc;
        font-size: 12px;
      }
    }
    .plus-upload {
      margin: 0 0 50px;
      img {
        width: 18px;
        margin: 0 10px;
      }
      p {
        display: inline-block;
      }
    }
  }
  .save-btn {
    background-color: #5eb12f;
    color: white;
    padding: 10px 180px;
    display: inline-block;
    border-radius: 5px;
    margin-top: 50px;
    cursor: pointer;
  }
}

    .languages-select{

      margin-right: 3px;
    }













