.main-bg {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 100%;
}


.main {
  position: relative;
  text-align: center;
  padding: 150px 0 400px;
  height: 900px;
  .beta {
    color: white;
    background-color: #F47474;
    padding: 8px 15px;
    font-size: 16px;
    //font-weight: 700;
    display: inline-block;
    position: absolute;
    border-radius: 15px;
    margin-top: -10px;
    margin-left: -23px;
  }


  .subheadline {
    color: #404040;
    font-size: 23px;
    margin: 15px 0 40px;
  }


  .select {
    background-color: white;
    padding-left: 10px;
    display: inline-block;
    margin-top: 20px;
    padding-left: 0;


    .drop {
      background-color: white;
      display: inline-block;
      text-align: left;
      position: relative;
      .glyphicon {
        font-size: 11px;
        float: right;
        margin-right: 20px;
        position: relative;
        top: 3px;
      }
    }

    .country {
      width: 150px;
      position: relative;
      left: 5px;

      h3 {
        font-size: 14px;
        margin: 0 0 10px;
        border: 1px solid #ddd;
        border-radius: 10px 0 0 10px;
        padding: 20px 0 20px 20px;
      }
      h3:hover {
        border-color: #5eb12f;
      }
      .country-down {
        display: none;
        width: 150px;
        border: 1px solid #eee;
        border-radius: 5px;
        position: absolute;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
        padding-top: 9px;
        cursor: pointer;
        top: 63px;
        
        .title {
          color: #555;
          font-size: 15px;
          padding: 7px 15px;
        }
        .title:hover {
          color: #5eb12f;
        }

        ul {
          list-style: none;
          padding-left: 0;
          max-height: 260px;
          overflow-y: scroll; 
          li {
            padding: 7px 15px;
            color: #999;
            font-size: 13px;
          }
          li:hover {
            color: white;
            background-color: #5eb12f;
          }
          hr {
            margin: 3px 15px;
          }
        }
       
        .other {
          display: inline-block;
          color: #777;
          padding: 10px 14px 15px;
          font-size: 13px;
          .other-tooltip {
            display: none;
            border: 1px solid #eee;
            border-radius: 5px;
            position: absolute;
            left: 158px;
            bottom: -18px;
            color: #aaa;
            width: 250px;
            padding: 12px 15px;
            background-color: white;
            line-height: 17px;
            img {
              -ms-transform: rotate(-90deg); /* IE 9 */
              -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
              transform: rotate(-90deg);
              position: absolute;
              top: 31px;
              left: -13px;
            }
          }
        }
        .other:hover {
          .other-tooltip {
            display: block;
          }
        }
      }
    }
    .country:hover {
      border-color: #5bb33a;
      z-index: 100;
      h3 {
        color: #5bb33a;
        border-color: #5eb12f;
      }
      .country-down {
        display: block;
      }
    }

    .marketing-mobile {
      display: inline-block;
      position: relative;

      .marketing {
        width: 220px;
        h3 {
          font-size: 14px;
          margin: 0 0 10px;
          border: 1px solid #ddd;
          padding: 20px 0 20px 20px;
        }
        .marketing-down {
          display: none;
          width: 150px;
          border: 1px solid #eee;
          border-radius: 5px;
          position: absolute;
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
          cursor: pointer;
          top: 63px;
          padding: 9px 0 15px;
          ul {
            list-style: none;
            padding-left: 0;
            li {
              padding: 7px 15px;
              color: #999;
              font-size: 13px;
            }
            li:hover {
              color: #5bb33a;
            }
            .division {
              //color: white;
              //background-color: #5eb12f;
            }
            .title {
              color: #555;
              padding: 8px 15px;
            }
            hr {
              margin: 0 12px 10px;
            }
            .division-hover-plus {
              width: 480px;
            }
            .division-hover {
              display: none;
              border: 1px solid #eee;
              min-width: 200px;
              position: absolute;
              left: 148px;
              top: 39px;
              color: #333;
              background-color: white;
              z-index: 100;
              padding: 10px;
              ul {
                display: inline-block;
                vertical-align: top;
                li {
                  padding: 7px 10px;
                }
                .title {
                  font-size: 14px;
                  color: #777;
                  padding-left: 0;
                  border-bottom: 1px solid #ddd;
                  margin: 0 10px;
                }
                .title:hover {
                  color: #5eb12f;
                }
              }
            }

            .division:hover {
              color: white;
              background-color: #5eb12f;
              .division-hover {
                display: block;
              }
            }
          }
        }
      }
      .marketing:hover {
        border-color: #5bb33a;
        z-index: 100;
        h3 {
          color: #5bb33a;
          border-color: #5eb12f;
        }
        .marketing-down {
          display: block;
        }
      }

      .platform {
        display: inline-block;
        width: 163px;
        position: relative;
        font-size: 14px;
        right: 4px;
        margin-right: -5px;
        h3 {
          font-size: 14px;
          margin: 0 0 10px;
          border: 1px solid #ddd;
          padding: 20px 0 20px 20px;
          text-align: left;
        }
        h3:hover {
          border-color: #5eb12f;
          color: #5eb12f;
        }
        .platform-down {
          display: none;
          width: 161px;
          border: 1px solid #eee;
          border-radius: 5px;
          position: absolute;
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
          cursor: pointer;
          top: 63px;
          left: 1px;
          padding: 10px 0 15px;
          ul {
            list-style: none;
            padding-left: 0;
            li {
              padding: 7px 15px;
              color: #999;
              font-size: 13px;
            }
            li:hover {
              color: white;
              background-color: #5eb12f;
            }
            .title {
              color: #555;
              font-size: 14px;
            }
            .title:hover {
              background-color: white;
              color: #555;
            }
            hr {
              margin: 0 15px 10px;
            }
          }
        }  
      }
      .platform:hover {
        border-color: #5bb33a;
        z-index: 100;
   
        .platform-down {
          display: block;
        }
      }
      .localization {
        display: inline-block;
        width: 163px;
        position: relative;
        font-size: 14px;
        right: 5px;
        margin-right: -5px;
        h3 {
          font-size: 14px;
          margin: 0 0 10px;
          border: 1px solid #ddd;
          padding: 20px 0 20px 20px;
          text-align: left;
        }
        h3:hover {
          border-color: #5eb12f;
          color: #5eb12f;
        }
        .localization-down {
          display: none;
          width: 161px;
          border: 1px solid #eee;
          border-radius: 5px;
          position: absolute;
          -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
          -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
          cursor: pointer;
          top: 63px;
          left: 1px;
          padding: 10px 0 15px;
          background-color: white;
          height: 250px;
          overflow-y: scroll;
          ul {
            list-style: none;
            padding-left: 0;
            li {
              padding: 7px 15px;
              color: #999;
              font-size: 13px;
            }
            li:hover {
              color: white;
              background-color: #5eb12f;
            }
            .title {
              color: #555;
              font-size: 14px;
            }
            .title:hover {
              background-color: white;
              color: #555;
            }
            hr {
              margin: 0 15px 10px;
            }
          }
        }
    
      }
      .localization:hover {
        border-color: #5bb33a;
        z-index: 100;
   
        .localization-down {
          display: block;
        }
      }
    }


    .cost {
      display: inline-block;
      width: 200px;
      border: 1px solid #ddd;
      position: relative;
      font-size: 14px;
      right: 5px;
      .cost-input {
        padding: 20px;
        text-align: left;
      }

      .cost-hover {
        display: none;
        position: absolute;
        bottom: 0;
        padding: 11px 5px;
        background-color: white;
        width: 197px;
        input {
          width: 58px;
          display: inline-block;
          margin: 0 7px 0 0;
          padding: 6px 4px;
          border: 0;
        }
      }
      h5 {
        display: none;
        color: #5bb33a;
        position: absolute;
        left: 10px;
        margin-top: 10px;
      }
    }
    .cost:hover {
      border-color: #5bb33a;
      .cost-hover {
        display: block;
        color: #5bb33a;
      }
      h5 {
        display: block;
      }
    }
    
    button {
      background-color: #5bb33a;
      color: white;
      width: 170px;
      //padding: 16px 0;
      margin: 0;
      border: 1px solid #5eb12f;
      border-radius: 0 10px 10px 0;
      font-size: 17px;
      position: relative;
      right: 9px;
      bottom: 1px;
      //top: 1px;
      height: 56px;
      vertical-align: middle;

      img {
        position: relative;
        margin-left: 10px;
        vertical-align: middle;
      }

    }
    button:hover {
      background-color: #4ca826;
    }
  }
}





