.main-bg {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 100%;
}


.main {
  position: relative;
  text-align: center;
  padding: 150px 0 350px;


  .subheadline {
    color: #2f2f2f;
    font-size: 26px;
    margin: 30px 0 10px;
  }


  .select {
    background-color: white;
    padding-left: 10px;
    display: inline-block;
    margin-top: 20px;
    padding-left: 0;


    .drop {
      background-color: white;
      display: inline-block;
      text-align: left;
      position: relative;
      
    }

    .country {
      width: 150px;
      position: relative;
      left: 5px;

      h3 {
        font-size: 14px;
        margin: 0 0 10px;
        border: 1px solid #eee;
        border-radius: 10px 0 0 10px;
        padding: 20px 0 20px 20px;
      }
      h3:hover {
        border-color: #5eb12f;
      }
      .country-down {
        display: none;
        width: 150px;
        border: 1px solid #eee;
        border-radius: 5px;
        position: absolute;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
        padding-top: 10px;
        cursor: pointer;
        top: 63px;
        max-height: 250px;
        overflow-y: scroll; 
        ul {
          list-style: none;
          padding-left: 0;
          li {
            padding: 3px 15px;
            color: #bbb;
            font-size: 13px;
          }
          li:hover {
            color: #5bb33a;
          }
          .title {
            color: #777;
          }
          hr {
            margin: 3px 15px;
          }

          .other-tooltip {
            display: none;
            border: 1px solid #eee;
            border-radius: 5px;
            position: absolute;
            left: 158px;
            bottom: -18px;
            color: #ccc;
            width: 250px;
            padding: 10px 13px;
            background-color: white;
          }

          .other:hover {
            .other-tooltip {
              display: block;
            }
          }
        }
      }
    }
    .country:hover {
      border-color: #5bb33a;
      z-index: 100;
      h3 {
        color: #5bb33a;
        border-color: #5eb12f;
      }
      .country-down {
        display: block;
      }
    }

    .marketing-mobile {
      display: inline-block;
      position: relative;
      //margin-right: -4px;

      .marketing {
        width: 230px;
        h3 {
          font-size: 14px;
          margin: 0 0 10px;
          border: 1px solid #eee;
          padding: 20px 0 20px 20px;
        }
        .marketing-down {
          display: none;
          width: 150px;
          border: 1px solid #eee;
          border-radius: 5px;
          position: absolute;
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
          cursor: pointer;
          top: 63px;
          ul {
            list-style: none;
            padding-left: 0;
            li {
              padding: 10px 15px;
              color: #bbb;
              font-size: 13px;
            }
            li:hover {
              color: #5bb33a;
            }
            .title {
              color: #777;
            }
            hr {
              margin: 3px 15px;
            }
            .division-hover {
              display: none;
              border: 1px solid #eee;
              min-width: 530px;
              position: absolute;
              left: 148px;
              top: -1px;
              color: #333;
              background-color: white;
              z-index: 100;
              ul {
                display: inline-block;
                padding: 8px;
                vertical-align: top;
                li {
                  padding: 2px 10px;
                }
                .title {
                  font-size: 16px;
                  padding-bottom: 10px;
                  color: #777;
                }
              }
            }

            .division:hover {
              .division-hover {
                display: block;
              }
            }
          }
        }
      }
      .marketing:hover {
        border-color: #5bb33a;
        z-index: 100;
        h3 {
          color: #5bb33a;
          border-color: #5eb12f;
        }
        .marketing-down {
          display: block;
        }
      }

      .platform {
        display: inline-block;
        width: 163px;
        position: relative;
        font-size: 14px;
        right: 4px;
        margin-right: -5px;
        h3 {
          font-size: 14px;
          margin: 0 0 10px;
          border: 1px solid #eee;
          padding: 20px 0 20px 20px;
          text-align: left;
        }
        h3:hover {
          border-color: #5eb12f;
          color: #5eb12f;
        }
        
        .platform-down {
          display: none;
          width: 160px;
          border: 1px solid #eee;
          border-radius: 5px;
          position: absolute;
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
          padding-top: 10px;
          cursor: pointer;
          top: 63px;
          ul {
            list-style: none;
            padding-left: 0;
            li {
              padding: 3px 15px;
              color: #bbb;
              font-size: 13px;
            }
            li:hover {
              color: #5bb33a;
            }
            .title {
              color: #777;
            }
            hr {
              margin: 3px 15px;
            }
          }
        }  
      }
      .platform:hover {
        border-color: #5bb33a;
        z-index: 100;
   
        .platform-down {
          display: block;
        }
      }
    }


    .cost {
      display: inline-block;
      width: 200px;
      border: 1px solid #eee;
      position: relative;
      font-size: 14px;
      right: 4px;
      bottom: 1px;
      input {
        border: 0;
        padding-left: 10px;
        height: 55px;
      }
      .cost-hover {
        display: none;
        position: absolute;
        bottom: 0;
        padding-left: 10px;
        background-color: white;
        input {
          width: 60px;
          display: inline-block;
          margin: 0 3px;
        }
      }
      h5 {
        display: none;
        color: #5bb33a;
        position: absolute;
        left: 10px;
      }
    }
    .cost:hover {
      border-color: #5bb33a;
      .cost-hover {
        display: block;
        color: #5bb33a;
      }
      h5 {
        display: block;
      }
    }
    
    button {
      background-color: #5bb33a;
      color: white;
      width: 170px;
      padding: 16px 0;
      margin: 0;
      border: 1px solid #5eb12f;
      border-radius: 0 10px 10px 0;
      font-size: 17px;
      position: relative;
      right: 7px;
      top: 1px;
      height: 57px;
      img {
        position: relative;
        margin-left: 10px;
      }

    }
    button:hover {
      background-color: #4ca826;
    }
  }
}





