.right-height {
  .carousel {
    position: relative;
    .carousel-indicators {
      top: 0;
      bottom: 0;
      margin-left: 0;
      li {
        width: 130px;
        height: none;
        margin: none;
        border-radius: none;
        text-indent: none;
        border: none;
        background-color: #eee;
      }
    }
  }  
}
