/* product-card-view */

.product-card-view {
  padding: 50px 0 100px;

  .container {
    width: 1250px;
    text-align: center;


    .product-card {

      $line-color: #ddd;

      position: relative;
      display: inline-block;
      border: 1px solid $line-color;
      width: 282px;
      margin: 25px 10px;

      h3 {
        position: absolute;
        color: white;
        background-color: #a76e2a;
        padding: 10px 20px;
        margin: 0;
        top: 0;
        right: 0;
        font-size: 15px;
      }
      h5 {
        text-align: left;
        padding-left: 20px;
        font-size: 16px;
        color: #5eb12f;
        margin-top: 15px;
      }
      p {
        font-size: 13px;
        text-align: left;
        padding: 0 20px;
        margin-bottom: 15px;
      }
      .product-card-footer {
        border-top: 1px solid $line-color;
        text-align: left;
        div {
          display: inline-block;
          width: 138px;
          h5 {
            display: inline-block;
            color: #aaa;
            text-align: left;
            line-height: 20px;
            font-size: 13px;
            margin: 15px 0;
            span {
              font-size: 15px;
              color: #111;
            }
          }
        }
        .right {
          border-left: 1px solid $line-color;
        }
      }
    }
  }
}



/* product-table-view */
.product-table-view {
  padding: 50px 0 100px;

  .container {
    width: 1250px;
    text-align: center;

    table {
      width: 100%;
      margin-top: 50px;
      text-align: left;
      color: #424242;

      .table-header {
        background-color: #eee;
        font-size: 12px;
        td {
          padding: 10px 20px;          
        }
        .company-img {
          padding-left: 20px; 
        }
      }
      .table-body {

        $table-big-font: 17px;

        td {
          border-bottom: 2px dotted #bbb;
          padding: 22px 20px;
          font-size: $table-big-font;
          button {
            background-color: #5eb12f;
            color: white;
            padding: 10px 20px;
            border: 0;
            border-radius: 10px;
          }
        }
        .company-img {
          padding-right: 0;
          width: 140px;
          img {
            width: 120px;
          }
        }
        .name {
          width: 280px;
          color: #5eb12f;
          font-size: $table-big-font;
        }
        .service {
          width: 280px;
          font-size: $table-big-font - 3px;
        }
        .rating {
          color: #5eb12f;
          font-size: $table-big-font + 10px;

          span {
            color: #777;
            font-size: $table-big-font - 3px;
          }
        }
      }
    }
  }
}











