/* product-card-view */

.product-card-view {
  padding: 50px 0 100px;

  .container {
    width: 1250px;
    text-align: center;


    .product-card {

      $line-color: #ddd;

      position: relative;
      display: inline-block;
      border: 1px solid $line-color;
      width: 282px;
      margin: 25px 10px;

      h3 {
        position: absolute;
        color: white;
        background-color: #a76e2a;
        padding: 10px 20px;
        margin: 0;
        top: 0;
        right: 0;
        font-size: 15px;
      }
      h5 {
        text-align: left;
        padding-left: 20px;
        font-size: 16px;
        color: #5eb12f;
        margin-top: 15px;
      }
      p {
        font-size: 13px;
        text-align: left;
        padding: 0 20px;
        margin-bottom: 15px;
      }
      .product-card-footer {
        border-top: 1px solid $line-color;
        text-align: left;
        div {
          display: inline-block;
          width: 138px;
          h5 {
            display: inline-block;
            color: #aaa;
            text-align: left;
            line-height: 20px;
            font-size: 13px;
            margin: 15px 0;
            span {
              font-size: 15px;
              color: #111;
            }
          }
        }
        .right {
          border-left: 1px solid $line-color;
        }
      }
    }
  }
}


  .test-upload-img {
    $img-width-height: 80px;
    cursor:pointer;
    width: $img-width-height;
    height: $img-width-height;
    display: inline-block;
    margin: 5px;

    vertical-align:middle;
    p {
      display: none;
      position:absolute;
      background-color: rgba(0, 0, 0, 0.5);
      color: white !important;
      width: $img-width-height;
      height: $img-width-height;
      padding-top:30px;
      padding-bottom:30px;
      text-align: center;
      vertical-align:middle;
    }
  }
  .test-upload-img:hover {
    p {
      display: block;
    }
  }



.imagepreview {
  vertical-align:middle;
     background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
  display:none; width:80px !important; height:80px !important;   

}
.img_name {
display:none; width:150px !important;;
}

.prolang_box {
  word-break:break-all;
}






