.ready {
  text-align: center;
  padding: 50px 0 100px;
  width: 990px;
  display: inline-block;
  background-color: white;
  float: right;
  //padding: 20px 30px 100px;
  h1 {
    color: #555;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
    font-weight: 700;
    span {
      color: #5eb12f;
    }
  }
  img {
    margin: 40px 0;
  }
  p {
    font-size: 18px;
    line-height: 28px;
    margin: 10px 0 25px;
    color: #858585;
  }
  .date {
    font-size: 20px;
    padding: 13px 15px;
    border: 3px solid #aaa;
    border-radius: 5px;
    width: 700px;
    margin: 55px auto;
    span {
      color: #5eb12f;
    }
  }
}