<div class="cart container">
  <h1>Cart</h1>

  <table>
    <tr class="header">
      <td class="cp-name">Company Name</td>
      <td class="sv-name">Service Name</td>
      <td>Cost</td>
      <td>Qty.</td>
      <td>Sum</td>
    </tr>
    <%=@user.carts.each do |cart|%>
      <tr>
        <td><%=cart.product.company.name%></td>
        <td><%=cart.product.name%></td>
        <td><%=cart.product.costs.first.amount%></td>
        <td><input type="text" placeholder="Insert the Quantity"></td>
        <td>X</td>
      </tr>
    <%end%>
  </table>
  <div class="total">
    <h3>Total : <span>$7,500</span></h3>
  </div>

  <div class="check-left">
    <input type="checkbox"> I have read and agree to the <span>Terms of Use</span> and <span>Privacy Policy</span>
  </div>

  <div class="btn-right">
    <button class="btn">Keep Jungggling</button>
    <button class="btn btn-checkout">Checkout Now</button>
  </div>

</div>


